[2017-09-07 09:20] PMehrfeld commented on #403
Just as a quick hint: We have a easy-to-use converter for *.mat --> *.nc in our ebc_python_library :)

[2017-09-15 07:49] fab6 opened #445 "Error message when loading library in OpenModelica v1.11.0"
Hi,

I just tried to load the library (latest git) with openmodelica on linux.

Unfortunately I get the following error message:

[1] 09:02:21 Syntax Warning
[/share/Tools/THERMO/MODELICA/Libraries/AixLib_RWTH/AixLib/Utilities/Communication/SocketCommunication/Functions/TCP/package.mo: 6:36-6:482]: Lexer treating \ as \\, since \h is not a valid Modelica escape sequence.

[2] 09:02:21 Translation

[2017-09-15 08:01] AnaConstantin commented on #445
Hi, sorry for the error, apparently there is a rougue "RadiatorTypes" in the mentioned package.order which we didn't catch at the last checks.
We'll fix it. Until then you should be able to load the library is you just go to [/share/Tools/THERMO/MODELICA/Libraries/AixLib_RWTH/AixLib/Fluid/HeatExchangers/Radiators/BaseClasses/package.order] and delete the last line where RadiatorTypes is written fo

[2017-09-15 09:00] fab6 commented on #445
Thank you for the quick help! Yes, it works now.

[2017-09-18 14:45] MoritzJaeger opened #446 "Wrong thickness value in DataBase\Walls\EnEV2002\Floor"
## What is the problem?

- In the data record **FLground_EnEV2002_SML** the thickness of the first wall layer is 0.4 m. This seems like a very large value according to the other data records for floors connected to the ground. My guess is that we are missing a zero so that the value should be 0.04 m.

## Why do we want to solve it?
Wrong results when using EnEv2002 as insulation standard
- If the

[2017-09-18 15:12] mlauster commented on #446
@MoritzJaeger, a bit more information in the comments section, what you would like to do and why, would be helpful.

[2017-09-19 05:48] MoritzJaeger commented on #446
@mlauster, I edited the comment section a bit but I don't really know if my guess of 0.04 meters is correct.

[2017-09-19 13:26] PMehrfeld commented on #446
@MoritzJaeger I think you might be right. Especially, when we compare this to analogous records like `AixLib.DataBase.Walls.WSchV1995.Floor.FLground_WSchV1995_SML`.
@AnaConstantin What do you think? You implemented these records. Probably this bug has to be fixed.

[2017-09-21 09:51] AnaConstantin commented on #446
@MoritzJaeger thank you for finding this out. You are right, it should be 0.04. Please change it and I will be happy to review the pull request.

[2017-09-21 11:16] PMehrfeld commented on #445
Closed by #447

[2017-09-21 11:16] #445 closed

[2017-09-21 11:18] PMehrfeld opened #448 "Warnings in OpenModelica"
## What is the problem?

- 34 Warnings are raised of type `OpenModelica (64-bit) only supports 63-bit signed integers!` (In HVACAgentBasedControl or DataBase packages)
- 1 Warning is raised of type `Lexer treating \ as \\, since \h is not a valid Modelica escape sequence.`

## Why do we want to solve it?

- To achieve compatibility with OM

Tested with OM v1.11.0 (64-bit).
If using the development

[2017-09-21 14:17] MoritzJaeger commented on #446
@AnaConstantin  I would be happy to do that but when I try to push my changes to the issue branch i get this error message:   Permission to RWTH-EBC/AixLib.git denied.

[2017-09-21 14:27] mlauster commented on #446
@MoritzJaeger, I added you to the corresponding group of developers, can you push now?

[2017-09-22 09:48] MoritzJaeger commented on #446
@mlauster, yes it worked. Thank you

[2017-09-25 07:33] thorade commented on #448
https://trac.openmodelica.org/OpenModelica/wiki/WritingCompliantLibraries#LargeIntegervalues

Easy to fix: Just append a `.0` to the number, e.g. `123456789.0` instead of `123456789`.

[2017-09-25 07:34] thorade commented on #427
#448 is a good first issue

[2017-09-25 07:41] PMehrfeld commented on #448
Thanks @thorade.
So the issue is open for everyone now.

[2017-09-25 07:41] PMehrfeld commented on #427
@tstorek: Is this interesting for you?

[2017-09-25 10:36] #446 closed

[2017-10-05 14:52] MirkoEngelpracht commented on #408
Hello everybody,
the issue is solved and ready to be reviewed.

I've added a few examples and validation models. Within the validation models, I've checked all medium functions including the fitted formulas as well as the derivatives. Furthermore, I've compared the results to external media libraries, i.e. the HelmholtzMedia library and ExternalMedia library.

Actually, some problems occur while u

[2017-10-06 10:30] larissakuehn opened #452 "FastHVAC: simulation of HeatPump with JModelica"
## What is the problem?

 I am trying to run some models I constructed in Dymola with JModelica. I just recognised that JModelica has a problem with the HeatPump model (AixLib.FastHVAC.Components.HeatGenerators.HeatPump.HeatPump)
out of the Fast_HVAC (Branch: Issue309_Fast_HVAC).
The following errors apear trying to simulate it with JModelica:
"Cannot find component declaration for Corr_icing"
"Il

[2017-10-09 17:32] mla-srs commented on #397
Closed by #405.

[2017-10-09 17:32] #397 closed

[2017-10-11 07:40] larissakuehn opened #454 "FastHVAC: ThermostaticValve"
## What is the problem?
The model "ThermostaticValve" (AixLib.FastHVAC.Components.Valves.ThermostaticValve) is using the following linear valve charactteristic:

HVAC.Components.Valves.BaseClasses.ValveCharacteristics.linear

which is not available.

## How do we want to solve it?
We can solve this problem by using the linear valve Characteristic from the Modelica Library.
( Modelica.Fluid.Valves.

[2017-10-12 14:46] mlauster commented on #412
If I got it correct, the reintegration is no longer necessary. Fot now, I close that issue

[2017-10-12 14:46] #412 closed

[2017-10-12 14:47] mlauster commented on #410
As @PooyanJahangiri left the institute, I assume this is a dead issue, will be closed. I will leave the branch in case somebody wants to pick up.

[2017-10-12 14:47] #410 closed

[2017-10-12 14:47] mlauster commented on #409
@mschumacher247, is this read to be merged?

[2017-10-12 14:49] mlauster commented on #389
@alexanderAKU, is there still interest in further discussion or should we close this issue?

[2017-10-12 14:51] mlauster commented on #386
I will close this issue for now as the decision has been made. When we start with implementing a new structure in dependence of IBPSA library, we can reopen it.

[2017-10-12 14:51] #386 closed

[2017-10-12 15:03] mlauster commented on #360
@alexanderAKU, what is the status on this? There aren't any commits so far mentioning this this issue.

[2017-10-12 15:05] mlauster commented on #357
Could we discuss this work in #360, @MBaranskiEBC and @KFinkbeiner ? We currently have several issues handling similar things.

[2017-10-12 15:07] mlauster commented on #353
Has this issue been split up in #402 and #403, @marcusfuchs and @MBaranskiEBC ? We could then close this issue.

[2017-10-12 15:12] mlauster commented on #336
If you are already revising documentation, is this ready to merge, @TobiasBlacha?

[2017-10-12 15:13] mlauster commented on #335
As you are already revising documentation, is this ready to merge, @TobiasBlacha?

[2017-10-12 15:14] mlauster commented on #332
@AnaConstantin, what is the further plan with this?

[2017-10-12 15:15] mlauster commented on #310
Could we close this issue and have further discussion in #360 to prevent similar discussions in several issues, @KFinkbeiner?

[2017-10-12 18:29] mlauster commented on #293
Is someone still interested in moving that model? Otherwise we could close that issue

[2017-10-12 18:31] mlauster commented on #277
@AnaConstantin, just a quick update, is this still an open issue?

[2017-10-12 18:35] mlauster commented on #268
@tstorek, is this still an issue for you or did you find a working solution?

[2017-10-12 18:40] mlauster commented on #181
If I remember correctly, @AnaConstantin and me decided to move to the new weather model from IBPSA library. However, to allow a smooth transition for the users, we will keep the old model for a while and possibly move it as part of #276 . Thus, I will close this issue.

[2017-10-12 18:40] #181 closed

[2017-10-13 09:38] PMehrfeld commented on #293
In my opinion, a solar thermal collector would definitely beneficous for us (as long as no similar model exist in the other libraries)!

1. @KFinkbeiner: Can you wrap up your investigation about the differene models in the different libraries. We do not need to have something redudant.

1. If we leave the solar thermal collector, which is already in master, we have to correct it:

- [ ] The effici

[2017-10-13 09:42] PMehrfeld commented on #268
@tstorek: I absolutely agree with @marcusfuchs' comment!
Just set the input to 0 and everything is fine, right?
Especially, since we are aiming to keep control and component separated.

[2017-10-13 09:45] PMehrfeld opened #456 "PVSystem in Fluid package."
## What is the problem?

- `AixLib.Fluid.Solar.Electric.PVSystem` should not be in the sub-package `Fluid`
- I cannot find any discussion about the path in #280 or the according PR #291.

## Why do we want to solve it?

- It is wrong ;)

## How do we want to solve it?

- Introduce a package `AixLib.Electric`.
- Especially, when we think of a battery model and other possible future models, this wou

[2017-10-13 09:49] PMehrfeld commented on #456
Battery model will be inserted into `AixLib.Building.BatterModel`, see #444.
When PR is done and we decide (only if we decide so) to create a new sub package `Electric`, we should move the battery model.

[2017-10-13 09:58] KFinkbeiner commented on #310
Sorry for missed comments. The current status of the development is:
1. A list of all AHU components is prepared
2. Refering the thermodynamic function (coolin, heating...) and the used technology, the list is sorted
3. The component performance is identified in the Mollier diagram and is described by corresponding equations
4. First component models are implemented and we run first tests

[2017-10-13 12:24] tstorek commented on #268
@mlauster I think I will work for now with the movers that are already existing. That works fine for now.
@PMehrfeld Yes, that is a possible solution. I am not exactly sure but I think that the models changed since I opened the issue and forgot to close it. However, by setting the m_flow to zero would not exactly do the same as a switch. Nevertheless, for the solver it is probably easier to handle

[2017-10-13 12:40] tstorek commented on #410
Maybe it will be interesting the combine his approach with the approach of the batteryrooms and racks #406 ?

[2017-10-13 15:26] PMehrfeld commented on #268
Thanks. Sounds like we can close this issue.
No branch exists to this issue, so we do not need to delete any branch.
If you want to model this approach for volume flow, you can just open a new issue, @tstorek

[2017-10-13 15:26] #268 closed

[2017-10-14 14:04] MirkoEngelpracht opened #457 "Expansion valves and two-phase tank for modular heat pumps"
## What is the problem?

This issue is a work package for issue #407.

Currently, there are no expansion valve models that allow to handle two-phase media (e.g. refrigerants #408). Therefore, we want to add models of expansion valves.

Moreover, there are currently no two-phase tank models that are required within close loop systems of, for example, heat pumps. Therefore, we want to add a model of

[2017-10-16 09:37] TobiasBlacha commented on #335
I have adapted the documentation and I have removed old parts of code for the pipe model. @mlauster I think the model is ready for a review.

[2017-10-16 14:17] larissakuehn opened #460 "PVSystem is only connectable with old weather model"
## What is the problem?
In AixLib there is only a PV System (AixLib.Fluid.Solar.Electric.PVSystem) which is compatible to the old weather model, because it is only connectable with a solar radiation connector (AixLib.Utilities.Interfaces.SolarRad_in).

## Why do we want to solve it?
We want to solve this problem in order to use the model in combination with the new weather model.

## How do we wan

[2017-10-17 15:06] PMehrfeld commented on #460
@larissakuehn: Thanks for the well written issue!
I am aiming to use the model with the old weather bus, since the High Order Models are still using this one.

Thus, from my point of view a modelling approach with base class and then having two models with different weather bus models seems to be a good idea.

Anyway, you should also compare the two models (AixLib and Buildings) to each other. Fro

[2017-10-17 16:49] alexanderAKU opened #462 "Modular Hydraulic Systems"
## What is the problem?

- Many hydraulic systems consist of specific hydraulic modules e.g. injection circuit or admix circuit. The AixLib doesn't contain complete hydraulic modules, thus standard hydraulic systems have to be modeled for every new model.
Identifying and modeling hydraulic modules is a part of the project ZUGABE.
This issue aims to transfer the developed modules to the AixLib.

##

[2017-10-17 16:54] alexanderAKU commented on #462
The following hydraulic modules will be transfered:

- [ ] admix circuit
- [ ] injection circuit
- [ ] Throttle circuit with pump
- [ ] Throttle circuit
- [ ] unmixed circuit

@pema1 I going to use the SpeedControlled_Nrpm pump (in AixLib.Fluid.Movers)

[2017-10-18 08:23] larissakuehn commented on #460
@PMehrfeld:
Yes, that's right the efficiency in Buildings is constant. There is only one equation for solar power in the model. Therefore I now modified the model out of the AixLib.

I will create a Pull request to the development branch, or which branch would you recommend?

I need the model as well in the branch issue309_fastHvac because I am working with the models out of the FastHvac... But in

[2017-10-19 09:18] PMehrfeld opened #464 "Default path to weather file of HOM not correct"
## What is the problem?

- Path to weather file not valid in the HOM weather model and the according example.

## Why do we want to solve it?

- No simulation possible.

## How do we want to solve it?

- Replace with correct path and LoadResource function `Modelica.Utilities.Files.loadResource()`

Although it is more or less just a bugfix I would like to merge it into development.

[2017-10-19 09:29] PMehrfeld opened #466 "Change ambient temperature in model to determine the heat load of the HOM building"
## What is the problem?

- Heat load of HOM is set to 271.15 K instead of 261.15 K.

## Why do we want to solve it?

- Aachen's reference temperature is -12 degC

## How do we want to solve it?

- change `constAmb(k=271.15)` to `constAmb(k=271.15)` in `AixLib.Building.HighOrder.Examples.OFDHeatLoad.mo`

[2017-10-19 13:03] MirkoEngelpracht opened #467 "Compressors for modular heat pumps"
## What is the problem?

This issue is a work package for issue #407.

Currently, there are no compressor models that allow to handle two-phase media (e.g. refrigerants #408). Therefore, we want to add models of compressors.

## Why do we want to solve it?

We want to solve this for issue #407: The compressor can be used, for example, for close loop systems such as heat pumps or chillers.

## How

[2017-10-22 19:21] MBaranskiEBC commented on #462
@alexanderAKU I appreciate a lot that you aim to include the modules. I further believe that the modules will also solve #357. So, I would like to assist here by building the example I had created in #357 using the modules. The example is a model of an air handler we have in our research lab.

[2017-10-23 06:37] MBaranskiEBC commented on #357
With regard to my comment on #462, I'll close this issue.

[2017-10-23 06:37] #357 closed

[2017-10-23 13:22] #303 closed

[2017-10-24 07:05] AnaConstantin commented on #277
It is still open. I looked over it again. It might take some time to implement, but it is very interesting, since the TCP/IP interface in ModelicaDeviceDrivers seems to be more robustely constructed.

[2017-10-24 07:39] PMehrfeld commented on #464
Closed via #465

[2017-10-24 07:39] #464 closed

[2017-10-25 09:58] SebastianStinner commented on #337
Yes, we are trying to bring all the models into this branch and merge them into issue309_fastHVAC

[2017-10-25 12:49] RoozbehSangi opened #471 "Documentation view of the HVACAgentBasedControl library"
## What is the problem?

- The documentation view of models in the HVACAgentBasedControl library are not up to date.

## Why do we want to solve it?

- To update the documentation view of models with new references.

## How do we want to solve it?

- By adding new references to the documentation view.

[2017-10-25 12:50] RoozbehSangi opened #472 "Name of the cost functions in the HVACAgentBasedControl library"
## What is the problem?

- The economic cost functions in the HVACAgentBasedControl library have not been named properly.

## Why do we want to solve it?

- The current names of the economic cost functions do not reflect the contents of the cost functions.

## How do we want to solve it?

- By selecting proper names for the economic cost functions.

[2017-10-25 12:52] RoozbehSangi opened #473 "Diagram view of the cost functions in the HVACAgentBasedControl library"
## What is the problem?

- The diagram view of the cost functions in the HVACAgentBasedControl library is not well-ordered.

## Why do we want to solve it?

- It would help the user readily understand the principles of the cost functions.

## How do we want to solve it?

- By improving the diagram view.

[2017-10-25 14:50] #439 closed

[2017-10-25 15:14] #471 closed

[2017-10-25 15:34] #472 closed

[2017-10-25 15:42] MirkoEngelpracht opened #479 "Data bus connectors for modular heat pumps"
## What is the problem?

This issue is a work package for issue #407.

Currently, there are no expandable connectors (data bus connectors) for the modular heat pump model that is developed in #407. Therefore, we want to add such data bus connectors.

## Why do we want to solve it?

Data bus connectors have the advantage that a huge amount of control signals can be easily passed between two or even

[2017-10-25 15:58] PMehrfeld commented on #479
Thanks for opening the issue.

Discussing this with @fstinner and probably @MBaranskiEBC is necessary, since some work in this direction is already going on.

E.g. issue #354 is already talking about implementing a bus.

[2017-10-25 16:04] MirkoEngelpracht commented on #479
@PMehrfeld, thanks for your hint.

I've already discussed that with @tstorek , @alexanderAKU  and @cvering, however,  I'll talk to them.

[2017-10-25 16:13] cvering commented on #479
@PMehrfeld
Thanks for the hint! I think the work done before is a one dimensional problem. The BUS connector introduced by @MirkoEngelpracht is a high dimensional one.
This is a modelling approach that @alexanderAKU uses for his modular pipe models as well. I think there is no need for discussion with @fstinner and/or @MBaranskiEBC.

[2017-10-26 06:51] tstorek commented on #479
@PMehrfeld
Thank you for your comments as @cvering already mentioned. The data bus for the modular heat pump model is easily interchnagable, however, it will cover the most information needed for heat pumps. Thus, rather a modelling approach than actually a convention. The work done by @fstinner  is a convention for naming datapoints, which can be easily integrated on a further issue. Thank you @M

[2017-10-26 07:13] PMehrfeld commented on #479
Alright, then I am fine with it.

So, maybe we have to adapt the variable names a bit afterwards?

[2017-10-26 07:55] #473 closed

[2017-10-26 08:58] PMehrfeld commented on #274
Work continues in #486

[2017-10-26 09:22] TobiasBlacha opened #487 "PVSystem manufacturer data sheets"
## What is the problem?
The links to the manufacturer data sheets in the documentation of `AixLib.Fluid.Solar.Electric.PVSystem` and `AixLib.Fluid.Solar.Electric.PVSystemTMY3` are not available any more.
- ...

## Why do we want to solve it?

- ...

## How do we want to solve it?

- ...

[2017-10-26 10:16] tstorek opened #488 "Adding package Electric"
## What is the problem?
- So far there is no package to address future and existing models of electric components

## Why do we want to solve it?
- We want to organize our models in a sensable manner
This will help to solve issue #456

## How do we want to solve it?
- Introduce a package AixLib.Electric.

[2017-10-26 13:36] #488 closed

[2017-10-26 13:39] tstorek opened #491 "Adding icon to package Electric"
## What is the problem?
- So far there is no icon for the package Electric

## Why do we want to solve it?
- We want to have the same style as for the other packages and libraries

## How do we want to solve it?
- Integrating the icon from modelica standard library

[2017-10-26 14:04] tstorek opened #493 "Renaming Package Electric"
## What is the problem?

In other libraries the package for these kind of components is named Electrical

## Why do we want to solve it?

We want to be consistent with other libraries

## How do we want to solve it?

Change the package to name to Electrical

[2017-10-26 14:21] #491 closed

[2017-10-26 15:21] tstorek commented on #479
@PMehrfeld yes indeed. That could happen. However, that will be only a minor issue (Good First?)

[2017-10-26 15:49] SebastianStinner opened #495 "Parameters in HeatConvPipeInside must be set"
## What is the problem?

- Parameters in this model are fixed and not taken from the upper level.

## Why do we want to solve it?

- Because changes in upper level parameters do not influence the parameters in this component.

## How do we want to solve it?

- Take the parameters of the upper level.

[2017-10-27 06:54] #493 closed

[2017-10-27 06:55] PMehrfeld commented on #479
Only as long as it does not come to conversion scripts ;-)

[2017-10-27 06:57] PMehrfeld commented on #479
Does #483 really solve all problems in this issue, @tstorek?
Because you said so in your [last comment](https://github.com/RWTH-EBC/AixLib/pull/483#issuecomment-339741566).

[2017-10-27 10:08] MSteinbach commented on #466
I've changed the ambient heat temperature to Aachen's reference temperature of 261.15 K

[2017-10-27 10:38] PMehrfeld commented on #466
Merged via #497

[2017-10-27 10:38] #466 closed

[2017-10-27 11:28] PMehrfeld commented on #460
closed via #463

[2017-10-27 11:28] #460 closed

[2017-10-27 11:29] PMehrfeld commented on #427
you had some ;)

[2017-10-27 11:29] #427 closed

[2017-10-27 11:54] PMehrfeld commented on #302
Now in development via #350

[2017-10-27 11:54] #302 closed

[2017-11-09 10:57] DaJansenGit commented on #337
The new heat tranfser models are now merged into [ issue337_heatTransferStorage](https://github.com/RWTH-EBC/AixLib/tree/issue309_fastHvac) #502

[2017-11-09 16:09] DaJansenGit commented on #495
problem should be solved with this commit: [fixed problem with parameters in heatcoil ](https://github.com/RWTH-EBC/AixLib/commit/248e3d3c52f3b74213ab7e853a00911a4a6f0b67)
@SebastianStinner

[2017-11-10 18:16] JayHuLBL opened #503 "Use dymola-python interface in Ubuntu system"
This is a general question about using Dymola Python Interface. Since you have a Wiki page introducing how to use the interface in Windows system, I wonder if you have used the interface in Linux system like Ubuntu.

In order to run the interface, I did following modification:
1. Add following section into `.bashrc` file
[code]
2. Updated the `DymolaExample.py` file (find it in folder `/opt/dymola

[2017-11-13 12:23] marcusfuchs commented on #503
@JayHuLBL
Thanks for sharing your approach. Unfortunately, we have so far only used the interface on Windows systems. Therefore, I am afraid we can't test your modifications. Is your modification working on your setup? If so, we could add it to the Wiki post.

[2017-11-13 18:12] JayHuLBL commented on #503
@marcusfuchs It's unlucky that the modification is still not working. It gives following error message:
[code]

Although in the Dymola user manual says that we just need to modify the path environments and nothing else needs to be changed, I am sure that Dassault did do the implementation in Ubuntu system but with other minor changes without explicitly introduced in the annual. I may follow up wit

[2017-11-13 18:12] #503 closed

[2017-11-14 12:00] GemsHSLU opened #504 "Number of Events ventCont"
Generation of Event for Tamb_mean <= 2723.15K even with useConstantOutput = true

Code AixLib.Controls.VentilationController.VentilationController:
 if useConstantOutput then
    userACH = 0;
    dToh = 0;
    overheatingACH = 0;
    dTamb = 0;
    dTmin = 0;
    redFac = 0;
    summerACH = 0;
  else

...

    summerACH = if dTamb > 0 then min(dTamb*maxSummerACH[1], maxSummerACH[1])
       else 0;

[2017-11-14 12:00] marcusfuchs commented on #503
Thanks for the update and sorry that we cannot help here. If you find a solution, we would of course be happy to include it in our Wiki.

[2017-11-20 07:38] tbeu commented on #277
I gave three reasons in https://github.com/RWTH-EBC/AixLib/issues/149#issuecomment-240334394 why current design has some drawbacks.
I recommend to apply the function layer API of the M_DD communication interface only and avoid the blocks layer API.

Since it is not complex to do it, I believe it is some resource=time constraint, which is the bottleneck to keep this issue open for more than 13 mont

[2017-11-24 10:59] TobiasBlacha opened #508 "Incorrect documentation of the HeatPumpBaseDataDefinition"
## What is the problem?
The description of the HeatPumpBaseDataDefinition records in the documentation is not correct. The power values depending on the condenser outlet temperature and the evaporator inlet temperature, not on evaporator inlet and outlet temperature.

## How do we want to solve it?
Correction of documentation.

[2017-11-24 13:45] TobiasBlacha commented on #503
Sorry, this is a typing error. The commit  for correction of the documentation of HeatPumpDataBaseDefinition refers to the branch #508

[2017-11-27 08:41] PMehrfeld commented on #508
Closed via #509

[2017-11-27 08:41] #508 closed

[2017-11-28 11:30] PMehrfeld opened #510 "HeatPumpDetailed --> mistake in calculating Qdot_con(Out)"
## What is the problem?

- The model `AixLib.Fluid.HeatPumps.BaseClasses.CycleHP` transfers a heat flow into the condenser, while this heat flow is limited according to a maximal temperature. This is achieved by multipliying `Qdot_con` with a pre-factor 0..1. The resulting `CoP_out` is calculated with `Qdot_con` but only the corrected `Qdot_conOut` is transferred to the condenser.

## Why do we wa

[2017-11-28 11:30] PMehrfeld commented on #510
This is the problematic part:

![grafik](https://user-images.githubusercontent.com/11769433/33317608-f281e146-d437-11e7-9ff7-1b4fccdbd911.png)

[2017-11-30 15:11] DaJansenGit opened #511 "Travis CI blocks merge because of html errors"
## What is the problem?
- the Travis CI routine doesn't accept some html code that is automatic created by dymola.
- on the other side correct html code isn't accepted by dymola

## Why do we want to solve it?
- no merge is possible without reviewing the html code of every model by hand
## How do we want to solve it?
- creating a script that automatic discovers wrong html code in models and conver

[2017-12-04 13:16] marcusfuchs opened #513 "Merge latest IBPSA into AixLib (new release)"
The [Modelica IBPSA Library](https://github.com/ibpsa/modelica-ibpsa) has reached a new milestone: We have finally [merged the plug flow pipe model](https://github.com/ibpsa/modelica-ibpsa/pull/824) into the master branch!

As we would have many use cases for this pipe model in AixLib, I would like to propose a new release which includes the latest state of the IBPSA Library.

I'll prepare a branc

[2017-12-04 13:45] PMehrfeld commented on #513
Speaking for myself, I do not have any urgent PR for the next release.

Maybe we should collect here the topics that would represent the release notes. Then we decide depending on the length of the list wether it is worth to name the release `v0.6.0` or just set the version number to `v0.5.3`.

I start with an obvious one:

- Merge of current Modelica IPBSA Libraray

[2017-12-05 13:57] thorade commented on #504
The Dymola User Manual Volume 1 describes on pages 622-623 (and: 502, 749) how to analyze events and numerics. Maybe this could give additional insight?

The two screenshots below should also show how to find the event log.

**Step 1:** Turn on the logging:

![debug_event_integrator](https://user-images.githubusercontent.com/314571/33610651-5ae0d596-d9cc-11e7-9ae8-1c9d08a882f2.png)

**Step 2:** In

[2017-12-05 15:47] marcusfuchs commented on #513
Last call: If you want other open PRs included in this release, please give us a note until tomorrow. Afterwards, I'll prepare the release.

[2017-12-07 09:57] GemsHSLU commented on #504
I already did this. The problem is, that the VentilationController stil generates an event every time Tamb_mean <= 2723.15K, even  with useConstantOutput = true. From your code, I think it should now longer generate an event in this situation.

[2017-12-07 10:06] GemsHSLU opened #514 "Change parameter in record over FMU"
An automatically simulation of the model MultizoneEquipped is needed for a sensitivity analysis. The standard solution is to do this over an FMU and change there the variables. But this dos not work, because they are written in a record. Do you have any experience how to solve this problem? Or do I need to change the model and erase the variables I want to change from the record?

This problem sho

[2017-12-07 10:24] mlauster commented on #514
@GemsHSLU, are you sure this is because the are written in a record or because the model is structurally dependent on these parameters? Which parameters would you like to change?
I think this issue is hard to solve. Could you change your workflow and generate a new FMU once you changed parameters?

[2017-12-07 10:26] marcusfuchs commented on #513
There was a [bugfix for the pipe model](https://github.com/ibpsa/modelica-ibpsa/pull/870) in the Modelica IBPSA Library. I'll update the branch to the latest version if the MIL and create a pull request.

[2017-12-07 11:53] GemsHSLU commented on #514
@mlauster no, I'm not 100% sure. This is my first attempt in automatic simulation over an FMU. I tried it with a simple model and it worked. And I tried it with different parameters from the record (some defined as fixed, constant or variable in the FMU) and none of them worked.
I want to change : gWin, lightingPower, RExt and RExtRem, RFloor and RFloorRem, RRoof and RRoofRem and RWin.
I'm working

[2017-12-07 12:20] mlauster commented on #514
Hm, not all of them a structural parameters, so it should work. To get rid of the record, I would propose to duplicate the MultizoneEquipped model and then replace all assignments by explicit definitions of parameters. As these are defined on a lower level (thermal zone), this is a bit of work and you need to be careful to link them all correctly to the upper level, where you then might have vecto

[2017-12-07 12:26] GemsHSLU commented on #514
Ok. Thank you very much. I'm looking right now for solution within the record. But for the case that I would find nothing, this would have been my next step to solve the problem.
And you would say this should work with all of the above-mentioned variables?

[2017-12-07 12:29] marcusfuchs commented on #353
We'll continue all DHC modeling in #403. So I'll close this. @MBaranskiEBC @FaridDavani : If you would like to participate in this development, please get in touch.

[2017-12-07 12:29] #353 closed

[2017-12-07 12:29] mlauster commented on #514
That's hard to predict, but generally areas and volumes are structural parameter. That means, the size of the system of equation changes in dependence of their value (parts of the model are removed if they are zero). FMUs are compiled versions of the model and the system of equation is fixed while compilation. Thus, you can only change non-structural parameters for an FMU.

[2017-12-07 12:30] marcusfuchs commented on #402
We'll continue all DHC development in #403. So I'll close this to make things clearer to follow up on. The above mentioned work will be part of #403.

[2017-12-07 12:30] #402 closed

[2017-12-07 12:32] GemsHSLU commented on #514
That's what I thought, so it should hopefully be no bigger problem.
Thank you for the answers. If you are interested in the outcome, I will happily inform you.

[2017-12-07 13:08] marcusfuchs commented on #514
@GemsHSLU Would be great if you could share some information on the outcomes! Thanks!

[2017-12-07 20:39] MirkoEngelpracht opened #516 "Moving boundary heat exchanger for modular heat pumps"
## What is the problem?

This issue is a work package for issue #407.
For modelling the modular heat pump that is developed in #407, we need dynamic heat exchanger models. Therefore, we want to add a moving boundary heat exchanger that also supports switching between different flow states.

## Why do we want to solve it?

Moving boundary heat exchangers are both accurate and fast. Thus, this model

[2017-12-11 09:03] marcusfuchs opened #518 "Minor refactoring of Database.Profiles"
## What is the problem?

Very minor problem, but maybe a good first issue - the `Database.Profiles` package could use some refactoring:

1. The file names currently include underscores (e.g. `Profiles_BaseDataDefinition`). It would be more in line with our [Naming guidelines](https://github.com/RWTH-EBC/AixLib/wiki/Namespaces#general) to use camel case instead.
1. The docstring of  `Profiles_BaseD

[2017-12-11 11:30] SebastianStinner opened #520 "Development of detailed, modular facade models"
## What is the problem?

- Actual wall models do not allow for analysis of heat bridges and different setups for facades (e.g. facade-integrated PV modules).

## Why do we want to solve it?

- The Horizon 2020 project Plug 'n' Harvest analyzes modular facades with included PV modules.

## How do we want to solve it?

- Extend the actual wall model with models for heat bridges and facade-integrated

[2018-01-02 10:59] PMehrfeld commented on #513
Closed by #515

[2018-01-02 10:59] #513 closed

[2018-01-02 11:01] PMehrfeld opened #522 "Missing component in HVACAgentBasedControl package"
Errors occurs in `AixLib.Controls.HVACAgentBasedControl.Examples.BuildingHeatingSystems.BuildingHeating` due to wrong class path of component `constantFactor`.

Solve the problem by changing the path to `CostFunctions.Economic.Constant_Economic_Cost`.

![grafik](https://user-images.githubusercontent.com/11769433/34481786-61641ee8-efb4-11e7-9b30-391fb6c136b3.png)

[2018-01-05 13:07] MBaranskiEBC opened #524 "includeERCBuilding"
## What is the problem?

- We have a model of the ERC main buidling, which has been used in various projects as a demonstrator for novel control strategies.

## Why do we want to solve it?

- It would be great to make it available for the public as a reference and for future use.

## How do we want to solve it?

- We will integrate the exisiting model. However, it will require further adaptation t

[2018-01-08 08:14] MBaranskiEBC opened #525 "dataPointNamingSchema"
## What is the problem?

- In practice, there are several data point designation principles. A uniform scheme would improve interoperability.

## Why do we want to solve it?

- We would like to establish this naming scheme in Modelica as well.

## How do we want to solve it?

- We will prepare a simple example based on an exisiting example to demonstrate the naming rules and see the possible diffi

[2018-01-08 17:33] DaJansenGit commented on #511
The script is now finished, feel free to use it! Download Link below.
If you encouter any errors, pleace contact me!

[html_tidy.zip](https://github.com/RWTH-EBC/AixLib/files/1612441/html_tidy.zip)

[2018-01-09 08:32] marcusfuchs commented on #511
@DaJansenGit This looks really useful - maybe even for people beyond AixLib development. The only thing that bothers me a bit is to provide it via a zip file. Wouldn't this justify having its own repo here on GitHub and possibly also putting it on [PyPI](https://pypi.python.org/pypi)?

[2018-01-12 09:09] DaJansenGit commented on #511
@marcusfuchs
Ok i made a repo on github, you can find it [here](https://github.com/DaJansenGit/HTML-Tidy-Modelica)

[2018-01-12 12:01] mschumacher247 commented on #511
@DaJansenGit Thanks for the great effort David. I think we should transfer this project to the RWTH-EBC organization. This way it might be easier to find for our Modelica users.

[2018-02-01 08:22] DaJansenGit commented on #511
Ok the Repository is now transferred to RWTH-EBC. You can find it [here ](https://github.com/RWTH-EBC/HTML-Tidy-Modelica)

[2018-02-01 15:33] PMehrfeld opened #526 "Calculate Solar Thermal efficiency correctly"
## What is the problem?

- Efficiency `eta` in model `AixLib.Fluid.Solar.Thermal.BaseClasses.SolarThermalEfficiency` can become negativ.
- A division by zero can occure (when global irr. `G` is zero).
- Efficiency can be greater than `eta_zero`.

## Why do we want to solve it?

- To stay physically correct.
- To avoid a simulation abort.

## How do we want to solve it?

- see commit in reltated PR

[2018-02-05 14:13] RoozbehSangi commented on #522
Thank you Philipp!

[2018-02-05 14:20] PMehrfeld commented on #522
Closed via #523

[2018-02-05 14:20] #522 closed

[2018-02-05 14:27] RoozbehSangi opened #530 "HVACAgentBasedControl Documentation Window"
## What is the problem?

- References in the HVACAgentBasedControl package are not correct (Path: AixLib.Controls.HVACAgentBasedControl).

## Why do we want to solve it?

- To improve the documentation of the model.

## How do we want to solve it?

- By replacing the current references with the correct ones.

[2018-02-05 14:49] mlauster commented on #416
@MichaMans, I think this is done, right? Can we close this issue?

[2018-02-05 15:26] mlauster commented on #354
@MBaranskiEBC, is still an open point or handled/solved in other issues? In the second case, we could close this issue

[2018-02-05 15:29] mlauster commented on #335
@TobiasBlacha, it seems not clear what to do with issue. Has it been merged with #458 and can be closed or are you still working on that and are planning for another PR? In this case, should we move that to the next milestone?

[2018-02-05 15:33] mlauster commented on #308
@MBaranskiEBC, is somebody actively working on this issue? I will otherwise postpone it to a future milestone.

[2018-02-05 15:37] mlauster commented on #184
@pema1, what to do on this issue? Is somebody working on that? Is still urgent? Shall we postpone it?

[2018-02-05 15:38] TobiasBlacha commented on #335
This issue has been merged with #458 and can be closed.

[2018-02-05 15:38] #335 closed

[2018-02-05 15:39] mlauster commented on #309
close via #489

[2018-02-05 15:39] #309 closed

[2018-02-05 16:00] PMehrfeld commented on #526
Closed via #527

[2018-02-05 16:00] #526 closed

[2018-02-05 16:12] PMehrfeld opened #531 "Revision of ActiveWalls"
## What is the problem?

- `Fluid.HeatExchangers.ActiveWalls` is in development but still need some revision (related issue #336, related PR #459)

## Why do we want to solve it?

- Naming conventions not correct.
- Check documentation
- Harmonize both main models: `Panel_Dis1D` and `Panelheating_1D_Dis`. Or even delete one as it might be obsolete.

[2018-02-05 16:13] PMehrfeld commented on #336
`IDEAS.Fluid.HeatExchangers.RadiantSlab.EmbeddedPipe` has a different modelling approach. Thus, our ActiveWall model was transferred into AixLib.

Closed via #459

But work will be continued in #531

[2018-02-05 16:13] #336 closed

[2018-02-06 10:01] PMehrfeld commented on #531
I have delted `Panel_Dis1D` plus related sub-models in BaseClasses. The documentation clarified that the model is actually still under review and that the model comes along with dificulties in switching the modes heating and cooling.

[2018-02-07 14:03] PMehrfeld commented on #530
Closed by #532

[2018-02-07 14:03] #530 closed

[2018-02-08 13:08] pema1 commented on #184
Hello @mlauster, @AnaConstantin, @Mathadon,

the model in the 'Zugabe' project is finished now. Regarding @AnaConstantin's suggestions:

* We have two models, one that uses a pressure difference signal as input and one that uses pump speed as input.
* The first will directly force the pressure difference onto the system resembling an ideal pump. Our partner wanted such a model variant as they hope

[2018-02-13 12:01] PMehrfeld commented on #293
Closed by #470

[2018-02-13 12:01] #293 closed

[2018-02-15 14:33] PMehrfeld opened #535 "Negative temperatures with radiation exchange model"
## What is the problem?

- Solver calculates negative values when solving Stefan-Boltzmann equation in `AixLib.Utilities.HeatTransfer.HeatToStar`

## Why do we want to solve it?

- Although the solution is correct from a mathematical point of view, negative temperatures must be avoided.

## How do we want to solve it?

- ...

## Further description

I have a reproducible total model, in which the

[2018-02-15 17:13] Mathadon commented on #535
not sure what's going on here without more context :)

[2018-02-15 20:19] PMehrfeld commented on #535
Of course, sorry, I'll explain it a bit more detailed.

When running an HVAC and building performance simulation, sometimes in the following equation of the [`HeatToStar` model](https://github.com/RWTH-EBC/AixLib/blob/master/AixLib/Utilities/HeatTransfer/HeatToStar.mo) the negativ solution for `Therm.T` is determined during the simulation (see screenshot above).

[code]

We use the `HeatToStar` mo

[2018-02-16 09:28] Mathadon commented on #535
ok, now I get it :p
As you said, the solution is probably mathematically correct, but it does not make sense from a physical point of view. A solution would be to use `max(Therm.T,0)` in your equation instead of `Therm.T`. This removes `-Therm.T` as a feasible variable. However, this introduces discontinuities in your equations.

With respect to how we deal with this: I suggest you read our public

[2018-02-16 10:30] PMehrfeld commented on #535
Thanks a lot @Mathadon. Actually I tried this before, since I also assumed that the negative solutions would be removed. But I got the same results. As you now ensured that with `max()` the negative solutions should really be omitted, I tried using `max(Therm.T,100)` and `max(Therm.T,100)`. Now the simulation works :)

I assume that maybe the solution 0 would lead to a division by 0 and, therefore

[2018-02-16 10:34] PMehrfeld commented on #535
And thanks a lot for referencing the brand new publication ;)
We will have a deeper look into it.

[2018-02-16 10:44] rubenbaetens commented on #535
Fyi, remember that (A^4-B^4) can be reduced to (A-B)*(A+B)*(A^2+B^2), this is usually numerically more stable.

[2018-02-16 11:05] PMehrfeld commented on #535
Thanks @rubenbaetens. This was also one of the solutions I tried prior opening this issue. However, this led to a different curve for the temperature, but also including parts with negative solutions.

Again thanks to both of you for the input.

[2018-02-16 13:15] rubenbaetens commented on #535
I remember having a similar bug in a very early version of IDEAS. I think one of the solutions that worked was to put a state in Star.T ...

[2018-02-16 13:41] PMehrfeld commented on #535
Closed by #536

[2018-02-16 13:41] #535 closed

[2018-02-22 08:44] PMehrfeld opened #537 "Record of thermal energy storage incorrect"
## What is the problem?

- Storage Record of [`Generic_500l`](https://github.com/RWTH-EBC/AixLib/blob/development/AixLib/DataBase/Storage/Generic_500l.mo) has coil lengths of `Modelica.Constants.eps`. This leads to a heat transfer area of almost zero. Thus, the coil works as an insulator.

- Furthermore, the inlet and outlet nozzles of the coils have the same heights. This might be true for the ta

[2018-02-22 09:09] PMehrfeld commented on #537
Closed by #538

[2018-02-22 09:09] #537 closed

[2018-03-07 11:58] Amuntaseer opened #540 "Effect of sky temperature in high order building (Aixlib)"
## What is the problem?

I have studied the 'AixLib' library from Dymola. From the library I am using the 'High order model
(Appartment_VoWo)'. The Problem I am facing is regarding the effect of sky temperature in energy consumption of the model. I saw that in the 'high order model' there is no seperate model for the radiative Exchange with the sky'.

Can you suggest me how can I observe the effec

[2018-03-08 08:05] ghorwin opened #541 "Warning when loading AixLib on Ubuntu/Linux"
When loading AixLib into OMEdit (OpenModelica) I get the following warning:

`[/usr/lib/omlibrary/AixLib 0.5.2/Utilities/Communication/SocketCommunication/Functions/TCP/package.mo: 6:36-6:482]: Lexer treating \ as \\, since \h is not a valid Modelica escape sequence.
`

[2018-03-09 10:58] mlauster commented on #540
@Amuntaseer, thank you for your request. Still, I think this is more an application question and not related to the actual model development. I will close this issue after answering. Please reopen it if you add general extensions to the model that would add value to `AixLib`.
I assume you would like to consider longwave radiation to the outside of exterior walls and windows. For that, I see two di

[2018-03-09 10:58] #540 closed

[2018-03-11 09:49] MichaMans commented on #541
I'll get some errors too when loading the development branch. Master branch should work fine, but I try to fix the development problem. @ghorwin Could you specify on what version of openmodelica and which AixLib branch you are getting this error?

[2018-03-12 07:58] ghorwin commented on #541
Am 11.03.2018 um 10:49 schrieb Michael Mans:

omlib-aixlib-0.5.2

Package: openmodelica
Version: 1.12.0-1

Hope that helps,
Andreas

--
Dr. Andreas Nicolai
Leiter Softwareentwicklung und -schulungsabteilung
Institut für Bauklimatik
Fakultät Architektur
Technische Universität Dresden

Telefon : +49 (351) 463-32298
E-Mail  : andreas.nicolai@tu-dresden.de

[2018-03-12 10:20] MichaMans commented on #541
@ghorwin as we are using the same versionnumber for development and master branch until we release a new masterbranch, it is hard to say depending on the versionnumber. I fixed some errors in the development. This should now work. You can either clone/fork/download the AixLib development branch and test it.

[2018-03-13 12:49] ghorwin opened #543 "Warning about incompatible types in AixLib.FastHVAC.Components.Storage.BaseClasses.PartialHeatTransferLayers"
Opening AixLib (development, 2018-03-13) in SimulationX gives the following warning/error:

"Die Modelica-Klassen von AixLib.FastHVAC.Components.Storage.BaseClasses.PartialHeatTransferLayers.Medium (package) und der Basisklasse AixLib.FastHVAC.Media.WaterSimple (record) sind nicht kompatibel.
Message: Modelica.IncompatibleBaseClass
"

In fact, AixLib.FastHVAC.Media.WaterSimple is a record, yet req

[2018-03-13 12:56] ghorwin opened #544 "HeatPumpDetailed example broken (in SimulationX)"
Opening and running the example AixLib.Fluid.HeatPumps.Examples.HeatPumpDetailed gives the following error:

`In AixLib.Fluid.HeatPumps.Examples.HeatPumpDetailed.heatPump.cycle.Corr_icing: Kann den Wert von "AixLib.Fluid.HeatPumps.Examples._.HeatPumpDetailed.heatPump.cycle.Corr_icing" nicht setzen.
Message: Modelica.ValueNotSet
`

Apparently, the heat pump requires a frost/defrost model and does n

[2018-03-14 16:35] HaukeHirsch opened #545 "Problems with BufferStorage in OpenModelica"
## What is the problem?

BufferStorage is not working in OpenModelica (tested with AixLib-example BufferStorageCharging). It causes the following errors:

- storage_Aixlib.heatTransfer: In modifier  redeclare(Medium), class or component Medium not found in <AixLib.Fluid.Storage.BufferStorage$storage_Aixlib.HeatTransfer>.

--> can be fixed by redeclaring medium when heat transfer model is called in

[2018-03-21 14:58] marcusfuchs opened #546 "Reading data from *.mos script requires loadResource"
## What is the problem?

I am having problems with some examples that read weather data from the location

[code]

In examples like `AixLib.ThermalZones.ReducedOrder.Examples.SimpleRoomOneElement`, the resource is loaded with

[code]

This works fine on the two systems I tested this on.

In examples like `AixLib.ThermalZones.ReducedOrder.Examples.Multizone` and `AixLib.BoundaryConditions.GroundTem

[2018-03-28 10:35] DaJansenGit opened #548 "Different Weather Models in AixLib don't give the same results"
This issue is a note for myself to investigate the two models later! But if you have any information on this topic feel free to share them.
## What is the problem?
The two Weather Models from
-"AixLib.Building.Components.Weather.Weather"
and
-"AixLib.Boundary.Cinditions.WeatherData.ReaderTMY3"
seems to give different results when calculating the solar radiation on tilted surfaces.
![screenshot_rad

[2018-03-28 10:48] mlauster commented on #548
@DaJansenGit, we did some extensive comparison of the models. After perparing all inouts for the new new model (TMY3) in the correct way, we could that they match nearly perfect. I can check where we put the results and we can have a talk abotu that topic.

[2018-03-28 10:50] mlauster commented on #548
Some information is at #181

[2018-03-28 11:00] PMehrfeld commented on #548
However, the results clearly show differences between both models. Therefore, the origin/reason must be identified, since both models are related to literature of Perez.

[2018-03-28 11:01] DaJansenGit commented on #548
@mlauster, at the moment I'm low on time due to finishing my thesis. Thank you for the fast response. I will have a deeper look into this later and contact you

[2018-03-29 07:30] Amuntaseer opened #549 "Parameter value changing using script"
## What is the problem?
I am using the One Family House model in 'AixLib' library. My aim is to do the local sensitivity Analysis of different Parameters. I wrote a script where I am keeping a constant value for all  Parameters (keeping one variable) and trying to simulate it multiple times . After the Simulation , the values are changing but there is no effect shown in the total energy consumptio

[2018-03-29 13:44] PMehrfeld commented on #549
@Amuntaseer: Did you already perform 2 exemplary simulations manually? Did you then see differences in the total energy consumption? Otherwise, it might be possible that your paramters do not even influence the building's energy consumption (but maybe the thermal power during a day?!).

[2018-04-03 07:13] Amuntaseer commented on #549
@PMehrfeld : I have performed various cases manually, where I changed the values of the Parameter directly from the model and it was showing changes in the energy consumption. But whenever I am writing a script to change the values it is showing no effect in the energy consumption. I have attached one of the script, I am giving the Input in this way.
[Script_Parameter change.txt](https://github.co

[2018-04-03 08:59] marcusfuchs commented on #546
This is fixed on the development branch

[2018-04-03 08:59] #546 closed

[2018-04-03 09:28] PMehrfeld commented on #549
@Amuntaseer: I think you should try using DymolaCommands that are directly made for parameter analyses. You can find them in the sub package `DymolaCommands.SimulatorAPI....`.

Here the following functions should be interesting:

- `simulateExtendedModel`

- `simulateMultiExtendedModel`

- `simulateMultiResultsModel`

Have a look at the functions' documentations.

[2018-04-03 12:37] Amuntaseer commented on #549
@PMehrfeld : I have tried with the function as you suggested. I followed the documentation and example of Couple Clutched. But it is showing error "undeclared variable or command". Is it possible to provide a tutorial of how to use this function, because I have to vary the Parameters?

[2018-04-03 13:21] PMehrfeld commented on #549
@Amuntaseer: Unfortunately, I also have no experience with these functions. So, you probably have to find the solution for this error by yourself ;) Check all declared paramters in your script. Best way to do this, is to execute your script line by line in the Dymola command window until the error occurs.

[2018-04-03 15:21] PMehrfeld opened #550 "Tank records old references"
## What is the problem?

- 3 models still had old reference to 500 l tank record, which is already deleted in development

## How do we want to solve it?

- Change to Generic_New_2000l. Examples still work.

[2018-04-04 08:06] PMehrfeld commented on #541
@ghorwin: Did the merge #542 solve this issue?

[2018-04-04 10:46] ghorwin commented on #541
Hi,

sorry, problem persists.

[/home/ghorwin/git/AixLib/AixLib/Utilities/Communication/SocketCommunication/Functions/TCP/package.mo:
6:36-6:482]: Lexer treating \ as \\, since \h is not a valid Modelica
escape sequence.

Just pulled 'development' branch of AixLib from github and opened the
library in OMEdit from nightly-build repo for Ubuntu.

OMEdit 1.13.0~dev-113-g8c6364e
Connected to OpenModel

[2018-04-04 10:55] ghorwin commented on #541
Probably the merge ended up in the wrong branch. See file:

https://github.com/RWTH-EBC/AixLib/blob/development/AixLib/Utilities/Communication/SocketCommunication/Functions/TCP/package.mo

There, the closing html tag is still <\html> instead of </html>

Am 04.04.2018 um 10:06 schrieb Philipp Mehrfeld:

--
Dr. Andreas Nicolai
Leiter Softwareentwicklung und -schulungsabteilung
Institut für Bauklimat

[2018-04-04 12:06] PMehrfeld commented on #541
@ghorwin: Sorry, I changed this html slash error in a separate branch but forgot the merge.
The fix is now in master and development branch.
If any other problem still exist, please feel free to reopen this issue or open a new one.

[2018-04-04 12:06] #541 closed

[2018-04-05 11:11] PMehrfeld commented on #544
@ghorwin: Which parameters did you change in the example. To use a correction function for defrosting, the parameter `capCalcType` must be set to 1 (use a polynomial instead of tabulated data).

Anyway, the [default function for `Corr_icing` is set to noModel](https://github.com/RWTH-EBC/AixLib/blob/31bd07b8de6feaa68f2aa2cc66308212bb9ee9c2/AixLib/Fluid/HeatPumps/HeatPumpDetailed.mo#L69). Hereby, t

[2018-04-05 13:57] TobiasBlacha commented on #531
The structure and the naming of parameters in the records of floorheating will have to be revised.

[2018-04-06 10:39] PMehrfeld commented on #531
Thanks @TobiasBlacha for the review and mentioning what to do next.
I will open a new issue for this.

[2018-04-06 10:39] #531 closed

[2018-04-06 10:44] PMehrfeld opened #554 "Revisions of ActiveWall / FloorHeating"
**This is the continuation of #531**

## What is the problem?

- Especially Records still have potential to be improved, e.g. regarding capacity parameters as well as naming revisions (e.g. isolution -> insulation, CamelCase, ...).

## Why do we want to solve it?

- Reach understandable parameters in records

## How do we want to solve it?

- [ ] Correct naming, including conversion scripts

- [ ]

[2018-04-10 10:18] PMehrfeld opened #555 "Buffer storage with heating coil's upper port at top layer"
## What is the problem?

- Calculation of layer number for heating coil's port wrong in model `AixLib.Fluid.Storage.BufferStorage`.

- When using a discretisation of n = 10 and setting in data `hHC1Up=hTank` the model counts to 11 for `nHC1Up`.

## How do we want to solve it?

- New calculation for `nHC1Low` and `nHC1Up`.

[2018-04-13 09:09] Amuntaseer opened #557 "Analyzing the effect of internal heat gain (occupants, electric components) in total energy consumption for a the One family dwelling model"
## What is the problem?

- There is no component of internal heat gain in the (OFD) model to check the effect in total energy consumption for the whole Building. How to analyize the effect of internal heat gain in this model?

## Why do we want to solve it?

- It will be helpful to analyize the effect of internal heat gain in OFD model

## How do we want to solve it?

- ...

[2018-04-13 09:30] #557 closed

[2018-04-13 09:35] #549 closed

[2018-04-16 15:00] Amuntaseer opened #558 "Seeking suggestions regarding the file size and optimization of the simulated result (simulation time=1year)"
## What is the problem?
I am simulating the One Family Dwelling (OFD) to get the result for 1 year. I have to simulate it multiple Parameters and I am using the scripts to simulate it in a Loop. Only one Simulation is taking 1-2hrs and the file size of one Simulation result is 2Gb.  I am using the parallelization method to use all the 8 cores of my PC to make it a faster Simulation. i have attache

[2018-04-18 09:35] #558 closed

[2018-04-18 09:48] Amuntaseer opened #559 "Parameter study in OFD (Building Orientation & U-value (wall)"
## What is the problem?
1) I want to change the building orientation of the OFD model to see the changes in total energy consumption. What components or method can I use to develop the model for analyzing this parameter?

2) I have already studied the effect of changing the U-value(Window), to analyze the total energy consumption. But in order to change the U-value for the OutsideWalls there is no

[2018-04-18 14:45] mschumacher247 opened #560 "VentilationController"
The ventilation controller within thermalZoneEquipped leads to quite high ventilation rates, esp. during summer nights. This is caused by the Fanger function. The result is that an ideal heaterCooler would try to heat against this high ventilation, leading to substantial heat demand during the summer time. This is not very reasonable in my opinion.

[2018-04-18 14:50] mlauster commented on #560
Why is it heating against the ventilation rate? Because of a high User ACH? SummerACH and OverheatingACH shouldn't be an issue in that context. What is your value for the UserACH?

[2018-04-18 14:52] mlauster commented on #560
One way to deal with that could be to integrate some kind of shut off of the heater by setting the set temperature in summer time to 10°C.

[2018-04-26 13:34] Amuntaseer commented on #559
Hello Mr.Philipp,

I am doing my master Thesis in Gas Und Wärme Institute, Essen.e.V.  For my
Thesis work I am working with the OFD from AixLib. In order to perform some
simulations with different Parameters I Need some assitance through GitHub.

Best Regards,
Adnan

On Thu, Apr 26, 2018 at 3:23 PM, Philipp Mehrfeld <notifications@github.com>
wrote:

[2018-04-26 14:05] PMehrfeld commented on #559
Many thanks for your background information. I'm glad that you are using the OFD models from our AixLib.
I can give a possible solution or at least an approach for both of your questions:

1. The orientation only affects the solar irradiation. Thus, you could add new records (while extending the base class `AixLib.DataBase.Weather.SurfaceOrientation.SurfaceOrientationBaseDataDefinition`) and fill

[2018-04-26 16:32] AnaConstantin commented on #559
@Amuntaseer I think is great you opened the discussion hier on GitHub as well. However as we have already discussed some of these aspects per Email already I think it would be good to include those answers here as well as it would move the discussion further along.

[2018-04-30 06:17] marcusfuchs opened #561 "Improve documentation of AixLib.BoundaryConditions.GroundTemperature.GroundTemperatureKusuda"
## What is the problem?

The current documentation was misleading for my application. The parameter `T_amp` is described as

This leads to unreasonable results. Actually, according to the cited paper [Annual ground temperature measurements at various depths](http://ktisis.cut.ac.cy/bitstream/10488/844/3/C78-CLIMA2005.pdf), `T_amp` needs to be

With half the amplitude, results look more reasonable.

[2018-05-02 15:50] marcusfuchs commented on #561
This is now on the development branch.

[2018-05-02 15:50] #561 closed

[2018-05-07 08:43] pema1 opened #563 "Add new pump model"
## What is the problem?

- The current pump uses pure Affinity laws. However, normal pumps show deviations from this law.
- Also, normal pumps oftentimes use power limitation in order to reduce the maximum power consumption of the motor.
- Generating parameter sets for the pump model is not easy and requires manual curve fitting and implementation of the resulting data into Modelica code.

## Why

[2018-05-07 08:48] pema1 commented on #563
The pump models will be used with the new HydraulicModules in #462

* [ ] Add new pump models
* [ ] Add a set of pumps

[2018-05-09 14:50] PMehrfeld commented on #310
@KFinkbeiner : I am not sure what the current status is here. But I set the milestone to next version which is due on 30 May 2018. Maybe you can solve this issue (partially) at the institute's hack day ;)

[2018-05-09 14:52] PMehrfeld commented on #360
@alexanderAKU  : I am not sure what the current status is here. But I set the milestone to next version which is due on 30 May 2018. Maybe you can solve this issue (partially) at the institute's hack day ;)
However, if you prefer focussing on your hydraulic admix modules, uncheck the milestone again.

[2018-05-09 14:54] PMehrfeld commented on #371
@MBaranskiEBC : It looks as a lot of good work has already been performed in this issue. What about bringing it to a merge until the milestone due to date :)

[2018-05-09 14:55] PMehrfeld commented on #389
@alexanderAKU : Is this issue still relevant for you?

[2018-05-09 14:58] PMehrfeld commented on #403
@MichaMans and @TobiasBlacha : It seems that you two are working now on this issue. Any chance to complete it (maybe together with @marcusfuchs) for the next milestone?

[2018-05-09 15:00] PMehrfeld commented on #406
@tstorek : Lots of work has been done here. This seems to be a good starting point for the top-level and still empty package "Electrical" ;). I checked this issue with the milestone for the upcoming hackday.

[2018-05-09 15:06] PMehrfeld commented on #407
@cvering and @tstorek : I know 30 May is ambitious, but maybe this promising project can be pushed forward ;)

[2018-05-09 15:07] PMehrfeld commented on #408
Like in #407 :
 @cvering and @tstorek : I know 30 May is ambitious, but maybe this promising project can be pushed forward ;)

[2018-05-09 15:07] PMehrfeld commented on #409
@mschumacher247 : This could be the topic for your work at next hack day ;)

[2018-05-09 15:09] PMehrfeld commented on #452
@larissakuehn : Are you still working on this?
@JSchiefelbein : If my guess is correct, you would be the next person to approach regarding this issue. If so, please assign yourself and update this issue :)

[2018-05-09 15:10] PMehrfeld commented on #457
Like in #407
@cvering and @tstorek : I know 30 May is ambitious, but maybe this promising project can be pushed forward ;)

[2018-05-09 15:13] PMehrfeld commented on #467
Like #407
@cvering and @tstorek : I know 30 May is ambitious, but maybe this promising project can be pushed forward ;)

[2018-05-09 15:13] PMehrfeld commented on #479
Like in #407
@cvering and @tstorek : I know 30 May is ambitious, but maybe this promising project can be pushed forward ;)

[2018-05-09 15:14] PMehrfeld commented on #487
@TobiasBlacha : Could this be a good first issue?

[2018-05-09 15:16] PMehrfeld commented on #504
@GemsHSLU : Any update here?
After next milestone's due to date, which ist 30 May 2018, I will close this issue. Of course it can be reopened at any time :)

[2018-05-09 15:18] PMehrfeld commented on #559
@Amuntaseer : Were the suggestions for solving your problem helpful? If there are no more questions, please close this issue :)

[2018-05-09 15:19] PMehrfeld commented on #560
Was the suggestion, made by @mlauster, successful? If so, please close this issue, @mschumacher247

[2018-05-09 15:27] JSchiefelbein commented on #452
@larissakuehn finished her thesis a while ago. I would suggest closing this issue for now. As far as I can recap, the HPs were running on JModelica. If necessary, this issue can be re-opened.

[2018-05-09 18:39] Amuntaseer commented on #559
Thank you, the suggestion was very helpful to solve the problem.

[2018-05-09 18:39] #559 closed

[2018-05-11 09:25] PMehrfeld commented on #545
@HaukeHirsch : Thanks for addressing the problem and sorry for the delayed response. Did you find any solution that can be merged until next release (see milestone date)?

[2018-05-11 09:31] PMehrfeld commented on #516
Like in #407
@cvering and @tstorek : I know 30 May is ambitious, but maybe this promising project can be pushed forward ;)

[2018-05-11 09:32] PMehrfeld commented on #514
@GemsHSLU : I assume this issue can be closed.

If anyone disagrees, please reopen the thread.

[2018-05-11 09:32] #514 closed

[2018-05-11 09:49] PMehrfeld commented on #511
Thanks again for this valuable contribution.

However, we need to give this script more visibility. I have to suggestions:

1. Create a wiki page with a link to the repository
2. Copy the script into [AixLib/Resources/Scripts](https://github.com/RWTH-EBC/AixLib/tree/master/AixLib/Resources/Scripts) and delete the HTML-Tidy-Repository. Additionally, a wiki page with the readme can be created and/or

[2018-05-11 09:52] PMehrfeld commented on #462
@alexanderAKU : I have set the milestone v0.6.0. Let's see how far you get with this issue until that due to date. Afterwards feel free to change the milestone to next version.

[2018-05-14 06:30] MichaMans commented on #403
@PMehrfeld I think this is and will be a WIP issue for the next weeks/month, but we can have a look at it and merge it at the current state into development. That would make it a bit more transparent

[2018-05-14 07:08] TobiasBlacha commented on #487
@PMehrfeld yes, I think so.

[2018-05-14 10:42] TobiasBlacha commented on #454
The change has already been integrated in the development by #455 , so I will close this issue.

[2018-05-14 10:42] #454 closed

[2018-05-14 11:00] TobiasBlacha opened #564 "Restructuring of the AixLib.FastHVAC.Components package"
## What is the problem?
Restructuring of the FastHVAC package, in the Components package the models are not sorted alphabetically.

## Why do we want to solve it?
Alphabetical sorting increases the clearness

## How do we want to solve it?
New order of the models in the AixLib.FastHVAC.Components package

[2018-05-22 08:11] HaukeHirsch commented on #545
I have to admit that I haven't worked on this problem anymore.

[2018-05-22 12:28] MBaranskiEBC commented on #360
@PMehrfeld We will restart the work on this issue. The former assignee obviously forgot to mention the issue. There have been commits to [https://github.com/RWTH-EBC/AixLib/tree/issue360_MenergaControls](url). However, I just took a look at the models and there are a lot of issues (external dependencies etc).

[2018-05-23 14:18] TobiasBlacha commented on #560
One possible solution is the introduction of a heating limit temperature. If the outdoor temperature is above the heating limit temperature, the heating is switched off. In this case, the high ventilation rates do not affect the heat demand calculation.
The heating limit temperature can be calculated according to DIN V 18599-5 or standard values can be selected (10 °C for extremely well insulated

[2018-05-27 06:27] marcusfuchs commented on #371
This is now on the development branch.

[2018-05-27 06:27] #371 closed

[2018-05-29 08:16] PMehrfeld commented on #403
Thanks for the updates. I set this issue's milestone to a higher version and additionally assigned you, @MichaMans and @TobiasBlacha.

[2018-05-30 08:43] PMehrfeld commented on #563
- [ ] Be aware of the pump controller (+ bus), which is currently in the package for the hydraulic modules #462. Bus interface should probably be inserted in the pump package. (@alexanderAKU and @pema1).

[2018-05-30 10:14] PMehrfeld commented on #543
@ghorwin : Should be solved now in development via #567.
Could you please test it in SimulationX? If it works properly, feel free to close this issue.

[2018-05-30 12:42] PMehrfeld commented on #456
Done with #566
Battery Model will still take some time but work is in progress.

[2018-05-30 12:42] #456 closed

[2018-06-01 11:25] #504 closed, assigned to GemsHSLU

[2018-06-01 13:28] PMehrfeld commented on #544
I will close this issue. However, feel free to reopen it again.

[2018-06-01 13:28] #544 closed

[2018-06-03 04:37] heydariplusplus opened #570 "homeHeader"
![homeheader](https://user-images.githubusercontent.com/39858314/40883435-017ad316-6712-11e8-9c9f-eec6631365b5.jpg)

![files](https://user-images.githubusercontent.com/39858314/40883356-a4738408-670f-11e8-932b-ec54b47fcfe2.png)
![foldersandfiles](https://user-images.githubusercontent.com/39858314/40883357-a4ad2ad2-670f-11e8-8454-c0cba42a98ba.png)
![exampleinputgraph](https://user-images.githubuser

[2018-06-03 05:29] #570 closed

[2018-06-04 06:52] PMehrfeld commented on #510
Started working on branch [issue510_HPDetailedQCon](https://github.com/RWTH-EBC/AixLib/tree/issue510_HPDetailedQCon). In a first step I deleted some unnecessary variables to clean up the model.

[2018-06-08 09:45] PMehrfeld commented on #545
is now solved in development via #569

[2018-06-08 09:45] #545 closed

[2018-06-08 10:57] #543 closed

[2018-06-11 06:43] PMehrfeld commented on #510
- [ ] convert N to relative compressor speed (with conversion script!)
- [ ] distinguish clearer between polynom and table (probably with an extra replaceable model / block)

[2018-06-12 15:28] PMehrfeld opened #571 "U-Value of Window not passed through"
## What is the problem?

- Parameter `Uw` not passed through to `correctionSolarGain` in model `AixLib.Building.Components.WindowsDoors.WindowSimple`.

## How do we want to solve it?

- see commit

[2018-06-12 16:10] PMehrfeld commented on #571
now in development.

[2018-06-12 16:10] #571 closed

[2018-06-13 12:38] PMehrfeld opened #573 "pass through sunblind HighOrderModel"
## What is the problem?

- Windows can be shadowed with a sunblind, but not this is not parametrizable from outside the building model

## Why do we want to solve it?

- So that building is not heated up too much during summer time.
- Normal users (or automatic systems) would use sunblinds.

## How do we want to solve it?

- Pass through a set of parameters.

[2018-06-13 12:39] PMehrfeld commented on #573
Accidentally, I named the branch `issue572_...` instead of 573.

[2018-06-19 14:21] PMehrfeld commented on #573
closed via #574

[2018-06-19 14:21] #573 closed

[2018-07-05 13:27] BAG1993 opened #575 "Developing a building model for a benchmark for control strategies"
## What is the problem?

- Currently there is no standardized building model to benchmark control strategies and to compare it to other control strategies.

## Why do we want to solve it?

- It would open up the possibility to compare different control strategies quantitatively.

## How do we want to solve it?

- We will develop a building with exisiting and adapted modells.

- The building will i

[2018-07-05 20:49] AnaConstantin commented on #575
Hello @BAG1993 I find the ideea very good. We actually have such a residential building (the one family dweling) including energy system which did not make it to AixLib yet. It would be a great opportunity to do this.
This building in question has one energy delivery system based on radiators and one with floor heating.
This are selectable. The generation system is a boiler, the distribution a pum

[2018-07-06 06:19] PMehrfeld commented on #575
@BAG1993 : Especially regarding a building model we have different options in `AixLib` (`Reduced Order Model` and `High Order Model`). As @AnaConstantin mentioned, we already have suitable models for hydronic systems. However, I can also provide a tool with which it is easy to create in a semi-automatic process new hydronic networks that fit to your building model and heat transfer system.

[2018-07-06 07:44] BAG1993 commented on #575
Hello @AnaConstantin and @PMehrfeld at first thanks for your feedback.
I'm writing my bachelor thesis about this model, so i hope that this model will work as soon as possible. The next step is to register the thesis and then i have 10 weeks.
I read previously about benchmarking and normaly you don't use just one model to benchmark your control strategie, because every model has a different focus.

[2018-07-06 07:53] PMehrfeld commented on #575
@BAG1993 : This sounds like a planned approach for your thesis. Anyway, I would like to bring [this Wiki page](https://github.com/RWTH-EBC/AixLib/wiki/How-to:-Structure-a-Building-Performance-Simulation) to your attention. It is so far just a first shot of explaining how to generally structure a whole building + HVAC simulation. I think in your case it is important to separate the control models f

[2018-07-06 08:35] BAG1993 commented on #575
@PMehrfeld thanks for the link, we though about adding a "Control Bus" so a new control strategie just need to connect the bus to avoid matching the right connector for the different variables the control get and manipulate. Because we don't know jet if we enable the full controll over all pumps and valves or just give some operating modes, the control model size isn't clear jet. I think later in

[2018-07-06 08:42] PMehrfeld commented on #389
@alexanderAKU : I will close this issue. Feel free to reopen it, if work will be continued here.

[2018-07-06 08:42] #389 closed

[2018-07-06 08:44] PMehrfeld commented on #400
reduce number of issues

[2018-07-06 08:44] PMehrfeld commented on #575
I just came across the quite old issue #354 and the according branch [`issue354_controllerInterfaces`](https://github.com/RWTH-EBC/AixLib/tree/issue354_controllerInterfaces). Maybe some previous work can be used here?!

[2018-07-06 08:46] PMehrfeld commented on #409
@mschumacher247 : Feel free to reopen again.

[2018-07-06 08:46] #409 closed

[2018-07-16 14:09] FWuellhorst commented on #518
I will take over this issue.

[2018-07-20 09:35] PMehrfeld commented on #518
Closed via #576

[2018-07-20 09:35] #518 closed

[2018-07-23 14:40] FWuellhorst opened #577 "Development of a heat pump model for buidling simulation systems"
## What is the problem?
While we use HeatPumpDetailed, HeatPumpSimple as well as the IPSA Carnot HeatPumps to simulate the dynamic behaviour of heat pumps in energy building systems, the existing models do not take the following aspects of a real heat pumps into accout:
- Operational envelope of device
- Savety controls/ devices
- Defrost losses
- Different working modes (see #308 on this)
- Physi

[2018-07-23 14:57] PMehrfeld commented on #577
A short annotation: We will have one main branch for this issue (`issue577_...`). From this one we will branch away and merge again multiple times to have reviewed progress steps. In the end we will merge the branch `issue577_...` into `development`.

[2018-07-26 07:18] PMehrfeld opened #578 "AHU: Simulate and Plot Script"
Add a script "simulate and plot" for the AHU example.

[2018-07-26 15:22] alexanderAKU opened #581 "Systems Package"
## What is the problem?

- Modeling large systems is highly time consuming because the user needs to bring many small models together (such as pumps, sensors, valves, heatflows, volumes,...). Additionally, the user needs a lot of expertise to user fitting models and to set the right parameters (such as starting values, nominal flows, allowReversalFlow, ,..).
Besides, many 'larger' models consists

[2018-07-26 15:32] alexanderAKU commented on #581
**First, we should discuss some basic rules concerning:**

1. Package strucure

2. Connections

3. Model structure

4. ...

**First suggestions:**
1. I suggest to define a subpackage e.g. AHU, with subpackages for control, baseClass, and example and maybe data.

2. We can use the busConnector for all data connections (temperaures, massflow, control signals)

3. I'm going to create a new branch wit

[2018-07-30 08:32] #578 closed

[2018-07-31 06:29] MichaMans commented on #403
As the feature branches of this issue are getting a bit confusing I'm going to delete them:

- _supplyIn is already integrated in _dhc via #517 (should be deleted)
- _pump_supply should be integrated more or less in _supplyIn (I'm going to delete it as well)
- _static_pipe is also integrated in _dhc (should be deleted)
- _consthp branch is ahead of _dhc (I'll create a PR for this)

@marcusfuchs @T

[2018-07-31 06:31] marcusfuchs commented on #403
No objections.

[2018-08-02 09:00] FelixStege opened #583 "Modular AirHandlingUnit Register"
## What is the problem?

- One of the problems in modeling hydraulic systems is, that the user needs a lot of expertise about the specific physical parameters (such as heat capacity, pipe length/diameter, minor loss coefficient,...). If already installed systems are to be investigated, knowing the exact parameter values is essential for good simulation results. But it is often difficult to identif

[2018-08-02 09:01] FelixStege commented on #583
The following hydraulic modules will be developed:

- [ ] admix circuit

- [ ] Throttle circuit

- [ ] injection circuit

[2018-08-03 20:10] nariday opened #584 "Windows command line for Dymola Python Interface"
Hi!

I'm following the instruction for [Dymola Python Interface](https://github.com/RWTH-EBC/AixLib/wiki/How-to:-Dymola-Python-Interface#installing-the-python-package-dymola). I am stuck in the line where it states:

Could you explain what exactly "Window command line" means? Do I need to pull out the cmd from my Windows 10, and just type that in? (Nothing happened when I did.) Or does it mean the

[2018-08-06 07:51] marcusfuchs commented on #584
@nariday Yes, it just means to hit your windows key, type `cmd`, Enter and type that in. In the command line, you will not see any returned values. Please note that this does not "install" the dymola package in the same way that e.g. pip installs packages. It just adds your Dymola path to an environment variable called `PYTHONPATH` to tell Python where to look for a package called `dymola` after i

[2018-08-06 17:41] nariday commented on #584
@marcusfuchs Thanks a lot for your reply! I followed the instruction, but unfortunately I still don't see that `dymola` is successfully called.

So in the Command Prompt, it started with `C:\Users\me>` and then I typed the `set...` part as below:
`C:\Users\me>set PYTHONPATH=%PYTHONPATH%;C:\Program Files\Dymola 2018 FD01\Modelica\Library\python_interface\dymola.egg`

Then in the python shell, I tes

[2018-08-07 07:16] marcusfuchs commented on #584
@nariday It's hard to tell for me where the problem is. Did you check that your Dymola installation is actually at `C:\Program Files\Dymola 2018 FD01\` as you set in the path above? Apart from that, I am not sure how to help any further. Maybe you could contact your Dymola support?

[2018-08-07 07:58] PMehrfeld commented on #584
1. I am pretty sure that Dymola 2018 FD01 comes along with python 3, but you have python 2.7.14 (see your screenshot). However, the thrown error is not due to this fact.

2. When you set the PYTHONPATH environment variable vie `cmd` it is only temporarily for this special shell session. Did you execute all commands in one shell session? Like in the screenshot below.

3. However, it might be smarte

[2018-08-07 11:25] PMehrfeld opened #587 "Encoding and non ASCII characters"
See [this comment](https://github.com/RWTH-EBC/AixLib/pull/586#issuecomment-411022931).

- [x] ~~CI for non ASCII characters~~

- [x] ~~All files to encoding UTF-8 without BOM (no ANSI, no UTF-8 with BOM) --> still checking wether w/ or w/o BOM~~

ToDos not done due to evolution within this issue thread.

[2018-08-07 12:12] PMehrfeld commented on #400
top-level package `Systems`

[2018-08-07 14:52] PMehrfeld commented on #337
- [ ] Avoid using `final inner` statements like in `AixLib.FastHVAC.Components.Storage.BaseClasses.PartialHeatTransferLayers`.

[2018-08-07 19:34] nariday commented on #584
@marcusfuchs @PMehrfeld  Thanks, both, for your help! Setting the PYTHONPATH solved the problem.

Regarding Python 2.7, I remember that Python 3.x didn't work for some FMI-related work a year ago, so I had to uninstall the v3 and reinstall 2.7 back then. But I'll definitely check if that constraint still exists, and will update it to python 3. Thanks a lot for your tips!

[2018-08-07 19:34] #584 closed

[2018-08-08 10:49] mlauster commented on #271
@AnaConstantin, is there any work on this? I suspect not, so I will set this to stale.

[2018-08-08 10:51] mlauster commented on #277
@AnaConstantin, I don't think there is much to happen here, can we close this?

[2018-08-08 10:53] mlauster commented on #308
Covered in #57, since nothing is happening here, I will close it.

[2018-08-08 10:53] #308 closed

[2018-08-08 10:55] tbeu commented on #277
I really wonder why there is no progress, but see my comment above from 20 Nov 2017.

[2018-08-08 10:59] mlauster commented on #277
@tbeu, @AnaConstantin is in parental leave and so far nobody else took over this work. I will see with @AnaConstantin how to proceed here. Thanks for your input and interest!

[2018-08-08 11:58] mlauster commented on #332
@MichaMans, you seem to work on this. Any time schedules when it will be finished? Could you assign yourself?

[2018-08-08 12:00] mlauster commented on #337
@DaJansenGit, @pme, is this issue still current? If so, is there a branch and what is the stauts? If not (r.g. replaced by another issue), can we close this?

[2018-08-08 12:02] mlauster commented on #354
@MBaranskiEBC, is this still active?

[2018-08-08 12:11] mlauster commented on #520
@TimRoeder, any updates on this?

[2018-08-08 12:11] mlauster commented on #524
@MBaranskiEBC, any updates on this? Could you assign a milestone?

[2018-08-08 12:13] mlauster commented on #525
@MBaranskiEBC, there does not seem to be too much progress here. Is this stale for now and we should close it?

[2018-08-08 12:16] #548 closed

[2018-08-08 12:18] mlauster commented on #184
Covered by #563

[2018-08-08 12:18] #184 closed

[2018-08-09 06:57] PMehrfeld commented on #510
Should be solved with #577.

[2018-08-09 07:53] SvenHinrichs opened #590 "Expansion valves for modular heat pumps"
### **What is the problem?**

The issue refers to/is a partial solution for issue #457.

We want to extend an existing model of an expansion valve by integrating compression effects.

### **Why do we want to solve it?**

We want to solve this in accordance with issue #457: The expansion valve can be used in closed loop systems such as heat pumps.

### **How do we want to solve it?**

Regarding the

[2018-08-09 08:07] PMehrfeld opened #591 "Add System package for exemplary BES"
**What is the problem?**

- The upcoming package `Systems` should receive valuable sub packes

**How do we want to solve it? Describe the solution you'd like**

- Add an example according to [this description](https://github.com/RWTH-EBC/AixLib/wiki/How-to:-Structure-a-Building-Performance-Simulation).

**Components that will be included:**
- heat pump
- buffer storage (for space heating)
- DHW mo

[2018-08-09 08:15] mlauster commented on #271
@AnaConstantin, I suspect there is lot of work still to do here, right? I will close this issue for now, please reopen if work is still planned.

[2018-08-09 08:15] #271 closed

[2018-08-09 08:17] mlauster commented on #182
I will close this issue for now, since there seems to be no real need to migrate `ThermostaticRadiatorValve` and `FloorHeatingValve` at the moment. If this comse up again, please reopen.

[2018-08-09 08:17] #182 closed

[2018-08-09 08:25] mlauster commented on #277
Just to wrap up what still needs to be done here: Scan our Communications Package and make use of https://github.com/modelica/Modelica_DeviceDrivers. All parts that cannot be used to extend the functionalities of Modelica Device Drivers should be deleted.

[2018-08-09 08:31] mlauster commented on #344
@AnaConstantin, how to proceed with this? Will we do this or shall we close this for now? @PMehrfeld, any interest from your side to add these functionalities?

[2018-08-09 08:34] mlauster commented on #354
Isn't this covered in various other issues, e.g. by @alexanderAKU? In this case, we could close it here it think.

[2018-08-09 08:35] PMehrfeld commented on #344
Currently there is no need for me, although I like this idea.

[2018-08-09 08:35] mlauster commented on #360
@alexanderAKU, how are the plans on this?

[2018-08-09 08:40] mlauster commented on #344
I will close this for now then.

[2018-08-09 08:40] #344 closed

[2018-08-09 08:48] mlauster commented on #406
Will be closed with open PR #444

[2018-08-09 08:51] mlauster commented on #407
@cvering, are all points from this issue adressed in PRs #451, #498 and #499? Or could you give an update, what for further work is planned that isn't adressed in another issue? This would help estimating when we can close this issue.

[2018-08-09 09:02] mlauster commented on #416
Current status: We need to clarify licences and then set up a Docker and  use in with TravisCI

[2018-08-09 09:03] mlauster commented on #457
Will be closed by #498

[2018-08-09 09:03] mlauster commented on #467
Will be closed by #499

[2018-08-09 09:06] mlauster commented on #479
@cvering, is this covered by one of the open PRs?

[2018-08-09 09:10] PMehrfeld commented on #581
First step done with creating the package in #592

[2018-08-09 09:10] alexanderAKU commented on #360
@mlauster The master thesis is finshed. Nevertheless, the model needs to be reworked (naming, parameter propagation, etc.).

[2018-08-10 05:12] cvering commented on #407
Hey mlauster! I am on it! We will close these issues within the next days!

[2018-08-10 13:32] bramvdh91 opened #596 "Placement of resistances in TEASER FourElement RC model"
**Describe the bug**
When looking at the RC-diagram of the four element (under Documentation view), it is shown that for the Floor and Roof capacity, the "Rem" resistance is located at the interior side of the model (that is, towards the Air node). For the exterior wall, the "Rem" resistance is at the outside of the model.
Changing over to the Diagram view in Dymola, it can be seen that the Floor

[2018-08-10 14:16] LucaVedda opened #597 "Add CondensingBoilerPhysics model"
### What is the problem?

- The AixLib 'Boiler' model is very simple and its functionality restricted, e.g. it's working without any boiler efficiency factors.

### Why do we want to solve it?

- We want AixLib to provide a boiler model for a broader variety of user cases.

### How do we want to solve it?

- We will create a new 'CondensingBoilerPhysics' model in AixLib which partially works with

[2018-08-10 14:34] PMehrfeld commented on #597
@LucaVedda : Thanks for the issue. This sounds like a promising enhancement.
Is this model really limited to condensing boiler applications? Or can it also be parametrized to function as a conventional boiler (without condensing effect)? If it is possible, the name should probably be revised.

[2018-08-14 12:27] LucaVedda commented on #597
Right now, the model is just for condensing boiler purposes. However, it can be changed to work without condensing effect in the future. The model is referred from the BuildSysPro library and based upon the literature "Règles de modélisation des systèmes énergétiques dans les bâtiments basse consommation". It uses different manufacturers database from ATITA.

[2018-08-14 17:43] MBaranskiEBC commented on #354
@mlauster yes it should be well covered in other issues, let's close it here.

[2018-08-14 17:47] #525 closed

[2018-08-14 17:54] MBaranskiEBC commented on #332
One of our students intends to use and update the old model. @MichaMans, are you planning significant changes?

[2018-08-15 12:43] MichaMans commented on #332
@MBaranskiEBC No, don't want to implement some significant changes. The student can test and improve the transferred model and maybe add some docu etc. That would be great

[2018-08-15 12:52] PMehrfeld commented on #354
@MBaranskiEBC : So the [according branch](https://github.com/RWTH-EBC/AixLib/tree/issue354_controllerInterfaces/AixLib) can be deleted? Then the following (added) files might be lost.

![unbenannt](https://user-images.githubusercontent.com/11769433/44148991-be412be6-a09a-11e8-8159-5ec0cdf2ff98.JPG)

[2018-08-21 17:00] cvering commented on #590
Thank you Sven for your input! We are curious of your results!

[2018-09-05 08:49] mlauster opened #603 "Release 0.6.1 with merge of IBPSA Lib"
There was a bugfix regarding `FourElement` model in IBPSA Lib, see https://github.com/ibpsa/modelica-ibpsa/pull/1004. To get this into AixLib and have the latest version of IBPSA Lib merged, I will do such a merge and afterwards release version 0.6.1. Since we have some slight changes already in AixLib compared to the latest release, that are ready to see the master, I will work on the development

[2018-09-06 07:31] mlauster opened #604 "Change license to BSD-3"
With https://github.com/ibpsa/modelica-ibpsa/pull/897, the Modelica IBPSA Library changed from Modelica 2 license to BSD-3 clause license, as did the MSL with https://github.com/modelica/ModelicaStandardLibrary/pull/2373. Since the Modelica 2 license do actually not allow integrating a library into another, we should also switch to another license. I would prefer MIT, but since all others use BSD-

[2018-09-06 10:59] PMehrfeld opened #605 "sunblind transmittance factor and ratio of shading"
**Describe the bug**
The MODEL `AixLib.Building.Components.Weather.Sunblinds.BaseClasses.PartialSunblind` defines a parameter `gsublind` as transmittance factor of solar irradiation but the factor was propagated and renamed to `ratioSunblind`, which means the share of how much the sunblind is closed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `AixLib.Building.HighOrder.Examples.OFD

[2018-09-06 11:54] PMehrfeld commented on #605
I merged this branch into #599 and will continue fixing the bugs there.

[2018-09-07 10:07] PMehrfeld commented on #605
Closed with #599

[2018-09-07 10:07] #605 closed

[2018-09-07 10:08] PMehrfeld commented on #581
@alexanderAKU : Do you think we need to keep this issue opened? I think good first steps are done :)

[2018-09-12 15:36] StGoebel opened #609 "Rotating piston compressor for modular heat pumps based on physical equations"
**What is the problem?**
This issue is a work package for issue #407

Currently, there are no compressor models based on physical equations or ones that consider the geometry of the compressor (i.e. roller size, cylinder size)

**Why do we want to solve it?**
Compressor models based on physical equations are probably more accurate and need less validation data. Those models could be used for insta

[2018-09-14 09:32] tstorek opened #610 "Modell modification for better calibration"
**What is the problem?**
Some models do not include some physics which are important for representing
dynamic system behaviour and give the option to adapt them based on real building data.

**How do we want to solve it? Describe the solution you'd like**

We add physical delays and calibrate them based on real data

**Describe alternatives you've considered**

We did not consider any alternatives

[2018-09-18 12:18] blauswinburne opened #611 "new picture"

[2018-09-18 14:35] PMehrfeld commented on #611
I will close this issue as it seems to happened by accident.

[2018-09-18 14:35] #611 closed

[2018-09-18 15:52] #495 closed

[2018-09-20 09:20] PMehrfeld commented on #577
- [ ] Condenser and Evaporator instances start with upper case instead of lower case (in model `AixLib.Fluid.HeatPumps.HeatPump`)

- [ ] Parameters of model `AixLib.Fluid.HeatPumps.HeatPump` need more grouping in the annotations (Dialog -> group)

- [ ] Scaling factor can be set to 1 by default.

- [ ] In `AixLib.Fluid.HeatPumps.HeatPump` the Dynamics seem not to be propagated properly.

- [ ] The

[2018-09-20 09:21] PMehrfeld commented on #577
@FWuellhorst: Despite my remarks above. Your work looks absolutely great is a really big contribution to our heat pump development in the AixLib!

[2018-09-22 07:08] FWuellhorst commented on #577
@PMehrfeld Thanks!
Even though the first implementation is finished and works, there are a few points i will change / add in the near future. Some may also be suggestions to future development of the model.
- [ ] Add a function for the icing factor based on an existing model
- [ ] The polynomal approach in the IBPSA HP Model Carnot_y shall be used as an example function for the new model
- [ ] Add

[2018-09-25 10:20] FWuellhorst opened #615 "Enhancements to the new HP Model"
**What is the problem?**
As mentioned in #577, a new heat pump model was implemented. The first version of the model is now in the current devolopment and works.
There are a few points i will change / add in the near future. Some may also be suggestions to future development of the model.

**How do we want to solve it?**
- [x] Add a function for the icing factor based on an existing model
- [x] Th

[2018-09-27 11:06] AnaConstantin commented on #277
Tested the new implementation by @tbeu. The example provides the same results.
Revised the UserGuide: referenced the old implementation and where to find it, deleted the documentation part as it no loger applies.
Added a reference to the issue number to all the revision texts.
Deleted the AixLibSocketCommunication.h file for the library and the AixLib.Utilities.Communication.SocketCommunication.Fu

[2018-10-02 07:21] munadel4 opened #616 "Uploading images"
<img width="272" alt="screen shot 2018-10-02 at 10 09 04 am" src="https://user-images.githubusercontent.com/2528482/46334470-e48b5f80-c62c-11e8-9dae-ba420c26372a.png">
<img width="1440" alt="screen shot 2018-10-02 at 10 10 25 am" src="https://user-images.githubusercontent.com/2528482/46334471-e48b5f80-c62c-11e8-99c7-bcbc2e4cdc71.png">
<img width="1440" alt="screen shot 2018-10-02 at 10 11 12 am" s

[2018-10-04 07:29] mlauster commented on #616
@munadel4, for what do you need these images? I think there are already alternatives to upload them... Anyway, I will close this issue, you can still use the images then.

[2018-10-04 07:29] #616 closed

[2018-10-04 10:43] mlauster commented on #604
I will leave that discussion open for three more days, ask Dirk about his opinion and finally change the license (or not ;-)) .

[2018-10-08 10:56] alexanderAKU opened #623 "Reworking FourPortHeatMassExchanger"
**What is the problem?**

I want to create a simple heat exchanger model which has a dynamic behavior. Thus, I want to use n volumes for fluid 1 and n volumes for fluid 2 and connect the heat ports to a heat transfer function.
I found a base class in Fluid.Interfaces.FourPortHeatMassExchanger. I think a good way is to extend from this class. Nevertheless, this base class has only one volume for ea

[2018-10-08 10:58] alexanderAKU commented on #623
I'm going to change the following things:

- [ ] rework the layout (small changes, adjusting some lines)
- [ ] adding n volumes and connect the ports with a loop

[2018-10-11 10:02] PMehrfeld commented on #603
@mlauster : I have merged the branch and deleted it.
I close this issue.

[2018-10-11 10:02] #603 closed

[2018-10-11 10:32] PMehrfeld commented on #510
After some testing phase of the new heat pump model, I will probably remove the heat pump detailed model and maybe the simple model.
Until this point, I leave this issue open.

[2018-10-11 12:17] mlauster commented on #604
closed via #627

[2018-10-11 12:17] #604 closed

[2018-10-11 12:17] mlauster commented on #276
closed via #599

[2018-10-11 12:17] #276 closed

[2018-10-12 10:44] PMehrfeld opened #632 "Revise Readme.md"
I will suggest a few changes in the Readme.md, which can be found in the upcoming commit.

[2018-10-12 11:49] #632 closed

[2018-10-12 13:35] fstinner opened #634 "Add Bibtex Text of citable Paper"
**What is the problem?**

Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- Add Bibtex Text of citable Paper.

**How do we want to solve it? Describe the solution you'd like**

A clear and concise description of what you want to happen.

- Add Bibtex Text of citable Paper.

[2018-10-15 11:04] PMehrfeld opened #635 "Sunblind parameters conditional"
**Describe the bug**
The sunblind parameters for window shading in `AixLib.ThermalZones.HighOrder.Components.Walls.Wall` and in `AixLib.ThermalZones.HighOrder.Components.Walls.Wall_ASHRAE140`

- Blinding
- LimitSolIrr
- TOutAirLimit

should receive the addition `if withWindow and outside and withSunblind`.

**To Reproduce**
Steps to reproduce the behavior:
1. `AixLib.ThermalZones.HighOrder.Compone

[2018-10-15 11:58] PMehrfeld commented on #635
Merged in #636

[2018-10-15 11:58] #635 closed

[2018-10-17 11:53] PMehrfeld commented on #623
closed via #624

[2018-10-17 11:53] #623 closed

[2018-10-17 13:09] adrpo opened #640 "AixLib/Media/Refrigerants contains "duplicate" packages: R410a and R410A"
**Describe the bug**
Both R410a and R410A packages are present which creates problems on both case sensitive and case insensitive file systems.

**To Reproduce**
Load the library in OpenModelica OMEdit.

**Expected behavior**
Merge R410A into R410a (or just remove R410A).
The naming of R134a suggest small caps for last letter.

**Desktop (please complete the following information):**
 - OpenModeli

[2018-10-17 14:31] PMehrfeld commented on #640
@adrpo: Thanks for reporting the bug.
On Windows we did not really encounter that problem, since case sensitivity is ignored.
I removed the folder on a linux system. In `development` and `master` branch the folder with lower case "a" does not exist anymore. We solved this in #641 and #643.

[2018-10-17 14:31] #640 closed

[2018-10-18 14:44] PMehrfeld opened #648 "Delete images folder in root directory"
In AixLib's root directory there was still the folder `Images`. These images were already moved to AixLib/Resources/Images/Airflow.

[2018-10-19 10:56] alexanderAKU opened #650 "Simple dynamic heat exchanger model"
**What is the problem?**

The aixlib contains some heat exchanger. Nevertheless, they don't cover a dynamic behaviour. Thus, is simple heat exchanger model will be developed that bases on the interface FourPortMassExchanger (see #623 )

**How do we want to solve it? Describe the solution you'd like**

The new heat exchanger model extends the FourPortMassExchanger and adds a simple heat transfer

*

[2018-10-19 10:57] alexanderAKU commented on #650
In a first step, a fixed heat transfer will be used. Later developments could integrate a volume flow dependent heat transfer.

[2018-10-22 09:01] PMehrfeld opened #651 "Revisions in window models"
**Description**

- Model `twoStar_RadEx` in `AixLib.ThermalZones.HighOrder.Components.WindowsDoors.WindowSimple` seems to be redundant.

- WindowTyp.Emissivity needs to be kept, since it is still used in `Window_ASHRAE140`, where model `twoStar_RadEx` is at correct and necessary position.

- In model `Window_ASHRAE140` the parameters `eps_out` and `phi` seems to be not in use.

**Screenshots**
Tes

[2018-10-24 15:12] MichaMans opened #653 "Integrate sun blind in the ReducedOrder Model"
**What is the problem?**

- Outer sun blinds are currently not implemented in current low order models

**How do we want to solve it? Describe the solution you'd like**

- I'll implement small sun blind block in the thermal zone equipped model which considers the total irradiation on the roof and compares this with a certain threshold in the zone parameters. After exceeding the certain threshold t

[2018-11-02 09:31] FWuellhorst commented on #651
`twoStar_radEx ` has no impact on the `star.T` and `star.Q_flow`. However, the temperature `predescribedHeatFlow.port.T` changes with the equation in `twoStar_radEx `. The temperature `Star.T` is defined by `AixLib.Utilities.Interfaces.Adaptors.HeatStarToComb[5].star.T` and not by `twoStar_radEx`. Therefore the temperature calculation inside `twoStar_radEx` has no impact on the model. Check of all

[2018-11-02 09:54] FWuellhorst commented on #651
The parameters `eps_out` and `phi` are not being used and therefore have no impact on simulation results. They are removed as well.

[2018-11-05 23:34] PMehrfeld commented on #651
Closed by #657

[2018-11-05 23:34] #651 closed

[2018-11-12 10:44] PMehrfeld opened #658 "DDE and external libraries (e.g. NcDataReader)"
**What is the problem?**

DDE does not work easily with external libraries. In particular, when executing / using the `NcDataReader`.

**How do we want to solve it? Describe the solution you'd like**

- [x] Enhance documentation of `AixLib.Utilities.Sources.NcDataReader`

- [x] Add two scripts (win32 and win64) to the example, where binary folder is added to Windwos PATH variable.

[2018-11-15 15:46] DaJansenGit opened #660 "Issue309 New heatpump model"
**What is the problem?**

With #577 a new heatpump model was developed for the AixLib. Gratefully the new model uses a blackbox approach for the refregeriant cycle so we should be able to simply reuse it in the fastHVAC lib.

**How do we want to solve it? Describe the solution you'd like**

Switch the fluid depending elements (ports, volumes) to fastHvac elements.

[2018-11-17 12:07] FWuellhorst commented on #660
Please also see #615, some implementations are still missing. I will implement them in the next two weeks.

[2018-11-19 13:12] FWuellhorst commented on #615
Besides the points mentioned above, i will also change/implement the following features:

- [ ] Add a hysterese to the operation envelope and defrost model
- [ ] Change the week-based aproach in the `antiLegionella` model to a more user-friendly approach(e.g. daily, hourly, weekly etc.)
- [ ] Create a nominal point and make all parameters dependend on this nominal point. New Parameters will be def

[2018-11-20 14:03] #581 closed

[2018-11-20 14:08] alexanderAKU opened #661 "Simple Dynamic Heat Exchanger Model"
**What is the problem?**

There is no dynamic heat exchanger model in the AixLib.

**How do we want to solve it? Describe the solution you'd like**

The heat exchanger will extend from the FourPortHeatMassExchanger model. (see issue #623)

[2018-11-20 14:09] alexanderAKU commented on #661
The heat exchanger will base on a simple heat transfer in the first step.

[2018-11-26 10:39] MichaMans opened #662 "Simplified Air Curtain"
**What is the problem?**

For energy balance calculation of low order retail zones, ones might need a simplified air curtain model

**How do we want to solve it? Describe the solution you'd like**

We model a very simplified approach to account for the heat losses through such an aircurtain.

**Describe alternatives you've considered**

Currently i don't see any alternatives here

[2018-12-04 14:16] ghost opened #664 "Integrate decentralized ventilation unit to HighOrder Model"
**What is the problem?**

Ventilation is only realized via constant volume flows, either by infiltration or natural ventilation. Since, the deliverable volume flows of decentralized ventilation devices are strongly dependent on wind conditions at the building, a new model must be generated.

**How do we want to solve it? Describe the solution you'd like**

The HighOrder Wall model will be extended

[2018-12-04 15:39] MDHering commented on #403
@MichaMans @TobiasBlacha @marcusfuchs Is anyone using the OpenLoop/HeatPumpCarnot model? I have two minor changes, that I want to add and don't want any other models to fail.
Changes are:
- assign dTDesign to temperatureDropHP.k
- Add minimal temperature difference on district heating side (avoids return flow temperature from going out of bounds)

[2018-12-04 21:38] MichaMans commented on #403
If someone is currently working with that model, then @TobiasBlacha . From my side, every addition is an enhancement 👍

[2018-12-05 08:08] TobiasBlacha commented on #403
@MDHering I'm not working with the model at the moment, but I think the two proposed changes are good.

[2018-12-10 10:17] StGoebel opened #665 "Refrigerants R744 (CO2) and R32 for modular heat pumps"
**What is the problem?**

This issue is a work package for issue #407
Currently, there are just two refrigerants within the AixLib library. Therefore, we want to add two different refrigerants (R744 (CO2) and R32).

**How do we want to solve it? Describe the solution you'd like**

We will use the approach presented by Sangi et al. (see paper “A Medium Model for the Refrigerant Propane for Fast and

[2018-12-11 15:04] MichaMans commented on #403
@MDHering @TobiasBlacha
I did some small revisions of the partial supply model, set the time constant (tau) for temperature sensor to zero (reason: simulations with euler solver and fixed time step of 1s were otherwise not feasible), flipped the sensor for aesthetic reasons, implemented a Q_flow for the calculation of the heating power in the supply station.

[2018-12-17 12:42] MDHering commented on #403
@MichaMans @TobiasBlacha  I tried to find a way to set additional pressure losses of the plugFlow pipe model in relation to zeta values of components. Right now, the parameter fac is used. If we want to use zeta values instead the parameterization of fac needs to be changed for three components. The equation for fac is:
![grafik](https://user-images.githubusercontent.com/26870885/50087133-5ec88a80

[2018-12-17 13:39] MichaMans commented on #403
@MDHering
Currently I'm not sure if i understand it all right. You already implemented your suggestion and tested it, didnt't you? Where the results better then before? Because this might be a large ajustment to the models of the ibpsa library. Maybe we can go for an implementation suggested with 2. with new models. So not changing the current, more adding new ones to test and discuss them.

[2018-12-17 14:12] MDHering commented on #403
@MichaMans I agree that adding new models is probably the best way to compare the two models. The advantage of writing zeta values directly to the pipe model is mainly that this decreases the need for a lot of preprocessing. Zeta values can be taken from literature directly, whereas fac needs to be calculated depending on flow regimes at nominal conditions right now. I will add the new models for

[2018-12-17 19:23] PMehrfeld commented on #403
@MDHering: I just went fast through your text, but if I see it correctly, it might be an option for you to take the model `AixLib.Fluid.FixedResistances.HydraulicResistance`. Here you directly have the parameters `m_flow_nominal`, `diameter` and `zeta`. So you can implement maybe a combination of zetaResis - PlugFlowPipe - zetaResis.

[2018-12-18 07:14] MDHering commented on #403
@PMehrfeld Thanks for the advice. Somehow I missed this possibility completely. I will add a model according to your suggestion and test it.

[2018-12-18 15:31] JulianMatthes opened #667 "Development of physical, modular CHP models"
**What is the problem?**

The existing models of CHP units inside energy building systems are black-box-models. They do not take into account physical and chemical equations. Therefore they are not able to calculate the energetic/material balances and cannot show the starting and stopping operation precisely. Moreover the implemented control algorithms do not reproduce the current state of the ins

[2018-12-19 13:54] MDHering commented on #403
I added my first draft of the PlugFlowPipes to the pipes folder in the disctrict heating folder. The pipes named PlugFlowPipeZeta and StaticPipeZeta use an additonal hydraulic resistance component. With those pipe models a large DH simulation failed during the comilation due to Bad Allocation error.

The model PlugFlowPipeFacAsZeta is modelling additional pressure losses with the factor fac instea

[2018-12-21 10:30] FWuellhorst commented on #615
I did implement the function for the polynom based approach. However i didn't add the coefficients to the base data, as the deviations from the actual table data are unreasonable high.

[2018-12-26 20:37] 28111991anjali opened #669 "tribute page"
![tribute](https://user-images.githubusercontent.com/46168009/50456663-269e1600-097c-11e9-959b-b3207a4286b9.png)

[2018-12-26 20:37] #669 closed

[2018-12-26 20:40] 28111991anjali opened #670 "survey form"
![survey](https://user-images.githubusercontent.com/46168009/50456738-93b1ab80-097c-11e9-996c-88ae23974434.jpg)

[2018-12-26 20:40] #670 closed

[2018-12-26 20:43] 28111991anjali opened #671 "project landing page"
![landing page](https://user-images.githubusercontent.com/46168009/50456795-fc992380-097c-11e9-87ce-7f1dc19ca50a.jpg)

[2018-12-26 20:43] #671 closed

[2018-12-26 20:45] 28111991anjali opened #672 "technical documentation"
![technical documentation](https://user-images.githubusercontent.com/46168009/50456843-4da91780-097d-11e9-8cf0-39d75dbd04b5.jpg)

[2018-12-26 21:09] #672 closed

[2019-01-03 09:35] #462 closed

[2019-01-03 15:15] PMehrfeld commented on #615
Closed via #668

[2019-01-03 15:15] #615 closed

[2019-01-08 16:14] FWuellhorst opened #673 "Dynamic Distributor model"
**What is the problem?**

The model `AixLib.Fluid.HeatExchangers.ActiveWalls.Distributor` is limited to exactly six floor heating circuits. Some models (e.g. MoNetGen) need a dynamic number of floor heating circuits.

**How do we want to solve it?**
Within the project of the MoNetGen a dynamic distributor was created. We will take this model, change some minor things to match the `AixLib` guidelin

[2019-01-11 14:46] FWuellhorst commented on #673
@PMehrfeld :
I suggest to rename some ports and elements:
`volume` to `vol_flow`
`volume1` to `vol_return`
`MAIN_FLOW` to `main_flow`
`MAIN_RETURN` to `main_return`
Or is this caps-version according to some styleguide?

[2019-01-18 11:06] DaJansenGit opened #674 "issue309 HeatGeneratorsNew"
**What is the problem?**

The current fast HVAC CHP model can only be used with tabular data which are generated by experiments.
Also we want to integrate SOFC and PEM Fuel cells additionally to internal combustion engines (ICEs).

**How do we want to solve it? Describe the solution you'd like**
With a new model we want to allow an alternative method by calculating the efficiency by datasheets or

[2019-01-18 11:38] DaJansenGit commented on #674
With the latest commit 2682a6e we have the current status:
**ICE**
- For ICE units both, the efficiency calculation by curve and by table are working.

**PEM Fuel Cell**
- For PEM Fuel Cells we have a working table set and the model is working with it.
-  The curve calculation is not implemented yet.

**SOFC**
- For SOFC Fuel Cells we have a working table set but it's not integrated into the model

[2019-01-21 13:43] MDHering commented on #403
@MichaMans @TobiasBlacha I tried the approach that you suggested to write the calculation of parameter fac in the model generation template. For my first test this works really well. The changes are all part of the uesmodels project (see issue 32).
In my opinion this is a good solution. If you aggree I delete all additional pipe models that I added to this branch, because we do not need them any m

[2019-01-22 11:39] alexanderAKU opened #675 "Improvement of hydraulic module controllers"
**What is the problem?**

- The controls of the hydraulic modules are not generic (e.g. reverse action not implemented) and not available for all modules

**How do we want to solve it? Describe the solution you'd like**

- We need to imporve the existing controllers and add new ones

**Describe alternatives you've considered**

- There are no alternatives

[2019-01-22 11:41] alexanderAKU commented on #675
- [ ] add reverse action
- [ ] add T_set Input
- [ ] add additional controller

[2019-01-23 09:45] alexanderAKU commented on #661
branch merged

[2019-01-23 09:45] #661 closed

[2019-01-23 13:39] alexanderAKU opened #677 "Hydraulic modules for AHU"
**What is the problem?**

- Air-handling unit consist of several nearly identical subsystems, e.g. preheater, cooler, reheater. However, there are no generic models for these subsystems.

**How do we want to solve it? Describe the solution you'd like**

- We create a new model consisting of a heat exchanger and a standard hydraulic circuit.

**Additional context**

This issue is related to #583 an

[2019-01-23 13:41] alexanderAKU commented on #677
- [ ] define new bus connector for ahu registers
- [ ] create new model consisting of a replaceable hyrdaulic module an a heat exchanger

[2019-01-23 19:09] dgusain1 opened #678 "Chiller Examples in OpenModelica give errors"
Hi!

Simulating any example that contains the chiller model from Fluid library gives the following error:

`Variable chi: Cyclically dependent constants or parameters found in scope Buildings.Fluid.Chillers.Carnot_TEva$chi: {COP_nominal,etaCarnot_nominal} (ignore with -d=ignoreCycles).`

Is this a known problem?

[2019-01-23 19:13] dgusain1 commented on #678
I already tried giving the -d=ignoreCycles as a flag during Simulation Setup; it doesn't work.

[2019-01-24 07:49] PMehrfeld commented on #678
Hi @dgusain1,

Thanks for letting us know about this issue in OpenModelica.
Unfortunately, I do not know this problem.

Anyway, I must refer to the [IBPSA Library](https://github.com/ibpsa/modelica-ibpsa), from which the model originates. 'AixLib' is one of 4 libraries that merges from time to time the core library (IBPSA Library).

Thus, you should open an issue in that repository.

For further i

[2019-01-24 07:49] #678 closed

[2019-01-24 08:05] nhuelsenbeck commented on #660
The heatpump model was adapted to the FastHVAC library. It was named HeatPump2. The following components were added to the FastHVAC lib for successful completion:
- Components\HeatGenerators\HeatPump2
- BaseClasses\EvaporatorCondenserWithCapacity
- Interfaces\TwoPortHeatMassExchanger
- Examples\HeatGenerators\HeatPump\ValidationHeatPump2

[2019-01-31 13:40] DaJansenGit commented on #400
in v0.7.4 the new heat pump model is integrated into fastHVAC and the old one delted

[2019-01-31 14:55] #408 closed

[2019-01-31 14:56] cvering commented on #408
Hey everyone! Thanks for the great work. We will close this issue and move our refrigerant models into the IBPSA library. All the Best Christian

[2019-02-08 09:56] nhuelsenbeck opened #684 "Adaption of modular CHP from Fluid to FastHVAC"
**What is the problem?**

A version of the CHP model developed by JulianMatthes needs to be integrated into the FastHVAC library for performing time-saving calculations.

**How do we want to solve it?**

This issue is based on issue #667. Adaption can be divided into the following actions:
- Change Fluid ports to enthalpy ports
- Change parts from Fluid library (e.g. Closed Volume)
- Remove all pr

[2019-02-14 08:07] vadopolski opened #685 "sport"
![shutterstock_727269076](https://user-images.githubusercontent.com/19272657/52772058-9eb5bd80-3048-11e9-8915-325c3e1459b6.jpg)

[2019-02-14 08:10] vadopolski commented on #685
![shutterstock_218855314-1](https://user-images.githubusercontent.com/19272657/52772158-eb999400-3048-11e9-90f2-ee98a63300ea.jpg)

[2019-02-14 08:20] vadopolski commented on #685
![shutterstock_218855314-1](https://user-images.githubusercontent.com/19272657/52772272-1ab00580-3049-11e9-9d5c-a4f6c307a05c.jpg)

[2019-02-14 08:20] #685 closed

[2019-02-18 12:59] MichaMans commented on #403
@MDHering @TobiasBlacha As fare as i see the progress here, we reached a point in terms of model development which serves first DHC applications. Therefore we should think about merging it to the development. At least we should check the following for that:
- [ ] Check all models in pedantic mode
- [ ] All examples should check and simulate as well
- [ ] maybe integrate some example / reference re

[2019-02-22 07:20] MichaMans opened #687 "Additional Integration of Publications"
I should be a good idea, to have additional publications using the AixLib referenced right here in the repo. Therefor i will:
* Additional Readme.md section (Publications using AixLib)
* Additional Publications.md in ```fill right location here```
* Add a first example

[2019-02-26 10:11] PMehrfeld opened #689 "Two Radiation HeatToStar models"
Is there any difference between the two models:

- `AixLib.Utilities.HeatTransfer.HeatToStar`
- `AixLib.Utilities.HeatTransfer.HeatToStar_Avar`

The `_Avar` model seems to still have the old equation, whilst in the first model we tried to compensate negative solutions with max()-function. See here: #535 .

Can we write a conversion script and delete the `_Avar` model?

[2019-02-26 12:58] nhuelsenbeck opened #690 "Adapting Multizone models to new TEASER version"
**What is the problem?**
The new version of TEASER exports specific numbers in W/m^2 for internal gains coming from persons and machines respectively.
This issue is related to https://github.com/RWTH-EBC/TEASER/issues/567

**How do we want to solve it? Describe the solution you'd like**
The models ThermalZone and ThermalZoneEquipped include three models for internal gains calculation that need to

[2019-03-01 09:32] MDHering commented on #403
@MichaMans I pushed a first draft of a valvecontrolled Closed Loop substation. This substation is allready optimized to minimize the number of equations and to substitute the secondary fluid flow and Heat Exchanger model. Additionally, a control loop is added to set the opening of the valve according to available heat flow and requiered heat flow.
I sucessfully simulated the small LTDH network. Ad

[2019-03-06 08:36] DaJansenGit commented on #660
with #683 the implementation is finished. Thanks @nhuelsenbeck

[2019-03-06 08:36] #660 closed

[2019-03-06 08:41] DaJansenGit opened #692 "Wrong connection in LookUpTableND for heatpumps"
**Describe the bug**
The connections _Pel_ and _QCon_ to the feedback block ìn the model **AixLib.Fluid.HeatPumps.BaseClasses.PerformanceData.LookUpTableND** have been reversed. They should be the same as in **AixLib.Fluid.HeatPumps.BaseClasses.PerformanceData.LookUpTable2D**. This leads to incorrect signs.

[2019-03-06 08:42] DaJansenGit commented on #692
@FWuellhorst Am I wrong or is that a mistake in the model?

[2019-03-15 13:20] andresMoreno96 opened #693 "creation of Dollar class"
![Top-Level Package](https://user-images.githubusercontent.com/47487729/54433913-4d731980-472d-11e9-8b50-02f9028c08d3.png)

[2019-03-15 13:28] #693 closed

[2019-03-19 14:16] #487 closed

[2019-03-22 07:50] KremerMartin opened #695 "Add Moisture Balance to Thermal Zone"
**What is the problem?**

The Thermal Zone only contains a balance for thermal loads. As I am doing research on Moisture Recovery, I find it useful to have an moisture balance in the thermal zone.

**How do we want to solve it? Describe the solution you'd like**

I am setting up new reduced order models, that differ in the air volume. Instead of using the mixing volume, I will be using the mixing

[2019-03-22 07:56] mlauster commented on #695
A third way could be to use the replaceable construct to extend the existing models, this should avoid longer simulation times.

[2019-03-22 10:44] KremerMartin commented on #695
@mlauster Thanks for that advise. I'll consider that. If I can manage it that way, it would be the smartest way, I think.

[2019-03-22 19:31] PMehrfeld opened #696 "HeatPump: Improvements and minor bugs"
While using the model `AixLib.Fluid.HeatPumps.HeatPump` I came across a few issues with the model and according controller parts:

- [x] Rethink `greaterLow` hysterisis in `AixLib.Controls.HeatPump.SecurityControls.BaseClasses.BoundaryMap` since heat pump should also start even if the evaporator outlet temperature drops below e.g. 10 degC
- [x] TSetToNSet seems to be not propagated properly
- [x]

[2019-03-26 08:58] AnaConstantin opened #697 "Again with The unit test"
**What is the problem?**
As previously stated in #63 we need unit tests.

**How do we want to solve it? Describe the solution you'd like**

Implement some tests including reference results. Test it with CI.

**Describe alternatives you've considered**

Check what using the ModelManagement Library can also do.

[2019-03-26 09:51] MichaMans commented on #697
Also related to #416

[2019-03-26 11:00] AnaConstantin commented on #697
I did some reading on https://github.com/ibpsa/modelica-ibpsa/wiki/Unit-Tests and the following things are important:
1. The example in the library and the script (Resources/Scripts/) have to have the same startTime, stopTime and tolerance ( and anything else that was set differently than the default such as the solver).
2. Tolerance and stopTime have to be different than the default values, as th

[2019-03-26 11:02] MichaMans commented on #697
@AnaConstantin
I already tried to generate some reference results following the description above, but i did not manage to get this working. Were you able to generate these?

[2019-03-26 13:04] AnaConstantin commented on #697
@MichaMans for IBPSA yes (had to set the DYMOLAPATH on PATH as well).
By doing this:

it's now running on AixLib but it will take a while until it's done. I deleted all the reference results so I expect new ones to be written.

[2019-03-26 13:42] dianavaz opened #698 "Error: AixLib.Utilities.Interfaces.HeatStarComb has the same name as its type AixLib.Utilities.Interfaces.Star"
Hi!
I'm building a model to simulate thermal loads in a room using AixLib components on OpenModelica. However, when I check the project the following warning message arises:

Component Star in env: AixLib.Utilities.Interfaces.HeatStarComb has the same name as its type AixLib.Utilities.Interfaces.Star.
        This is forbidden by Modelica specification and may lead to lookup errors.

Tried to chec

[2019-03-27 09:27] AnaConstantin commented on #697
Worked! Execution time = 4626.670 s on 4 cores on a very old laptop. Saved the log file.

[2019-03-27 10:33] MichaMans commented on #697
- [ ] create new branch for ci integration
- [ ] merge the actual ibpsa library WITH all result files in the branch
  - [ ] Include this feature to the buildingspy package
- [ ] Inlcude the gitlab-ci.yml file for each package
- [ ] Integrate some kind of coverage result @AnaConstantin could you please check your logs if you find some information there

---

- [ ] Integrate new scripts for model no

[2019-03-27 10:52] AnaConstantin commented on #697
Statistics:
Number of models that failed check                           : 33
Number of models that failed to simulate                     : 34
Number of models that failed to export as an FMU             : 26
Number of models with unspecified initial conditions         : 1

Script that runs unit tests had 51 warnings and 149 errors.
more details in 'simulator-dymola.log'
Looks good.

[2019-03-27 15:21] MichaMans commented on #697
@AnaConstantin Can we use these informations to get some sort of coverage? Because at the moment it does not state how many models don't have simulation scripts etc

[2019-03-27 21:17] MichaMans commented on #697
@AnaConstantin if you have a look at the last commit with the red cross and look on the details of the gitlab-ci, you can see that 4 out of 9 package test are passing. So there is still some work for the other to run.
Possible failures are:
* Your mentions above (startTime etc are not set equally in script and model) (e.g. for the Systems package)
* The package does not have any test scripts (Elec

[2019-03-28 19:54] megatux opened #699 "Adding imgs to wiki"
**Describe the bug**

Searching how to add images to the GH wiki, found [your page](https://github.com/RWTH-EBC/AixLib/wiki/How-to:-Add-images-to-the-Wiki) that says

I found then [this page](http://mikehadlow.blogspot.com/2014/03/how-to-add-images-to-github-wiki.html) with an alternate method. I think it's the _right_ approach. Just my opinion, 5cents worth.

[2019-03-29 09:09] MichaMans commented on #699
@megatux thanks for raising this one!
I [implemented](https://github.com/RWTH-EBC/AixLib/wiki/How-to:-Add-images-to-the-Wiki) your suggestion for the _right_ solution, which is indeed a cleaner and permanently guaranteed way

Please close this if you agree with that solution

[2019-03-29 10:09] MichaMans commented on #697
@AnaConstantin @PMehrfeld @mlauster @PRemmen @DaJansenGit @SvenHinrichs
# Summary / Wrappin it all up
Here, i quickly want to summarize the current state and first implementation of the CI testing of the AixLib with dymola

## Current status of work
We are almost done; The whole testing procedure is already running, currently we do have mainly two open points:
- Waiting for the [buildingspy](https

[2019-03-29 10:20] MichaMans commented on #416
Main work and discussion now in #697

[2019-03-29 10:20] #416 closed

[2019-04-01 07:46] PMehrfeld commented on #697
Thanks all for achieving this "huge milestone" (in the words of @MichaMans)!

@FWuellhorst and me will take care of the init issue mentioned above:

[2019-04-01 08:26] PMehrfeld commented on #698
@dianavaz : Thanks for reporting.
I changed it in branch `issue698_HeatStarComb` and will merge it in the next minutes into the `development` branch (not `master`!).

Since the development was already one version higher than master, I fixed this bug from development.

Furthermore, the line

`connect(thermStarComb.Star, star);`

in class `AixLib.Utilities.Interfaces.Adaptors.HeatStarToComb` did not

[2019-04-01 11:28] PMehrfeld commented on #587
Dymola has by default set the following flag:

`Advanced.AlwaysWriteUTF8 = true "If true write UTF-8 files even if only ASCII contents. Can be changed without new translation of model";`

With the small tool [EncodingChecker](https://archive.codeplex.com/?p=encodingchecker) you can identify Encoding of files in all sub directories.

We need to stick to one specific encoding!! (My proposal is above

[2019-04-01 12:16] MichaMans commented on #587
maybe we can enhance the buildingspy for that test, or ad-hoc implement a few lines in the ```bin/runUnitTest.py``` with the help of python charset

[2019-04-01 12:23] PMehrfeld commented on #587
I agree, it will be possible with python, but I would not add the lines to that script, since it has nothing to do with unit testing.

[2019-04-01 12:25] PMehrfeld commented on #587
https://stackoverflow.com/a/192086/5568719

This might help.

[2019-04-01 12:27] MichaMans commented on #587
so just a naming issue? i don't see that as a barrier, because there are html only checks as well there. But as i said, quickly fork and implement that in the buildingspy should work. going for such an output:
![image](https://user-images.githubusercontent.com/15192234/55327308-15d4d300-548a-11e9-90b1-9a95c9c3b721.png)

Twoliner with chardet, needs to be tested
[code]

[2019-04-01 12:30] PMehrfeld commented on #587
Yes, we should provide one script doing only one thing. And in this case it would be checking encodings with a hint how to handle wrong encodings (e. g. with notepad++ which is good for single file conversion).

[2019-04-01 12:34] MichaMans commented on #587
I don't see why we should go for such a solution, first i would suggest that as an enhancement at the BuildingsPy, if they don't see that as a helpfull feature (i don't think so), we can discuss if we want to go for a dezentral, only available in aixlib solution

[2019-04-01 14:04] PMehrfeld commented on #587
It might be an enhancement for BuildingsPy.
However, as we just discussed personally, we will go towards multiple scripts for CI instead of on single, huge `runUnitTests.py`.

[2019-04-02 06:39] mwetter commented on #587
We could add a method to `buildingspy.development.validator`, such as `validateEncoding(...)`. This would then in design and usage be similar to the existing method `validateHTMLInPackage`.

[2019-04-02 18:25] Varunpm26 opened #701 "varunpm"
![VarunPMjpg](https://user-images.githubusercontent.com/42829148/55426574-c0401980-55a2-11e9-88a2-aa540f5fe648.jpg)

[2019-04-02 18:42] #701 closed

[2019-04-03 08:45] AnaConstantin commented on #697
@MichaMans, the log I get when running runUnitTests.py from BuildingsPy once is the same that we get with the test_overall_coverage, so I'll just use ci/gitlab logs. There seem to be some problems with ascii characters is some tests (e.g. test_dymola_systems), which I do not know what they mean. The rest of the outputs I understand and can work with.

[2019-04-03 09:19] MichaMans commented on #697
@AnaConstantin I implemented the coverage and an example is shown below. The examples which are not tested are readable in the log. Regarding the ascii errors, i'm not sure if we really have some ascii problems. The problem with the systems package test should be the missing parameters as described above. But correct me if i'm wrong.

[2019-04-03 09:33] FWuellhorst commented on #587
Some insides from the development of a script to detect and convert encodings. Note that i briefly dived into the topic. If some inside/conclusion is wrong, please correct me.

**Detecting encoding**
Taken from [here](https://stackoverflow.com/questions/436220/how-to-determine-the-encoding-of-text):

So, chardet will only attempt to find the correct encoding. In some cases, the confidence of chard

[2019-04-03 09:44] AnaConstantin commented on #697
@MichaMans, yes, these are the logs I was referring to.
I just ran test_dymola_Fluid and got the following error
![image](https://user-images.githubusercontent.com/8265208/55469473-e1862180-5605-11e9-8793-7ff286de610c.png)

[2019-04-04 14:41] FWuellhorst commented on #692
You are right. I will fix this directly.

[2019-04-05 08:38] MichaMans opened #703 "Update .gitignore"
We should update our .gitignore to exclude all simulation related files from tracking:

- .exe
- .mat (Not sure?!)
- dsin.txt
- dsfinal.txt
- build.txt
- dslog.txt

[2019-04-05 10:40] KremerMartin commented on #695
There is still an error, when checking the new ThermalZoneMoistAir model. The check fails for the connector mWat_flow. But it is connected. I will check this. When setting up a simulation, the error does not occur.
![bug_modelica](https://user-images.githubusercontent.com/48821826/55622274-044c3d80-57a0-11e9-9bc9-20545333ef3d.JPG)

[2019-04-05 12:27] KremerMartin commented on #695
Check of ThermalZoneMoistAir is now working. Problem was the conditional removal of the internal gain human if ATot =0. Now the connector mWat_flow in the ROM is also depending on this condition. This solves the structural singulatrity for ATot =0.

[2019-04-05 13:50] PMehrfeld commented on #587
As discussed with @MichaMans:

1. We are going to allow non ASCII characters, since UTF-8 kind of implys to allow them (and we are not in 1970 anymore).
1. We will convert encoding of the *.mo files just before a master merge and release.
1. Version number at second level will be raised.

(Furthermore, I edited the ToDos in my initial post)

[2019-04-05 14:13] PMehrfeld commented on #587
Furthermore, I want to add the open point of newline:
LF vs. CRLF

Following git config might be interesting:
[core]
`  autocrlf = false` or true

[2019-04-06 08:30] PMehrfeld commented on #587
## Summary

Problem: Sometimes it is necessary to just save the whole package with one click (e.g. lots of renaming changes). Afterwards, we need to do a commit with several changes. There occur several issues:

**LF vs. CRLF**
If having set `git config core.autocrlf input` (or best: `git config --global core.autocrlf input`) switching between LF and CRLF is not marked as differences in git. Also

[2019-04-07 12:09] lolipoplls opened #704 "Pictures for me"
![1](https://user-images.githubusercontent.com/48543691/55683333-06192b00-5971-11e9-9919-939f228e064e.PNG)
![2](https://user-images.githubusercontent.com/48543691/55683334-06b1c180-5971-11e9-89b7-436fbbdcd9e2.PNG)
![3](https://user-images.githubusercontent.com/48543691/55683335-06b1c180-5971-11e9-9b06-c7f4a13f59ef.PNG)

[2019-04-07 14:33] #704 closed

[2019-04-08 06:35] MichaMans commented on #587
@PMehrfeld

[2019-04-08 07:47] FWuellhorst commented on #587
Regarding BOM: I would also suggest to set the flag `Advanced.AlwaysWriteUTF8 = false`. This way, all files with non-ASCIIS will have a BOM. This BOM can easily be automatically detected and converted to utf-8.
If we set it to true save all files with BOM, the script could also convert all files to utf-8, however will take longer as all files would have to be converted.

[2019-04-11 10:08] #692 closed

[2019-04-11 10:13] DaJansenGit commented on #690
This is done with the Merges of #691 and RWTH-EBC/TEASER#568.

[2019-04-11 10:18] DaJansenGit commented on #674
As stated in #608 this might be solved in a current project. If not we will integrate the current status as it is because at the moment I don't have time to integrate the SOFC and PEMFC by myself. Since there's not going to be any progress here, I'm going to close this issue for now. It can be reopened at anytime!

[2019-04-11 10:18] #674 closed

[2019-04-11 10:25] DaJansenGit commented on #511
As discussed with @PMehrfeld, I want to create a new version of this script that integrates the input of @pema1 and also some other features. Me and @MichaMans also talked about integrating this directly into the CI. If there is progress, I will enter the information here.

[2019-04-11 10:30] DaJansenGit commented on #337
As this was solved with #614, I will close this issue now.

[2019-04-11 10:30] #337 closed

[2019-04-11 13:12] PMehrfeld commented on #673
Closed by #705

[2019-04-11 13:12] #673 closed

[2019-04-16 08:44] KremerMartin opened #707 "Naming convention "equipped" in ThermalZone"
**What is the problem?**

There is a difference in the designation of the multi-zone model and the ThermalZone. Using the ThermalZone the suffix "equipped" means, that infiltration (natural, by window and mechanical) is considered. Otherwise no infiltration is considered (not even natural infiltration).
Using the multi-zone model the suffix "equipped" stands for the usage of an air handling unit f

[2019-04-16 09:06] DaJansenGit commented on #707
I agree, we might leave the multizone naming the way it is and change the **thermalZoneEquipped** to something like **thermalZoneAirExchange** ? I don't have a better name in mind. We might also think about move the **ventTemp** and **ventRate** inputs from the **thermalzone** to **thermalzone...**

What do you think about this @PRemmen & @MichaMans

[2019-04-16 09:12] MichaMans commented on #707
As possible changes might introduce changes in the TEASER export as @DaJansenGit already said, i'll remove the gfi label.

[2019-04-16 12:51] PMehrfeld commented on #697
As an addition: The following standard might be helpful:
[**ISO/IEC/IEEE 29119 Software Testing**](https://en.wikipedia.org/wiki/ISO/IEC_29119)

[2019-04-17 08:44] MichaMans commented on #703
merge with #708

[2019-04-17 08:44] #703 closed

[2019-04-17 19:09] PMehrfeld commented on #697
@MichaMans : All missing initial value warnings should be gone with latest commits.

[2019-04-18 07:46] PMehrfeld commented on #698
@dianavaz : Sorry that this issue ist still open.
But we came across some further problems with renaming instances, which leads to a lot automatic refactoring in a library.
Currently, I am still waiting for an answer from Dymola support. Hopefully within the next week we can merge this branch and close the issue.

[2019-04-18 08:25] AnaConstantin commented on #695
@KremerMartin I also added a VolumeMoistAir in a simple room as part of branch #520 . There is a branch
https://github.com/RWTH-EBC/AixLib/tree/issue520_PnH. I implemented the infiltration in the wall and then because of the project requirements a ventilation also in the facade (AixLib.PlugNHarvest.Components.Walls.Wall). I consider ventilation and infiltration using fresh air (done after the exam

[2019-04-18 09:38] KremerMartin commented on #695
@AnaConstantin Thanks for your comment. I like your infiltration model for the wall component.
As I am working on the reduced order model, I extended a new VarAirExchange model to depict the humidity infiltration. (For this reason I do not need a connection to the fluid ports.) So I don't know whether there is much overlapping between the two cases.
Maybe you will find my new human model (HumanTot

[2019-04-18 10:04] PMehrfeld commented on #587
Example: #710
Furthermore, I introduced a new label [`DymolaAutoFormat`](https://github.com/RWTH-EBC/AixLib/labels).

[2019-04-18 10:30] PMehrfeld commented on #587
Final decision so far:
1. Dymola's auto formatting does not allow to achieve a clear versioning.
1. Thus, we go with my 5-step proposal above (I will write a wiki page)
1. Currently, we are not going address the file encoding, since this will be "destroyed" by Dymola's library saving anyway. Nonetheless, thanks @mwetter for your proposal to include a function in BuildingsPy, but from current statu

[2019-04-18 10:55] PMehrfeld commented on #587
https://github.com/RWTH-EBC/AixLib/wiki/Problems-during-contribution-process

[2019-04-18 10:55] #587 closed

[2019-04-18 12:12] KremerMartin commented on #690
@DaJansenGit  The new human model does not consider the influence of the room temperature on the heat output of the humans inside. The old model does consider this. I think we should rework the new model.
Moreover the old model cannot be used without modification, since the zone params do not contain the number of people anymore.
I will reopen the issue. I can assist you.
@MartinRaetz Maybe this i

[2019-04-18 12:18] DaJansenGit commented on #690
@KremerMartin we are aware of this. But due to the fact, that we don't have any data for the temperature dependence on the internal gains we removed the influence in the new model which is now the default model in TEASER.

[2019-04-18 13:34] MichaMans commented on #690
@DaJansenGit @KremerMartin @MartinRaetz @PRemmen
Maybe we can integrate some kind of support for the temperature based on the "old" tables. I would not link that to TEASER but i would suggest to implement some kind of converter model between the old and the new approach.

[2019-04-18 14:08] KremerMartin commented on #690
@DaJansenGit @MichaMans
The new VDI 2078 provides equations for the temperature dependency based on the room temperature. I think it would be easy to implement these equations in the new human model.
For me it looks like we multiply a schedule with a heat flux (parameter). Later on we divide the Heat through a heat flux per person. Would it not be easier to provide heat flux data per person in the

[2019-04-18 18:54] AnaConstantin commented on #690
Although no one asked for my opinion, I feel compelled to give it, since I once build an Archetype in TEASER for a retail store. And I had to change the internal gains models in AixLib and also the xml data for TEASER to better suite the standards I found (which refered to Germany and the UK). I am of the opinion that persons / m2 is a better way of characterizing occupants for a designated type o

[2019-04-23 07:05] KremerMartin commented on #690
@AnaConstantin Thanks for sharing your experience. I am aware of the fact, that only the VDI 2078 provides dependency on the temperature. As I am working on a human model providing moisture output, I am applying the temperature dependency as it has huge influence on the moisture output. Nevertheless we could ignore the temperature dependency on the heat output in the new specific human model. I am

[2019-04-23 07:26] DaJansenGit commented on #690
@KremerMartin
TEASER provides the data directly in the form it was given by SIA and DIN as W/m².
I have only developer access to the fork, @AnaConstantin is the only maintainer (except moritz), so she needs to give you access.

That's not the case. We use a given heatflux per m² room area and multiply it with the area of the zone (and the schedule of course), that's all. The reason why @MartinRaet

[2019-04-23 08:25] KremerMartin commented on #690
@DaJansenGit Thanks for response. If DIN and SIA provide data in W/m², I agree with you, that we should not mess with more calculations. In my opinion we should nevertheless re-apply the number of people to the zone parameters, so that a user is able to use the old human model without having to change the default zone params. (backward compatibility) Or we should add a parameter in persons/m² and

[2019-04-24 09:30] PMehrfeld commented on #698
@dianavaz : The fix is now merged into our `development` branch. It'll be merged into `master` branch with the next release probably.
Feel free to reopen this issue, if it does not work with current `development`.

[2019-04-24 09:30] #698 closed

[2019-04-26 10:39] AnaConstantin commented on #690
After talking to @KremerMartin and looking into the norms, I think we can re-discuss this W/m2 vs person /m2.
Both SIA 2024 (Ausgabe 2006) and DIN 18599 give as a starting point persons /m2 (SIA actually m2/person) and calculate W/m2 using a type of activity (DIN) or a formula (SIA). SIA takes in consideration the temperature of the room for the heat output of persons, it also calculates output. V

[2019-04-30 08:57] PMehrfeld commented on #648
Closed by #649

[2019-04-30 08:57] #648 closed

[2019-04-30 08:57] PMehrfeld commented on #658
Closed by #659

[2019-04-30 08:57] #658 closed

[2019-05-04 08:54] PMehrfeld opened #711 "heat convection coeff if-else"
**What is the problem?**

- When using calculation method acc. to EN ISO 6946 the model `AixLib.Utilities.HeatTransfer.HeatConv_inside` switches between to heat convection coefficients `alpha` depending on temperature at wall and in the room.

Equation is:
[code]

- This leads to a hard state event forcing the solver to solve a totally changed equation system (e.g. heat flows turn around and value

[2019-05-04 09:25] PMehrfeld commented on #711
In a comparison simulation (MFH for 1 day) but with heat convection inside according to Bernd Glueck, the following performance boost was achieved. The `alpha` alpha in the first par is totally different.
The literature source should be checked again, whether it depends on cooling or heating and thus probably also on `port_a.T < port_b.T`.

![image](https://user-images.githubusercontent.com/117694

[2019-05-04 09:37] PMehrfeld commented on #711
Regarding literature source of Bern Glueck ([German PDF](http://berndglueck.de/dl/?dl=LowEx+Bericht_LowEx.pdf)) p. 26:
![image](https://user-images.githubusercontent.com/11769433/57177054-5e542780-6e60-11e9-9650-6b433cedbe07.png)

Thus, it also depends on the direction of the heat flow, which can change during the simulation.
Within the model `AixLib.Utilities.HeatTransfer.HeatConv_inside` it is i

[2019-05-04 09:56] PMehrfeld commented on #711
One solution (with which I came up quickly) might be something like the following.
However, an estimation of the deviations between both calculation methods should be included (maybe even in the example model).

[code]

[2019-05-04 11:32] PMehrfeld commented on #711
Two simulation to test the solution given above (Glueck: //1; EN ISO: //2)

![image](https://user-images.githubusercontent.com/11769433/57178483-feb24800-6e70-11e9-8c99-d11e144b9d91.png)

Bad news: still a steep slope in CPUtime curve with EN ISO approach.
Thus, latter calculation approach needs a function with zero-crossing.

[2019-05-05 11:04] danapesah opened #712 "UseCase Mashkimim"

[2019-05-05 11:47] danapesah opened #713 "USE CASE CHART"

[2019-05-05 11:53] #712 closed

[2019-05-05 11:54] #713 closed

[2019-05-06 11:09] PMehrfeld commented on #711
Summary after discussion with @AnaConstantin:

- [ ] In the documentation: Clarify limitations of both approaches
- [ ] Use `smooth()` as above shown.
- [ ] Correct approach acc. to Bernd Glueck such that heat flux  (or dT) can turn around during the simulation (solution from above).
- [ ] Linearize or use stable function for EN ISO approach around `dT = 0 K +/- e.g. 1 K`

[2019-05-06 13:30] megatux commented on #699
That's great. Regards

[2019-05-06 13:30] #699 closed

[2019-05-07 10:37] AnaConstantin commented on #711
@PMehrfeld on limitations:
- the Glück reference is actually for thermally activated walls, and it combines free with forced convection. Because it is nicely continuous around zero I like it for simple walls as well. Furthermore the numbers are not very different from the implementation in Buildings. But it's something worth noting. Going by the Figures 1.14 -1.15 - 1.16 from the cited reference w

[2019-05-08 09:50] JulianMatthes opened #715 "Rebuilding the reversible HP model based on a new general partial model for reversible HPs and chillers"
**What is the problem?**

A new reversible chiller model based on the structure of the reversible heat pump model is required. To optimize its usability a new partial model for thermal machines (e.g. heat pumps, chillers) shall be developed. Furthermore the previous reversible heat pump model and the new reversible chiller model are to be extended from this partial model. Also, the improvements in

[2019-05-08 15:22] MichaMans commented on #697
Awesome! The thing is merged! I will close this issue and open a new one for enhancement of unittests

[2019-05-08 17:08] DaJansenGit opened #717 "Change license (IBPSA related)"
Due to the changes in this issue https://github.com/ibpsa/modelica-ibpsa/pull/1138 the license of the IBPSA library had to be changed. This changes won't be added to AixLib by the merge script so we need to add them manually for our next release.

[2019-05-08 17:39] #697 closed

[2019-05-08 17:53] MichaMans opened #718 "Enhance unit tests"
As #697 is closed now and we integrated the unit tests, we can now improve our tests by:

- [ ] Integrate more tests / examples / increase the coverage
- [ ] Integrate some coverage report
- [ ] Rename and restructure the tests @PMehrfeld can provide some suggestions here

---

- [ ] Integrate new scripts for model not tested yet
- [ ] generate new results for these models

---

- [ ] integrate al

[2019-05-15 10:09] MichaMans commented on #690
@PRemmen @AnaConstantin @KremerMartin @DaJansenGit @MartinRaetz

[2019-05-15 10:37] MichaMans commented on #690
@AnaConstantin @PRemmen @DaJansenGit @MartinRaetz @KremerMartin

As we discussed earlier today, i try to sum up the discussion (nothing is fixed yet, so still in discussion):

1. @KremerMartin will provide the actual formula or a sketch of the input and outputs of the new formula provided by the VDI 2078. This should be our reference and the goal of implementation
2. we need to discuss the adjustm

[2019-05-15 13:11] KremerMartin commented on #690
@AnaConstantin @PRemmen @DaJansenGit @MartinRaetz @MichaMans

Here is the formula to calculate the heat output depending on the design room temperature and the activity level as provided in the VDI 2078.
![VDI2078_Waermeabgabe](https://user-images.githubusercontent.com/48821826/57777935-4d8a9800-7723-11e9-94ef-c1883cc78c62.JPG)

The definition of the activity levels (4 instead of the original 3 on

[2019-05-15 13:24] MartinRaetz commented on #690
Please see my concerns issued here: https://github.com/RWTH-EBC/TEASER/issues/567#issuecomment-492648593

[2019-05-20 05:45] CongLinh opened #719 "image01"
![image](https://user-images.githubusercontent.com/23275042/57998769-12aaaa80-7afd-11e9-9c38-afef5eacd9e4.png)

[2019-05-20 05:49] CongLinh commented on #719
![image](https://user-images.githubusercontent.com/23275042/57998906-9f556880-7afd-11e9-867f-42098e758a78.png)

[2019-05-20 05:54] #719 closed

[2019-05-21 21:00] thegrandpages opened #720 "xp.jpg"
![xp](https://user-images.githubusercontent.com/50743801/58130419-f6386c00-7be9-11e9-99e2-491149ee892b.jpg)

[2019-05-21 21:45] thegrandpages opened #721 "sorry"
![THEGRANDPAGES](https://user-images.githubusercontent.com/50743801/58132787-3ac70600-7bf0-11e9-97db-91d5bbfd9a1a.png)

[2019-05-22 07:13] DaJansenGit commented on #721
closed due to spam

[2019-05-22 07:13] #721 closed

[2019-05-22 07:16] DaJansenGit commented on #720
close due to spam

[2019-05-22 07:16] #720 closed

[2019-05-23 11:15] AnaConstantin commented on #718
@MichaMans I just added a new unit test for AixLib.Airflow.AirCurtain.Examples.AirCurtain. I supposed you build the example in the first place.
And I decided to write a Wiki-Page on how to do this: https://github.com/RWTH-EBC/AixLib/wiki/How-to-write-a-Unit-Test
Take a look and let me know if this is in line with what you envisioned.

[2019-05-30 12:54] smtolo opened #725 "Sihle Mtolo"
![comparison_table](https://user-images.githubusercontent.com/31653400/58634113-c1639d80-82ea-11e9-80b4-30ee39d9667a.PNG)

[2019-05-30 12:57] #725 closed

[2019-06-03 12:11] AnaConstantin opened #726 "Adapter weather model for ReaderTMY3 to connect to HOM"
The HOM has connectors for solar radiation that require a model placed under  AixLib.BoundaryConditions.WeatherData.Old.
Build an adapter to put between ReaderTMY3 and the HOM.

[2019-06-03 18:12] javiloria opened #727 "documentacion"
![Casos de uso grupo9 - ConsultarReclamo (1)](https://user-images.githubusercontent.com/34045912/58824216-94c0c600-8609-11e9-83d6-6559f0b77b66.png)

[2019-06-03 18:12] #727 closed

[2019-06-04 16:19] Bwaaba7 opened #729 "images"
![exempleconfig](https://user-images.githubusercontent.com/43949738/58895860-2bb67c80-86f5-11e9-830a-428eb2203659.PNG)

[2019-06-05 06:58] #729 closed

[2019-06-05 09:25] alexanderAKU opened #730 "Error in Pipe with nParallel"
**Describe the bug**

The model Pipe (Fluid.FixedResistences.Pipe) has the option to model multiple parallel pipes with the parameter nParallel. However, the parameter is not included in the heat transfer.
Thus the heat loss for one pipe and multiple parallel pipes is nearly equal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Fluid.FixedResistences.Examples.Pipe'
2. Simulate with n

[2019-06-05 09:27] alexanderAKU commented on #730
- [ ] I will insert the nParallel parameter in the heat resistances.
- [ ] Additionally, I will remove the fluid ports and extend the pipe from PartialTwoPort

[2019-06-05 11:01] AnaConstantin commented on #730
Hi @alexanderAKU, thank your for pointing this out. It's not an "accidental" error, as the model was initially developed for a discretised pipe in the length (had this name as well), this is why the nParallel parameter in the insulation and the pipe wall is set to 1. I now see how keeping the nParallel parameter on the upper level and not mentioning this in the documentation was not a good idea.
M

[2019-06-05 16:11] annebierhoff opened #731 "Import of the Simple heat pump model into a C++ application"
Hello,

I am currently looking for a simplified heat pump model and came across this library, which may fit very well. First of all many thanks for providing the code.

I would like to embed the example of the _Simple heat pump model_ from _ValidationHeatPump.mo_ into my application. My application is written in c++. I would like to simulate the model from my C++ application with different _onOff_

[2019-06-05 16:23] MichaMans commented on #731
Hi @annebierhoff, thanks for your interest in our library. What come in my mind first is the use of the fmi standard: https://fmi-standard.org/
Meaning you can use the Heatpump model with defined inputs (on off signal in your case) and defined outputs (Pel_out and Q_flow in your case) and translate that to an FMU. This FMU can then be use within your C++ application. I have never done that with C+

[2019-06-05 19:58] mlauster commented on #731
Here is a list of fmi-libs, including c++ implementations: https://www.google.com/url?sa=t&source=web&rct=j&url=https://github.com/traversaro/awesome-fmi&ved=2ahUKEwjHucf8j9PiAhXS26QKHejGA7kQFjABegQIBRAB&usg=AOvVaw1k508D-JuPJ2LUrKcyETOE

[2019-06-05 20:02] mlauster commented on #731
Sorry, the link was corrupt, has been corrected: https://github.com/traversaro/awesome-fmi

[2019-06-12 13:22] MichaMans commented on #662
Closed with #663

[2019-06-12 13:22] #662 closed

[2019-06-14 11:53] AnaConstantin commented on #277
Resolved through #722

[2019-06-14 11:53] #277 closed

[2019-06-16 10:17] miimsety opened #733 "image"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-06-16 10:19] #733 closed

[2019-06-19 08:58] AnaConstantin opened #734 "RT_nom already in K in Record for Radiator"
**Describe the bug**
In **AixLib.Fluid.HeatExchangers.Radiators.Radiator** line 75
parameter SIunits.Temperature RT_nom[3]=
    (if selectable then Modelica.SIunits.Conversions.from_degC(radiatorType.RT_nom)
    else Modelica.SIunits.Conversions.from_degC({75,65,20})).
However in the record, the temperatures are expressed in K already.

**To Reproduce**
Simulate  AixLib.Fluid.HeatExchangers.Radiat

[2019-06-25 07:30] june140 opened #735 "1"
![MindMap0625](https://user-images.githubusercontent.com/51392427/60078234-18c82280-975e-11e9-953b-867533e507e1.png)

[2019-06-25 10:52] #735 closed

[2019-06-28 12:56] Dawac opened #736 "FastHVAC Heat Pump Enthalpy Port Naming"
The naming of the enthalpy ports in the FastHVAC model of the heat pump is not consistent with the naming in it's fluid twin.
At the condenser side it shall be called "a1" and "b1", instead of "a" and "b", on the evaporator side "a2" and "b2" respectively instead of "a1" and "b1".

Quick fix...

[2019-07-02 08:52] KremerMartin commented on #707
@DaJansenGit @MichaMans @PRemmen
I would like to tackle this issue again. I think we should solve this issue by the next hackday. I think the name **ThermalZoneAirExchange** describes the function of the equipped ThermalZone well. I also agree with @DaJansenGit  to move the connectors **ventTemp** and **ventRate** to the equipped ThermalZone as they are not used in the non-equipped one.
Do you all

[2019-07-05 07:25] DaJansenGit commented on #707
For me the name ThermalZoneAirExchange as well as moving **ventTemp** and **ventRate** to the **ThermalZoneEquipped** model is fine. I can do the necessary TEASER changes during the next hackday.

[2019-07-05 09:28] DaJansenGit opened #738 "Integrate Dymola check into CI"
**What is the problem?**

Currently their is no check of syntax for the modelica code in CI. This means that e.g. models with missing semicolons at the end of lines will run through the CI without detection. We don't want to ask every user to check the whole library before creating a PR, so an integration into CI will be useful.

**How do we want to solve it? Describe the solution you'd like**

We

[2019-07-08 14:28] alexanderAKU commented on #677
I want to change the icon of a model depending on the redeclaration of a replacable class inside.

Does anybody have an idea how I could realize this? Is there maybe a way to get the class of an instance, something like this:

replacable partial_class instance1;
...
if class(instance1) ==class1 ...

[2019-07-09 09:34] LauraMaier commented on #310
@KFinkbeiner Maybe you can work on this issue at the institute´s hack day tomorrow :)

[2019-07-09 09:47] DaJansenGit commented on #736
The PR is merged into development. I will close this issue now.

[2019-07-09 09:47] #736 closed

[2019-07-09 09:52] LauraMaier commented on #354
@MBaranskiEBC In regard to the upcoming hackday tomorrow: What is the current status of this issue ? :)

[2019-07-09 12:27] LauraMaier commented on #457
Due to merged pull request in #498, this issue is closed.

[2019-07-09 12:27] #457 closed

[2019-07-09 12:34] LauraMaier commented on #734
Hey @katharinabr maybe this is a good issue for the hackday?

[2019-07-09 12:40] LauraMaier commented on #731
Hi @annebierhoff, it seems that your issue can be closed, is that correct?

[2019-07-09 12:42] LauraMaier commented on #610
Hi @tstorek, what is the current status? :)

[2019-07-09 12:46] LauraMaier commented on #650
Hi @alexanderAKU, what is the current status of this issue ? :)

[2019-07-09 13:07] LauraMaier commented on #360
@alexanderAKU What is the current status of this issue?

[2019-07-09 13:08] #731 closed

[2019-07-09 13:10] LauraMaier commented on #634
Content does not seem related to AixLib issues :)

[2019-07-09 13:10] #634 closed

[2019-07-09 13:17] LauraMaier commented on #510
@PMehrfeld Will you remove the heat pump detailed model from AixLib? :)

[2019-07-09 13:32] PMehrfeld commented on #711
This stays open, until a correct merge into IBPSA is performed.

[2019-07-09 14:37] FabianBekemeier commented on #575
Hello everyone,
I am working on my Bachelor-Thesis supervised by @alexanderAKU and will use the benchmark-model. The aim is to compare two different control strategies (modus-based and MPC). Beforehand I am going to edit the benchmark-model by modularizing some components to make it more flexible and easier to use.
Since the issue575_benchmarkModel-branch has not been updated for some time, severa

[2019-07-10 04:13] BAG1993 commented on #575
Hallo Fabian,

Ich kenne die Änderungen der aixlib nicht genau, du solltest die aber unbedingt das Wettermodel anschauen, da die Wetterdaten in der jetzigen Form ungeeignet sind.

Viele Grüße,
Bastian

Am 09.07.2019 16:37 schrieb FabianBekemeier <notifications@github.com>:

Hello everyone,
I am working on my Bachelor-Thesis supervised by @alexanderAKU<https://github.com/alexanderAKU> and will use

[2019-07-10 07:12] DaJansenGit commented on #690
how to proceed:
We note in the documentation that there is no backward compability

[2019-07-10 07:59] PMehrfeld commented on #510
@LauraMaier : Since the IBPSA Lib created an `Obsolete` package in mid of may, I propose to use this new structure. As a conclusion, I am going to move this model and the `HeatPumpSimple` into the `Obsolete` package.

[2019-07-10 08:19] MichaMans commented on #690
and we need a new major release 😄

[2019-07-10 08:35] cvering opened #739 "Vapor Compression Cycle Package"
## What is the problem?

Currently, there are no models that allow building modular and scalable heat pump or refrigerating machine models. In this case, modular means different set-ups like two evaporators (and also two expansion valves), a compressor rack or different refrigerants; scalable means different sizes of each component like the heat exchanger area or the swept volume of the compressor

[2019-07-10 08:41] cvering commented on #407
Thank you all for your kind support! We will close this issue and bring it together in the new vapor compression cycle package: #739

[2019-07-10 08:41] #407 closed

[2019-07-10 08:43] cvering commented on #467
Thank you all for your kind support! We have, in addition, further compressor models in #609 that we bring together with these ones.
We will close this issue and bring it together in the new vapor compression cycle package: #739

[2019-07-10 08:43] #467 closed

[2019-07-10 08:44] cvering commented on #479
Thank you all for your kind support! We will close this issue and bring it together in the new vapor compression cycle package: #739

[2019-07-10 08:44] #479 closed

[2019-07-10 08:44] cvering commented on #516
Thank you all for your kind support! We will close this issue and bring it together in the new vapor compression cycle package: #739

[2019-07-10 08:44] #516 closed

[2019-07-10 08:45] cvering commented on #590
Thank you all for your kind support! We will close this issue and bring it together in the new vapor compression cycle package: #739

[2019-07-10 08:45] #590 closed

[2019-07-10 08:46] cvering commented on #609
Thank you all for your kind support! We will close this issue and bring it together in the new vapor compression cycle package: #739

[2019-07-10 08:46] #609 closed

[2019-07-10 08:47] cvering commented on #665
Thank you all for your kind support! We will merge our refrigerant models in the IBPSA Library. Further developments are discussed in this issue now: https://github.com/ibpsa/modelica-ibpsa/issues/1093

[2019-07-10 08:47] #665 closed

[2019-07-10 09:30] PMehrfeld opened #740 "Release v0.9"
We should perform a merge of IBPSA Lib into AixLib soon.
IBPSA now also have its first conversion script located [here](https://github.com/ibpsa/modelica-ibpsa/tree/master/IBPSA/Resources/Scripts/Dymola).

- [x] Take care that IBPSA's CS is fired also in AixLib and of course that the file is copied to AixLib repo.
- [x] Merge IBPSA into AixLib.
- [x] Add license changes manual #717
- [x] Move pack

[2019-07-10 11:11] katharinabr commented on #734
In `delta_nom=(dT_nom+RT_nom[3])*(dT_nom+RT_nom[3])*(dT_nom+RT_nom[3])*(dT_nom+RT_nom[3])-RT_nom[3]*RT_nom[3]*RT_nom[3]*RT_nom[3];` the temperatures are not used to build temperature differences, but as absolute values. Therefore the simulation results will change.

[2019-07-10 11:16] LauraMaier commented on #689
After comparing the mentioned models, I identified one problem: in AixLib.Utilities.HeatTransfer.HeatToStar_Avar the area A is given by an interface whilst in AixLib.Utilities.HeatTransfer.HeatToStar the area is a parameter. Thus, no simple conversion script can be developed. Despite this, the models' functionality is the similar except for the max() function discussed in #535.

I only see four po

[2019-07-10 13:16] Dawac commented on #597
@alexanderAKU what is the plan with this model? The Building Library offers a detailed Boiler Model aswell, furthermore for simple application condensing boilers could probably be approximated by the efficiency tables.

[2019-07-10 13:58] cvering commented on #510
Yes, go for that!

[2019-07-10 13:59] cvering commented on #740
Hey you all! It is a great idea to do the merge. Please wait for IBPSA's issue https://github.com/ibpsa/modelica-ibpsa/issues/1093 that we have a clear structure of our refrigerants from issue #408 and no problems with naming.

[2019-07-11 06:15] PMehrfeld commented on #734
closed by #741

[2019-07-11 06:15] #734 closed

[2019-07-11 06:18] PMehrfeld commented on #675
Closed by #676

[2019-07-11 06:18] #675 closed

[2019-07-11 07:38] PMehrfeld opened #746 "Move models to package `Obsolete`"
**What is the problem?**

- Old models that are actually obsolete but might still be in use by other libraries cannot be deleted.

**How do we want to solve it? Describe the solution you'd like**

- Move these models to the new top level package `Obsolete`.
- `IBPSA` library recently introduced such a package as well.
- Wait for next IBPSA merge into AixLib (see #740)

The following models with us

[2019-07-11 07:44] PMehrfeld commented on #510
I delete the branch, since we only move the model to `Obsolete`. See #746

[2019-07-11 07:44] #510 closed

[2019-07-11 08:28] LauraMaier opened #747 "Fixed port heights in BufferStorage model"
**What is the problem?**
In model AixLib.Fluid.Storage.BufferStorage the fluid port heights of fluidportTop1 and fluidportTop2 as well as fluidportBottom1 and fluidportBottom2 are parameterized using two parameters only. So the heights are always dependend on each other.
In practice, however, ports´ height can differ.

**How do we want to solve it?**
A new record of type BufferStorageBaseDataDefin

[2019-07-11 10:25] PMehrfeld commented on #747
@LauraMaier : Sounds good!
But is it necessary to create a new `BufferStorageBaseDataDefinition`? Or is it possible to add 2 new parameters that might have default values so that no changes occur in comparison to current usage of the record / storage model?!

[2019-07-11 12:52] DaJansenGit commented on #690
The necessary changes in TEASER and AixLib are done. We are waiting now for the release of the json update #584.
For more information please see https://github.com/RWTH-EBC/TEASER/issues/567

[2019-07-11 14:49] arnoldfuetterer commented on #448
The problem still occurs with the Version OM v1.12.0 (64-bit).
There are 45 warnings now.
I will start to work on the issue now.

[2019-07-12 10:22] KremerMartin commented on #707
@DaJansenGit
I changed the name of the **ThermalZoneEquipped**. I also moved the RealInputs  **ventTemp** and **ventRate** from the **PartialThermalZone** to the **ThermalZoneAirExchange**.

In your opinion: Shall we merge the branch now or shall we wait till we merge the changes done for issue #690 and #695 as they all influence the **ThermalZone**.

[2019-07-15 09:05] PMehrfeld commented on #707
@KremerMartin and @DaJansenGit : Do these name changes actually affect the IBPSA core library since ROM is part of the IBPSA library and not AixLib?

[2019-07-15 09:18] DaJansenGit commented on #707
@KremerMartin I agree that we should merge all there PRs together or in straight raw.
@PMehrfeld No the changes won't effect the IBPSA core, because we are only making changes for the multizone model which is not part of the IBPSA. Only the RC models (FourElements, TwoElements ...) are port of the IBPSA.

[2019-07-15 12:33] DaJansenGit commented on #746
@PMehrfeld
just found that there is an annotation flag for obsolete models, I don't know if you are aware of but I think this could be useful
This docu can be found [here].(https://doc.modelica.org/ModelicaReference%203.2.3/Resources/helpDymola/ModelicaReference_Annotations.html#ModelicaReference.Annotations.obsolete)

[2019-07-15 16:30] DaJansenGit opened #751 "B13 integration"
This is a collective issue, where the changes to AixLib in the B13 project are listet and discussed. **Changes for now:**
* Integration of an FastHVAC CHP Model from #674
* Integration of the geothermal model from #750
* Integration of a simple Recooler model

[2019-07-15 16:31] DaJansenGit commented on #332
As we might use the model in a current project, I will try to improve the model with the ongoing changes in the branch #751

[2019-07-19 09:11] KremerMartin commented on #695
This Issue has been solved. Since the changes made here are connected with issue #690 we are waiting now for the release of the json update in TEASER [#584](https://github.com/RWTH-EBC/TEASER/pull/584).
For more information please see [RWTH-EBC/TEASER#567](https://github.com/RWTH-EBC/TEASER/issues/567)

[2019-07-22 15:08] PMehrfeld opened #752 "Use wall record directly in `AixLib.ThermalZones.HighOrder.Components.Walls.BaseClasses.SimpleNLayer`"
**What is the problem?**

- [x] Distinguishing between selectable record and single parameters is not necessary
- [x] if-else nesting due to TIR and TMC in HOM model is not necessary. Use Record with wall types would be beneficial

**How do we want to solve it? Describe the solution you'd like**

- [x] Delete `selectable` in `AixLib.ThermalZones.HighOrder.Components.Walls.BaseClasses.SimpleNLayer`

[2019-07-22 15:10] PMehrfeld commented on #752
- [ ] conversion script

- [ ] current branch `issue752_temp_wallRecords` is temporary and only a first quick and dirty solution. This branch needs to be revised or development must happen in new branch and this one should be deleted.

[2019-07-30 09:49] #730 closed

[2019-07-30 10:04] #650 closed

[2019-08-01 08:35] alexanderAKU commented on #597
I will check the Building library model. The boiler model that we wanted to add is based on many different records. However, these records are not publicly availably anymore.

[2019-08-06 14:35] PMehrfeld commented on #711
@katharinabr : Thanks a lot for all this renaming and the revision of equations. Now the numerical calculations are more stable and faster.

Closed by #753

[2019-08-06 14:35] #711 closed

[2019-08-15 14:20] DaJansenGit opened #758 "dummy test issue"
this issue is for testing some integrations in slack

[2019-08-15 14:21] #758 closed

[2019-08-16 08:48] PRemmen opened #759 "Version of Modelica_Synchronous"
**Describe the bug**
Most recent version of Modelica_Sychnronous is 0.92.2, AixLib Development Branch uses 0.92.1

**To Reproduce**
Steps to reproduce the behavior:
1. Load AixLib development with Dymola 2020

**Expected behavior**
No Library Conversion

**Screenshots**
![grafik](https://user-images.githubusercontent.com/8124013/63155670-51c09d00-c013-11e9-8f1f-d077c7acb154.png)

**Desktop (please

[2019-08-16 09:21] PMehrfeld commented on #759
Going to be solved in #760

[2019-08-16 09:28] PMehrfeld commented on #759
Since conflicts could not be solved for merge `master` -> `development` I raised in both `package.mo`s the version numbers of the used libraries.
If problem is not solved, please reopen issue @PRemmen

[2019-08-16 09:28] #759 closed

[2019-08-20 13:39] DaJansenGit commented on #696
As all tasks are completed I will close this issue for now. It can be reopened at any time.

[2019-08-26 11:37] site50 opened #763 "img"
![ca](https://user-images.githubusercontent.com/40818906/63688035-e8107200-c80e-11e9-9aa2-d56e9d9ba272.jpg)

[2019-08-26 11:40] site50 opened #764 "FON"
![fon](https://user-images.githubusercontent.com/40818906/63688214-6a993180-c80f-11e9-8b3e-c16d2c9e8dcb.jpg)

[2019-08-26 15:40] #764 closed

[2019-08-26 15:40] #763 closed

[2019-08-29 17:23] jakkumarket opened #765 "Slide1"
![appbanner1](https://user-images.githubusercontent.com/50064497/63962089-db328f00-ca57-11e9-8b85-e8263d19ed2f.jpg)

[2019-08-31 14:17] AmeCode opened #766 "OpenModelica which version supports the Examples provided in AixLib/ThermalZones/ReducedOrder/MultizoneEquipped"
Hi I want to run the examples provided with AixLib (especially the MultizoneEquipped example),  because I am currently working on my bachelor thesis and I need to work with AixLib library, but I keep getting errors and warnings when running the provided examples. How can I run those provided examples and which versions of AixLib, Modelica (OpenModelica) should I use? If those examples do not run i

[2019-08-31 18:22] mlauster commented on #766
Hey @AmeCode,
Regarding OpenModelica, I need to check the errors on my installation, looks like they could be solved. But I so far never managed to get them running in OpenModelica, finally to an issue with the weather data reader that did not yet appear in your log. But this simply might be because the other issues are blocking this error message. :-)
Regarding Dymola, you need to check your AixL

[2019-08-31 21:00] AmeCode commented on #766
Thanks @mlauster for your quick reply. If you managed to get the models work on OpenModelica let me please know, because it is the only open source software with a good GUI I could use find far and I still do not have licence to Dymola.

[2019-08-31 21:03] AmeCode commented on #766
Thanks @mlauster for your quick reply. If you managed to get the models work with OpenModelica, let me please know, as it is the only free licence software I could use so far and I still do not have a licence to Dymola

[2019-09-05 13:34] arnoldfuetterer opened #767 "Add an enhanced PVSystem model"
A Model that determines the DC performance of a PV array will be added. The model will introduce dependencies of the I/V-characteristics and the celltemperature of the array.

[2019-09-05 16:24] AmeCode commented on #766
I changed to Dymola and fixed the weather file and it had worked without errors

[2019-09-05 16:24] #766 closed

[2019-09-06 06:14] MichaMans commented on #766
@AmeCode ok perfect! If we have some spare Time, we'll definitely look into OM support.

[2019-09-06 06:33] mlauster commented on #766
OM Support is a tough cookie, seems to be unsupported features (or too weak implementation of the model? ) of the IBPSA weather data reader. The problem gets better when activating some hidden flags, but still not solved.

[2019-09-09 05:53] #765 closed

[2019-09-13 12:58] arnoldfuetterer commented on #767
Current Branch: issue767_NewPVSystemModel
Progress so far:
- A PVSystemDC model was added to the PVSystem pacakge
- weather bus (as used in PVSystem TMY3) is now used as input instead of a few singel inputs
- variable description of groRef was moved from code to documentation of ExamplePVSystemDC
- submodels are now described in documentation of ExamplePVSystemDC
- a default PV module record was c

[2019-09-16 07:05] DaJansenGit commented on #274
Due to there is no progress in #486 I will close this issue for now.  Of course it can be reopened at any time!

[2019-09-16 07:05] #274 closed

[2019-09-16 07:13] DaJansenGit commented on #403
Thanks for the work you've put into this so far. Can you give us a short estimation of how much effort is still needed? Do you consider it realistic to close the issue in the near future? Otherwise I would assign it to v0.9.0.

[2019-09-16 07:17] DaJansenGit commented on #563
@alexanderAKU could you have a look at this? I heard you are using the model.

[2019-09-16 07:41] DaJansenGit commented on #695
@KremerMartin Sorry for the confusion, but did you already implement the needed values for moisture gains by plants in the models and the records?

[2019-09-16 07:42] DaJansenGit opened #770 "Low Order Building Model collective issue"
I want to collect all the ongoing issues for AixLib and TEASER due to the ongoing work for the internal gains changes, adding moisture and renaming multizone model at one place to have a better overview over the progress

## AixLib
* [x] Moisture Balance: #695
* [x] Renaming multizone model: #707
* [x] Adjustments in AixLib due to internal gains changes: #690
* [x] Threshold for ideal heater - mer

[2019-09-16 07:56] DaJansenGit commented on #560
thanks for the work! Are you currently working on this @PRemmen? Otherwise I would assign it for v0.9.0 :)

[2019-09-16 10:35] KremerMartin commented on #695
@DaJansenGit Until now there is a model for internal moisture gains from e.g. plants using a parameter _specificMoistureProduction_ in g/(hm²). This needs to be implemented into the records. I can easily implement it on Modelica-Side and connect it to the model.

[2019-09-16 11:08] DaJansenGit commented on #717
this is done with 1c14720

[2019-09-16 11:08] #717 closed

[2019-09-16 11:49] DaJansenGit commented on #740
Since @cvering agreed, we can do the merge now.

[2019-09-16 14:34] MichaMans commented on #403
@DaJansenGit thanks, i would go for v0.9.0. 😃

[2019-09-16 15:02] DaJansenGit commented on #403
Ok, I changed the milestone :) Thanks!

[2019-09-17 09:10] DaJansenGit commented on #746
the requested changes were done with 1f1bc5f, so I will close this issue.

[2019-09-17 09:15] #746 closed

[2019-09-17 09:39] DaJansenGit commented on #695
@KremerMartin as discussed, we should change the name of the modelica parameter from
`internalGainsMoisture` to `internalGainsMoistureNoPeople`

[2019-09-18 13:16] #354 closed

[2019-09-19 08:17] DaJansenGit commented on #695
@KremerMartin the tests for the thermalzone examples fail.
[log](https://git.rwth-aachen.de/EBC/EBC_all/github_ci/AixLib/-/jobs/475757)
Could you please have a look at this, because it's related to your integration of the parameters `X_w`  and `volAir.mWat_flow`. For simpler testing you can just test the examples in Aixlib/AixLib/ThermalZones/ReducedOrder/Examples

[2019-09-19 08:28] JulianMatthes opened #771 "Integration of parallel pipes for the FastHVAC pipe models"
As with the fluid models, parallel pipes are to be integrated into the FastHVAC pipe models.

[2019-09-19 14:04] KremerMartin commented on #695
@DaJansenGit Thanks for the hint. I did not recognized that. I have changed the OneElement RC. The volAir is now conditioned on the parameter `use_moisture_balance`.

if `use_moisture_balance` is _false_ (default) then the normal volAir will be used. If it is true, a the volMoistAir will be used.

[2019-09-19 14:28] KremerMartin commented on #695
Changes on ROM will be, if approved, implemented in the IBPSA (see issue [1209](https://github.com/ibpsa/modelica-ibpsa/issues/1209)) to avoid merge-conflicts.

[2019-09-19 15:24] mlauster commented on #695
@KremerMartin, did you change it in a dedicated copy of RC.OneElement or directly in the original model? In the latter case, you need to propose the changes to the IBPSA core lib. Otherwise you will get conflicts when merging the core lib next time. By the way, there is an issue concerning latent heat gains in the RC models in the buildings lib. It might be with connecting with them to refactor th

[2019-09-19 15:27] mlauster commented on #695
Ah, sorry, too late, you already answered my question

[2019-09-19 15:28] KremerMartin commented on #695
@mlauster Thanks for the hint regarding the buidlings lib. I will have a look at that.

[2019-09-25 12:18] DaJansenGit commented on #667
with the merge of #714 the model is merged into development. I will close this issue for now, it can be reopened at any time for further improvements of the modular CHP model.

[2019-09-25 12:18] #667 closed

[2019-09-25 12:22] DaJansenGit commented on #715
@JulianMatthes please have a look at #696 and check if everything still works or if their are necessary changes. If no changes needed, can we merge this into development?

[2019-09-26 14:17] JulianMatthes commented on #715
@DaJansenGit #769 is based on the current dev and this branch was already 2 months behind it. So changes had to be made merging it into this branch. They can be found in the belonging PR #724

[2019-10-02 17:18] DaJansenGit commented on #770
To finish this topic I would suggest the following way:
1. wait until https://github.com/ibpsa/modelica-ibpsa/issues/1209 is done
2. create new branch for this issue #770 from development after #774 is done
3. merge all above listed branches into #770
4. merge #770 into development
5. make a new release :)

you agree @KremerMartin

[2019-10-07 07:19] KremerMartin commented on #770
@DaJansenGit I agree to that. I will do the pull request on [ibpsa #1209](https://github.com/ibpsa/modelica-ibpsa/issues/1209l) today.

[2019-10-07 15:42] KremerMartin commented on #310
@KFinkbeiner As we have some models ready, only needing some refinement, this maybe could be a task for the hacktober. ;) Especially on the Hackday next week. :)

[2019-10-07 15:45] KremerMartin commented on #332
@DaJansenGit Could this issue be something for the hackday next week?

[2019-10-07 15:46] KremerMartin commented on #360
@alexanderAKU What is the current status of this issue? Is there a chance of finishing it during Hacktober or the Hackday next week?

[2019-10-07 15:50] KremerMartin commented on #403
@MichaMans As I saw, you are going for v0.9.0. Maybe this could be something for the hackday next week. Otherwise, you can just remove the hackday label. ;)

[2019-10-07 15:58] KremerMartin commented on #448
@arnoldfuetterer @LauraMaier  What is the current status on this issue?

Maybe this could be something for the hackday next week. ;)

[2019-10-07 16:02] KremerMartin commented on #520
@TimRoeder Are there any updates on this issue?

[2019-10-07 16:04] KremerMartin commented on #554
@PMehrfeld Are there some updates on this issue? Could this issue be something for the hackday next week?

[2019-10-07 16:07] KremerMartin commented on #563
@alexanderAKU Could this issue be something for the hackday? If not, you can just remove the label hackday. ;)

[2019-10-07 16:15] DaJansenGit commented on #332
We are currently working on this issue in the B13 project. When the model is finished we will bring it to AixLib but this won't be done next week ;)

[2019-10-07 16:18] KremerMartin commented on #583
@alexanderAKU Maybe it would be wise to collect the issues #677 , #360 and this issue in one issue, as they are all tackling a similar issue.
Could you give us an update on which of the three issues will be solved or maybe have been solved?

[2019-10-07 16:20] KremerMartin commented on #591
@PMehrfeld Is there an update on this issue? Maybe this could be something for the hackday next week.

[2019-10-07 16:22] KremerMartin commented on #597
@alexanderAKU @Dawac Could this be something for the Hackday next week?

[2019-10-07 16:23] KremerMartin commented on #610
@tstorek What is the current status of this issue? Could this be something for the hackday next week?

[2019-10-07 16:27] KremerMartin commented on #664
@TimRoeder Are there any updates on this issue?

[2019-10-07 16:29] KremerMartin commented on #684
@Dawac What is the current status of this issue? Could this be something for the hackday next week?

[2019-10-07 16:32] KremerMartin commented on #689
@LauraMaier What is the current status of this issue? Could it be something for the hackday next week?

[2019-10-07 16:36] DaJansenGit commented on #684
@KremerMartin Actually during the conversion of the model we figured out that the used approach of the Fluid CHP model doesn't fit the approach of the FastHVAC. Due to this reason we stopped working on this.
I will have a look at this on hackday and decide whether we delete the branch or finish it.

[2019-10-07 16:54] KremerMartin commented on #696
@alexanderAKU What is the current status of this issue? Has the work be done? As your list is completed, maybe we should do a PR.

[2019-10-08 06:54] KremerMartin commented on #715
@DaJansenGit Can you have a look at the failed check in PR #724 ? As I see it, the branch will be ready to merge after merging the last changes in the development into this branch, if the tests pass. Maybe you have got a clue, what went wrong. I am no expert on CI...

[2019-10-08 06:59] KremerMartin commented on #726
@AnaConstantin Is there progress going on concerning this issue? Maybe we could find someone at EBC to work on this, as you are possibly preoccupied a lot.

[2019-10-08 07:03] PMehrfeld commented on #554
@KremerMartin: Good reminder ;)
This will not be solved during hackday. Unfortunately, I cannot participate. Furthermore, @StGoebel is also going to have a look into this issue.

[2019-10-08 07:14] DaJansenGit commented on #715
@KremerMartin this seems to be due to missing regression test results. We have the same problem with #774. In the next days I will try to update the regression test files.

[2019-10-08 07:39] PMehrfeld commented on #591
@KremerMartin: I set it to `Deep Future` milestone ;)

[2019-10-08 07:46] PMehrfeld commented on #653
Maybe think of using the `smooth()` function or adding a filter (like in the mover or valve models) that can optionally be disabled. With this approach you will keep the equation
continuously differentiable.
I am not sure what approach `Buildings` uses. But it might be worse to have a look into their modelling work ;)

[2019-10-08 07:50] PMehrfeld commented on #689
@LauraMaier: Although I really don't like almost doubled classes it would be quite annoying for people if one model was deleted. Thus, I think you can go for option D.

[2019-10-08 08:29] KremerMartin commented on #739
@cvering What is the current status of this issue? I will set the milestone to v0.9.0. Do you think this is realistic?

[2019-10-08 08:32] KremerMartin commented on #747
@LauraMaier @arnoldfuetterer What is the current status of this issue? Could this be solved on the Hackday next week?

[2019-10-08 08:34] KremerMartin commented on #752
@PMehrfeld Are there updates on this issue? Could this be solved on the Hackday next week?

[2019-10-08 09:16] cvering commented on #739
We are integrating our refrigerant model in ibpsa library with prio one. Define realistic! This is an ongoing project for the next two to three years :)

[2019-10-08 09:18] PMehrfeld commented on #752
@KremerMartin: Will probably be solved in an upcoming student thesis

[2019-10-08 09:39] arnoldfuetterer commented on #747
@KremerMartin the problem itself is solved. There are some conflicting files in the pull request. This shall be solved next week.

[2019-10-08 09:45] LauraMaier commented on #689
@PMehrfeld @KremerMartin Ok, this issue will be solved on the Hackday

[2019-10-09 15:02] KremerMartin commented on #770
The changes made on the ROM were merged in the IBPSA sub-branch [issue1209_thermalMoistAir](https://github.com/ibpsa/modelica-ibpsa/tree/issue1209_thermalZoneMoistAir).
So we will need to wait until the changes are merged into the master of IBPSA to avoid merge conflicts updating our master.

[2019-10-10 07:28] KremerMartin commented on #690
@DaJansenGit We will need to rework our internal gain models containing moisture output. The input connector of the RC was changed to `QLat_flow` instead of `mWat_flow`. The mass flow rate of moisture is now calculated in the RC model using the enthalpy of evaporation. So we will need to provide the moisture output of our internal gain models using the latent heat of the moisture content. This wil

[2019-10-10 14:07] arnoldfuetterer commented on #767
The mentioned bugs are fixed and the results are the same as in the model from which i started to make changes.

[2019-10-14 09:29] LauraMaier commented on #448
Issue #448 was solved

[2019-10-14 11:25] KremerMartin opened #778 "Provide model for membrane-based enthalpy exchanger"
**What is the problem?**

There is currently only one model `Fluid.MassExchangers.ConstantEffectiveness` for transferring moisture from one air flow to another. This uses a constant efficiency for mass transfer. So it does not consider dynamic effects or dependencies on the boundary conditions.
I developed a model for a membrane-based enthalpy exchanger, that I want to provide to the AixLib. This

[2019-10-14 11:48] Dawac opened #779 "Improved CHP model for FastHVAC"
The branches AixLib/tree/issue309_HeatGeneratorsNew and AixLib/tree/B13_integration contain improved CHP models for the FastHVAC. There are models for internal combustion engines as well as PEM fuel cells.
The existing models should be checked and tested and the fully operational models should be prepared for a merge into development.

[2019-10-14 13:26] katharinabr opened #780 "Increase converage of regessions tests"
In some packages the coverage by unit tests is low. Some example models don't have unit tests yet.

The aim is to increase the converage of unit test by writing missing unit tests.

[2019-10-14 15:42] DaJansenGit opened #781 "CI Tests fail for some models"
Some tests currently fail after the newest IBPSA merge, like [here](https://git.rwth-aachen.de/EBC/EBC_all/github_ci/AixLib/pipelines/193967) due to divation from reference results.

First @MichaMans and me thought this was due to the [update from reference results](https://github.com/ibpsa/modelica-ibpsa/issues/1190) in the IBPSA to dymola 2020

But even after using the dymola 2020 container the

[2019-10-15 06:45] KremerMartin commented on #695
@DaJansenGit After recieving answer from M. Wetter, I pushed my changes just now. We are now ready to do the pull request in this branch. I adapted the changes on the internal gain models right here, since the branch to this issue was more ahead than the internal gain branch.

[2019-10-15 06:51] Fabio-Bufalo-Peano-5C opened #782 "Image"
![PIANTINA-CASA-VIA-MARTIRI-DELLA-RESISTENZA-SPILLANTINI-PAOLO (1)](https://user-images.githubusercontent.com/29914554/66806898-ea4a9f00-ef28-11e9-9ce2-a1d5c35efb8f.jpg)

[2019-10-15 07:05] DaJansenGit commented on #779
Please have a look at #674

And it seems like the slew rate limiters where removed in a different branch in this commit: 8a8b138c0e86e3f503fea9fc8bba4c23d49dab1b, please have a look at this too.

[2019-10-15 07:09] DaJansenGit opened #783 "Labels for packages"
What do you think about giving each package in the AixLib library an own label? E.g. a **Fluid** label, a **thermalzone** label and so on. This way we have a better overview which packages are affected by the issue and we can shorten the names of the issues.

[2019-10-15 07:12] #782 closed

[2019-10-15 08:50] MichaMans commented on #781
@DaJansenGit I have no idea where the deviations come from. The marked area/time at comparison is the time with the highest deviation? If so, we should maybe check:
- if we are still in the VDI 6007 deviation range
- why the check does not fail in the ibpsa --> open a discussion branch there?
- check again if the reference results from the ibpsa and our are 100% the same

[2019-10-15 09:30] DaJansenGit commented on #781
I updated the screenshot, it shows now the timestamp of the highest deviation.
* I will check the VDI6007 range
* I will open an discussion branch in IBPSA
* the reference results are 100 % the same, I checked this already

[2019-10-15 10:52] AnaConstantin commented on #780
Check this branch as well, https://github.com/RWTH-EBC/AixLib/tree/issue718_EnhanceUnitTests, since it is were I already added some unit tests, back in May.
When generating unit tests, make sure you have the same software configuration as on the server running the CI (mainly Dymola Version), otherwise something that gives no warnings on one configuration might lead to warnings on another, and lead

[2019-10-15 11:56] katharinabr commented on #780
Thanks, @AnaConstantin! I missed your issue. I'll close this issue because it's already part of #718 .

[2019-10-15 11:56] #780 closed

[2019-10-15 16:42] mlauster commented on #781
I can't check your example results, since they ate not accessible for external, but the VDI range is 0.1 K for hourly means.

[2019-10-18 09:38] alexanderAKU opened #784 "AHU with hydraulic modules"
**What is the problem?**

There are no generic ahu models that is based on fluid in order to simulate the dynamic behavior (e.g. delays, dead times) of the heating/cooling registers of the ahu.
However, these effects have to be considered for controller testing and development.

**How do we want to solve it?**

- Create an ahu model that includes the hydraulic modules for air ahu (see #677)

**Add

[2019-10-18 09:39] alexanderAKU commented on #784
Tasks:

- [ ] create model and include ahu register modules
- [ ] define control bus
- [ ] implement simple controller
- [ ] example

[2019-10-22 09:48] alexanderAKU opened #785 "SteamHumidifier_u"
**What is the problem?**

- I want to model a steam humidifier with relative power/mass_flow as input [0..1]. The model Humidifier_u does not include the enthalpie of steam, thus an extended version of hte model is needed.

**How do we want to solve it? Describe the solution you'd like**

- Create new model
- Include Humidifier_u
- Add heatflow for steam

**Describe alternatives you've considered*

[2019-10-22 10:43] nsitton opened #786 "image"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-10-22 10:43] #786 closed

[2019-10-22 14:22] alexanderAKU commented on #785
I created a new model that can either inject steam or liquid water.

[2019-10-23 12:21] Alexa9745 opened #788 "Diagrama Gantt"
![poza](https://user-images.githubusercontent.com/56350280/67392211-cf230380-f5a8-11e9-8c30-97b04fc0a131.png)

[2019-10-23 12:22] #788 closed

[2019-10-23 14:11] DaJansenGit commented on #783
the feedback in the last modelica meeting was positive, so I created some labels for the Fluid, FastHVAC and Systems package. Feel free to continue with other packages. I will close this now.

[2019-10-23 14:11] #783 closed

[2019-10-23 14:52] DaJansenGit commented on #684
This will be closed now because the usage of the very detailed CHP model in the fasthvav is questionable.

[2019-10-23 14:52] #684 closed

[2019-10-23 14:57] DaJansenGit commented on #564
we should restructure the fasthvac like the way the fluid is structured. Therefore I will
* [ ] move all components from Components package to top folder of the FastHVAC
* [ ] move examples from the central example package to the different components

[2019-10-24 07:57] Dawac opened #790 "makeFastHvacGreatAgain"
In addition to #309:
We would like to implement some features to the FastHVAC to hopefully make it a little bit more consistent and stable.

One of the goals is to

Tasks:
- [x] mflow shall be defined as flow variable again
- [x] new model for a generic splitter with variable split ratio between the ports
- [ ] implementation of a leakage massflow depending on a nominal flow for all components
- [

[2019-10-25 09:57] DaJansenGit commented on #790
The massflow is implemented as a flow variable again. This was possible by adding a dummy potential variable. Changes made:

### Rework enthalpy port:
- create dummy potential variable  (hidden in results to prevent confusion)
- remove not needed temperature and specific heat capacity variables
- make enthalpy a stream variable and call it h_outflow

### General changes:
- h_outflow at port a is a

[2019-10-25 11:46] PMehrfeld opened #791 "QEva_nominal is protected in HeatPumpSystemParameters"
**What is the problem?**

In class `AixLib.Systems.HeatPumpSystems.BaseClasses.HeatPumpSystemParameters` the parameter  `QEva_nominal` is protected and, thus, it should not be accessed from outside the class. However, this would be beneficial in some cases.

**How do we want to solve it? Describe the solution you'd like**

Change the parameter to a `final` one.

[2019-10-25 12:06] PMehrfeld opened #793 "Correct BufferStorage initialization of energyDynamics"
**What is the problem?**

In e.g. `AixLib.Fluid.Storage.BaseClasses.StorageCover` values for `TStartWall` and `TStartIns` exists but they are not used.

**How do we want to solve it? Describe the solution you'd like**

Parse the start values to the capacities and implement correct usage of `energyDynamics`.

[2019-10-25 15:05] PMehrfeld commented on #793
- [ ] Delete `AixLib.Fluid.Storage.BaseClasses.StorageWall` as soon as the `Obsolete` top level package exists, since the model is nowhere used.

[2019-10-28 10:07] PMehrfeld commented on #793
- `PlugFlowPipe` implemented. Comparsion between old and revised buffer storage (tested with new example model):
![image](https://user-images.githubusercontent.com/11769433/67669560-6f46a700-f972-11e9-8793-5db4c6bb51bd.png)

- **Pressure drop** at heating coil:
![image](https://user-images.githubusercontent.com/11769433/67669609-8c7b7580-f972-11e9-9bd1-12f7bec2e5d5.png)

- **Heat flow** transferre

[2019-10-28 10:09] PMehrfeld commented on #793
Furthermore, I added the `non-backward compatible`, which I introduced in analogy to IBPSA library.
The changes in this issue cannot be covered by an conversion script, since e.g. the discretization between the old pipe model and the new one is implemented in a different way.

[2019-10-28 16:42] alexanderAKU opened #795 "DynamicHX flow direction"
**Describe the bug**
The connections of the heat flow in the DynamicHX model are wrong. Thus, if connected in counter flow, the caracteristic is corresponds to a parallel flow and vice versa.

**Additional context**
The connections of the heat pors have to be fixed.

[2019-10-28 17:13] alexanderAKU commented on #795
- [ ] connect volume i with heattransfer nNodes -i

[2019-10-29 09:16] DaJansenGit commented on #771
The PR #775 is merged.

[2019-10-29 09:16] #771 closed

[2019-10-29 14:05] ErvinLejlic opened #797 "Add CO2 Concentration to Reduced Order Model"
**What is the problem?**

Our Project is about adding a CO2 concentration to the ReducedOrder Model.

**How do we want to solve it? Describe the solution you'd like**

We work with trace substances to calculate the CO2 concentration over time in the zone.
We want to add a connector use_C_flow to Indoor Air to calculate the CO2 concentration.

**Describe alternatives you've considered**

We first t

[2019-10-31 08:41] alexanderAKU commented on #597
Merged into development

[2019-10-31 08:41] #597 closed

[2019-10-31 09:29] alexanderAKU commented on #795
merged into development

[2019-10-31 09:29] #795 closed

[2019-10-31 11:18] alexanderAKU opened #799 "Improve SimpleConsumer"
**What is the problem?**

- The model SimpleConsumer contains a volume with convection to a fixed temperature. It would be benificial to have more options, e.g. predescribed heatflow or varianle temperature, thus, this model could be used for several applications

**How do we want to solve it? Describe the solution you'd like**

- Add options to select between internal fixed temperature, external

[2019-10-31 11:38] alexanderAKU commented on #563
merged into development

[2019-10-31 11:38] #563 closed

[2019-11-04 12:02] alexanderAKU commented on #677
I will add some data and a validation package for comparison with measurement data.

[2019-11-04 12:22] PMehrfeld commented on #747
Closed by #762

[2019-11-04 12:22] #747 closed

[2019-11-04 16:21] KremerMartin commented on #797
@ErvinLejlic Thanks for your issue.
Please keep in mind, that providing changes to the Reduced Order Models (OneElement, TwoElement) will lead to merge conflicts with the IBPSA.
The RC-models are derived from the [IBPSA](https://github.com/ibpsa/modelica-ibpsa)-library. Hence, if you do modifications on these models, you will need to provide your changes as well to the IPBSA. If you've got questio

[2019-11-05 11:23] DaJansenGit opened #802 "clean CI infrastructure"
We want to clean the CI infrastructure a bit. This includes the following tasks:

- [x] Merge @MichaMans fork of the buildingspy with coverage included into buildingspy master (https://github.com/MichaMans/BuildingsPy) see also https://github.com/lbl-srg/BuildingsPy/issues/253

- [x] use master of buildingspy in all CI scripts to prevent confusion

- [x] remove travis CI and integrate html check i

[2019-11-05 11:25] PMehrfeld commented on #802
- [ ] Restructure `bin` folder like @SvenHinrichs has almost finished

[2019-11-05 11:25] MichaMans commented on #802
@PMehrfeld where ist this documented? Is there an open issue for that?

[2019-11-05 11:29] PMehrfeld commented on #802
@MichaMans: If I remember correctly, this is in a private fork of @SvenHinrichs in GitLab.
But of course, for documentation purposes, I would request @SvenHinrichs to write down the main changes he conducted.

[2019-11-05 11:31] MichaMans commented on #802
@PMehrfeld  not really necessary, was just curious about what changes he is working on. Might be good to document that in the repo in the future

[2019-11-05 13:03] DaJansenGit commented on #689
I will close this, due to the merge of #743. @PMehrfeld

[2019-11-05 13:04] DaJansenGit commented on #689
The original HeatToStar model

[2019-11-05 13:08] PMehrfeld commented on #689
@DaJansenGit: I think you were right with closing this issue. Or are there any reasons why you reopened the issue again?

[2019-11-05 13:12] DaJansenGit commented on #689
@PMehrfeld
Yes, with #746 we moved `HeatToStar `modell to obsolete package. But some of the internal gains model still use it. E.g.

- AixLib.Utilities.Sources.InternalGains.Lights.LightsAreaSpecific
- AixLib.Utilities.Sources.InternalGains.Lights.Lights_simple
- AixLib.Utilities.Sources.InternalGains.Machines.MachinesAreaSpecific
- AixLib.Utilities.Sources.InternalGains.Machines.Machines_DIN18599

[2019-11-05 13:29] PMehrfeld commented on #689
Perfect, you are right! :+1:
So we need a conditional input ([wiki page](https://github.com/RWTH-EBC/AixLib/wiki/How-to:-Conditional-input-connectors)) to optionally set a parameter instead of a variable input.

[2019-11-05 13:41] DaJansenGit commented on #689
Ok, I will finish this later! Thanks for your input :)

[2019-11-05 22:55] vtbell21 opened #804 "ok"
![4B7B492B-1BC4-4537-8851-9DCBECEC7E09 (1)](https://user-images.githubusercontent.com/56656419/68253220-39419c80-ffdc-11e9-8c89-b2ba9c31a8b9.jpeg)

[2019-11-05 22:56] vtbell21 opened #805 "k"
![4B7B492B-1BC4-4537-8851-9DCBECEC7E09 (1)](https://user-images.githubusercontent.com/56656419/68253269-5fffd300-ffdc-11e9-8a27-99b76fa7ccb8.jpeg)

[2019-11-05 22:56] vtbell21 opened #806 "k"
![4B7B492B-1BC4-4537-8851-9DCBECEC7E09](https://user-images.githubusercontent.com/56656419/68253299-7148df80-ffdc-11e9-8ffe-ec25007f9558.jpeg)