[2014-07-10 09:17] marcusfuchs opened #1 "Add style guide to wiki"
Add style guide to wiki for contributions

[2014-07-10 09:18] marcusfuchs opened #2 "Move AixLib from svn to github"

[2014-07-10 11:38] #2 closed, assigned to nobody

[2014-07-11 11:22] PRemmen opened #3 "LowOrder Building - Validation"
-translation into English and proper naming
-update CombiTimeTable for inner loads in test cases 5,8,9,10,12 (split the persons share into  peopleConvective and peopleRadiative)

[2014-07-29 09:51] #3 closed, assigned to nobody

[2014-07-29 09:55] marcusfuchs opened #6 "Building.LowOrder.Validation: update documentation, plots, and simulation times"
- The validation examples' documentation for the low order building model should clearly state which variables are compared to the ref.
- The examples should plot this comparison.
- The simulation times should be adjusted to not exceed the last reference day

[2014-07-29 09:57] marcusfuchs opened #7 "Building.LowOrder.Examples not functional"
The LowOrderExample does not work and does not include a proper simulation setup. This should be corrected

[2014-07-29 10:08] marcusfuchs opened #8 "Test fluid models with Annex 60 base classes"
Implement a test to compare models as-is with the same models built on Annex 60 base classes using Modelica Fluid

[2014-08-04 11:52] #6 closed, assigned to nobody

[2014-08-18 14:42] marcusfuchs opened #10 "Error in OpenModelica: “The file was not encoded in UTF-8""
Reported via eMail:
Upon Opening the library in OpenModelica, the following error message is given: “The file was not encoded in UTF-8"

[2014-08-22 13:46] tbeu opened #11 "Illegal inheritance"
Warning while loading the file .\AixLib\AixLib\Utilities\HeatTransfer.mo.
The Modelica class of AixLib.Utilities.HeatTransfer.HeatConv_inside (class) and its base class Modelica.Thermal.HeatTransfer.Interfaces.Element1D (model) are not compatible.

HeatConv_inside should be of type model, too.

[2014-08-22 15:15] AnaConstantin opened #13 "Correct implementation of a door in AixLib.Building.Components.Walls.Wall model."
The model should allow for doors both for outside and inside walls. However the existence of the door component is conditioned also by the wall being an inside wall. Additionally the U-value of the door should be adapted for an inside wall, as just half a wall and hence half a door is considered.

[2014-08-22 17:33] AnaConstantin opened #14 "Boolean withFloorHeating in room models from AixLib.Building.HighOrder should be set to false"
The default value of the boolean parameter is true. It should be false in order to allow for the changes in model only when explicitly needed. For example AixLib.Building.HighOrder.House.OFD_MiddleInnerLoadWall.BuildingAndEnergySystem.OFD_IdealHeaters has by default the parameter set to true, and in this case it is incorrect.

[2014-08-23 15:52] #14 closed, assigned to AnaConstantin

[2014-08-23 15:52] #13 closed, assigned to AnaConstantin

[2014-08-23 15:53] #11 closed, assigned to AnaConstantin

[2014-08-25 07:38] mlauster opened #16 "Icon for AixLib"
Add icon for AixLib

[2014-08-25 07:45] #16 closed, assigned to nobody

[2014-08-26 14:37] #7 closed, assigned to nobody

[2014-08-28 09:55] AnaConstantin opened #19 "Parameters for dynamic ventilation not referenced on room level"
The parameters are defined on the floor level in AixLib.Building.HighOrder.House.OFD_MiddleInnerLoadWall.BuildingEnvelope but are not referenced further down in the rooms, so they are not active.

[2014-08-28 10:43] #19 closed, assigned to AnaConstantin

[2014-09-22 09:02] mlauster opened #21 "Revise icons Buildings.LowOrder"
The icons need to be revised, the colors might be a bit shiny.

[2014-09-25 18:00] marcusfuchs opened #22 "Rename variable for differential pressure from p to dp"
In AixLib.HVAC.Interfaces.TwoPort, the differential pressure is calculated as variable p, which is described as "Pressure drop between the two ports (= port_a.p - port_b.p)". Renaming to dp would be more coherent with standard conventions and thus less irritating.

[2014-09-29 12:07] #22 closed, assigned to nobody

[2014-09-29 15:45] PRemmen opened #24 "Implement improved Low Order Model"
Implement improved LOM as shown in  http://www.ibpsa.org/proceedings/bausimPapers/2014/p1192_final.pdf

[2014-10-07 12:59] PRemmen opened #25 "Building.LowOrder.BaseClasses.equalAirTemp"
working on issue #24 i recognized some potential for enhancement in the current version of the equalAirTemp (e.g. right now only one view factor [phiprivate=0.5 for vertical alignment] is considered)

Should we discuss this in this issue or also in #24

[2014-10-22 16:48] marcusfuchs opened #26 "HeatTransfer.HeatConv uses subscripted modifier (not allowed in Modelica Spec)"
The diagram uses

Rectangle[
          extent]=...

This is not allowed according to the Modelica Specification and prevents the library from opening with OpenModelica 1.9.1 beta 4.
(see https://trac.openmodelica.org/OpenModelica/ticket/2663)

[2014-10-22 17:06] marcusfuchs opened #27 "Packages and models should not be saved into single files"
If there are any objections please comment, otherwise we should save each model to a single file as most other libraries do.

[2014-10-22 17:27] marcusfuchs opened #28 "== false in EqAirTemp and LowOrder Validation gives Parser Error in OpenModelica"
E.g. in EqAirTemp.mo line 40:

  if sum(wf_wall) + sum(wf_win) + wf_ground <> 0.00001 == false then

This should be changed to:

  if not sum(wf_wall) + sum(wf_win) + wf_ground <> 0.00001 then

@PRemmen can you please check whether that gives the same results?

[2014-10-27 15:08] #10 closed, assigned to nobody

[2014-10-27 15:08] #26 closed, assigned to nobody

[2014-10-27 15:08] #27 closed, assigned to nobody

[2014-10-27 15:09] #28 closed, assigned to nobody

[2014-11-05 14:27] mlauster opened #31 "Revise Buildings.LowOrder.Validation"
Due to parameterization, we do not match the reference values within +/-0.1K. This can be improved.

[2014-11-12 13:13] PRemmen opened #32 "Revise LowOrder.ThermalZone"
Revise the structure or add additional ThermalZone models (e.g. like it is done in LowOrder.BaseClasses.ReducedOrderMolde/EqAirTemp) in order to operate the ThermalZone with all the different modeling options of #24 and #25

[2014-11-14 14:58] #24 closed, assigned to nobody

[2014-11-14 14:58] #25 closed, assigned to nobody

[2014-11-14 15:58] MichaelAdolph opened #33 "Naming of thermal mass inconsistent"
Most Rooms in the Building.HighOrder Library of AixLib offer a simple radio button to select the Thermal Mass Class. Unlike the whole GUI, the labels  assigned (S, M, L) are abbreviations for the German "Schwer", "Mittel" and "Leicht". This is a possible source of confusion, as it could be misunderstood as "Small", "Medium" and "Large".

It suggest renaming the abbreviations to:
S --> high
M --> m

[2014-11-18 16:30] PRemmen opened #34 "Bug in HVAC.HeatGeneration.Boiler"

[2014-11-18 16:54] #34 closed, assigned to nobody

[2014-11-24 14:52] marcusfuchs opened #36 "Boundaries of example for dynamic pipe"
Both boundaries are set to atmospheric pressure, forward side has h = 1e6. I think this might be an error and instead the forward side should have a slightly higher pressure than the return side boundary?

[2014-12-01 09:54] mlauster opened #38 "Add acknowledgements"
In our acknowledgement section, we should reference our public financial support

[2014-12-01 13:16] #31 closed, assigned to nobody

[2014-12-01 13:19] mlauster opened #40 "Revise Buildings.LowOrder.Validation Test Cases 3,4,6,7,11"
The Test Cases
* 3
* 4
* 6
* 7
* 11

are still not sufficient. Here, some further work needs to be done justify the deviations or improve the models

[2014-12-01 13:22] mlauster opened #41 "LowOrderModel remarks from Annex 60"
We got some remarks mainly regarding LOM from the Annex 60 group and should consider them.
Mainly, the following items should be done:
- Do not use cardinality as it will be removed from Modelica
- Replace Airload in ReducedOrderModel with Mixed Air volume
- use assert instead of .stream to state warnings

[2014-12-01 15:10] #38 closed, assigned to nobody

[2014-12-01 15:10] #41 closed, assigned to nobody

[2014-12-04 10:18] mschumacher247 opened #43 "MultiZone model corrupt at "withWindows=false""
Since the MultiZone model is not part of AixLib yet, this issue is not urgent for now. Should be fixed when integrating MultiZone model into AixLib

[2014-12-09 15:30] #21 closed, assigned to nobody

[2015-01-14 11:27] mlauster opened #45 "LOM.SplitterThermPercentAir"
I have to objections:
- For what is "AirPercent" in the name?
- The loop connecting input and output can be more efficiently handled by a vectorized equation using .* if necessary
- In the sum equation, the multiplication needs to be done via .*. This might cuase errors if input is a scalar.

[2015-01-14 11:44] mlauster commented on #43
This might be due to vectorization of model where the conditioning of single vector entries might not work. I will try that. Anyway, the statement was thought for avoiding problems when window area is zero. Maybe we can find a more elegant way to avoid dividing by zero.

[2015-01-14 12:03] mlauster commented on #43
Hm, I tried it by myself but it worked fine. We should crosscheck that.

[2015-01-14 12:37] PRemmen commented on #45
1. This is because the model was developed for another purpose. I will change that
2. I will try to implement the vectorized equation

[2015-01-14 13:29] PRemmen commented on #45
Only tested with LOM Example. @mlauster

[2015-02-02 17:03] atharkamal opened #47 "Error while simulating examples"
Dear AixLib team i am having problems while simulating the library examples. Screenshot of the error is attached.
![error](https://cloud.githubusercontent.com/assets/10814607/6004809/ff4dc04c-ab1e-11e4-8415-d8aeed5130ca.png)

[2015-02-02 17:11] marcusfuchs commented on #47
Dear atharkamal, thanks for your interest in AixLib! I am not sure whether the problem you are experiencing is related to the model itself, it might be a problem with your system setup. Have you been able to simulate example models from the Modelica Standard Library? If not, have you set your working directory (In Dymola: File > Change Directory) to a path for which you have write access?

[2015-02-02 17:24] atharkamal commented on #47
Thanks Marcus for the reply.

[2015-02-03 06:58] atharkamal commented on #47
So Marcus, i managed to get rid of the error above but now i can't access the weather data file. This is the error i am getting. I have tried changing the input location through the parameter settings of the weather model, but can't seem to resolve the issue. Your help is really appreciated.
![error 2](https://cloud.githubusercontent.com/assets/10814607/6015897/9e351efc-ab93-11e4-95f3-d86c3a2ff61b

[2015-02-03 07:44] marcusfuchs commented on #47
Hi Athar, I am sure we can fix this:
For the weather file we use the path "modelica://AixLib/Resources/WeatherData/TRY2010_12_Jahr_Modelica-Library.txt".

modelica:// is a hint for Dymola to look for the local AixLib copy on your system. In order to tell Dymola where to search for AixLib, you need to include the path to your AixLib copy in the Environmental Variable "MODELICAPATH". If you are usin

[2015-02-03 11:54] atharkamal commented on #47
Dear Marcus,
                     I am a student at Masdar Institute and am working on a small part of Annex 60. It will really help me if i can use the AixLib. (PS can you suggest method in creating several different building models/envelops like Commercial,Residential and Office,etc. for energy simulation using the AixLib).

I am still getting the above error. PS this error is occurring in the H

[2015-02-03 13:41] marcusfuchs commented on #47
Thanks for your comments, there seems to be a problem with the relative path. We just merged a temporary fix which sets the examples to use a record from AixLib's database instead of the external text file. So if you pull the current master version, the weather file problem should be solved.

Regarding the modeling of different building types, the approach depends on whether you want to use the hi

[2015-02-04 08:02] atharkamal commented on #47
Thank You Marcus.
It's working now.

[2015-02-04 08:03] marcusfuchs commented on #47
Perfect, you're welcome.

[2015-02-04 08:03] #47 closed

[2015-02-04 18:37] atharkamal commented on #47
Hey Marcus....
Thanks again for the help. But just a question. Since you made the change, can i use any other weather data file? And if yes, then how do i convert an epw file to the txt format.
I can use matlab coding to get a matrix(column) form of data from epw to txt format but am not sure what all the columns represent, cause i couldn't find the TRY standard. Are they anyway related to TRNSYS

[2015-02-05 12:01] marcusfuchs commented on #47
Of course you can use any other weather data you like. The changes we made were intended to have examples that can be run directly. But you can easily change that. Within the weather model, there is a block WeatherData which is nothing else than a standard CombiTimeTable from the Modelica Standard library. We changed that table to use weather data from a database record instead of a text file. Sim

[2015-02-06 08:04] PRemmen opened #49 "Integration of ASHRAE 140 Validation"
Models of ASHRAE 140 Validation should be added (LOM and HOM)

[2015-02-06 08:37] PRemmen commented on #49
This will implay restructuring  the Validation package in Building.LowOrder

[2015-02-09 13:51] thorade opened #50 "HTML tidy"
BuildingsPy can call HTML tidy and check the HTML documentation.
The following Python script will print a couple of warnings and errors that should be fixed.

[code]

Remember to change the path.
Before running the script you need to `pip install -U buildingspy`.
You might also need to `pip install -U pytidylib` and get `tidylib.dll` from http://tidy.sf.net/

[2015-02-13 10:15] #43 closed

[2015-02-17 10:43] atharkamal opened #51 "Accessing Output of airload"
Dear AixLib,
                   I am really confused about this. I want to use the simulated airload Temperature ( reducedOrderModel.airload.T ) of "AixLib.Building.LowOrder.Examples.LOEM" and use it to get an estimate of Cooling required using the equation ( Q=m.c.dT) where dT=AT-ST
AT=Airload Temperatue
ST=Set Temperature.

How do i access AT, the simulated airload temperatue?

[2015-02-17 12:49] PRemmen commented on #51
The path of the airload temperature is "LowOrder.Example.thermalZone.thermalZonePhysics.reducedOrderModel.airload.T".
Please note that you will already find the cooling demand and cooling load in  "idealHeaterCooler.coolMeter.q_kwh" and "idealHeaterCooler.coolMeter.p"  (with given setTemperatures from CombiTimeTable "heatingCooling")
I hope this is the requested answer.

[2015-02-20 18:51] AnaConstantin opened #52 "Validation according to ASHRAE 140"
Wouldn't it be absolutely wonderful if this awesome building models would be validated according to some standard, let's say ASHRAE 140?
PRemmen, are you feeling up to it?

[2015-02-20 18:53] AnaConstantin commented on #52
Just saw PRemmen has been feeling up to it since three issues ago. My bad. Closing the issue.

[2015-02-20 18:53] #52 closed

[2015-02-23 15:21] #51 closed

[2015-02-23 15:23] #45 closed

[2015-02-27 11:35] thorade opened #53 "misspell_fixer"
@tbeu has applied the misspell_fixer from
https://github.com/vlajos/misspell_fixer
to various Modelica libraries.
This spell fixing script should also be applied to AixLib.
Will send a Pull Request later

[2015-03-03 10:51] thorade commented on #50
Summary: the following rules fixed 90% of the warnings:

| Never use | Always use | Comment|
|:---------:|:---------:|:---------:|
|     `<br>`       |     `<br/>`      |  tags must be closed|
|      `<HTML>` or `&QUOT;`      |      `<html>` or `&quot;`     | tags must be lowercase|
|      `size=5` or `cellspacing=0`      |      `size=\"5\"` and `cellspacing=\"0\"`     | double quotes around value

[2015-03-03 12:23] thorade opened #56 "name clash: HVAC used twice"
Your [`AixLib.package.mo`](https://github.com/RWTH-EBC/AixLib/blob/master/AixLib/package.mo#L3) has an annotation which libraries it uses:
[code]
But HVAC is also used for `AixLib.HVAC` (and for the directory that contains that sub-package), resulting in an error message when opening AixLib in Dymola. Maybe the library should be renamed `LibHVAC` or something more meaningful and unique.
Maybe you

[2015-03-03 12:29] thorade commented on #56
Also, you are using pathes starting with HVAC 62 times (in 12 files).
Which one of the two HVACs do you mean?

See e.g. line 20 of [CoolerDehumidifier.mo](https://github.com/RWTH-EBC/AixLib/blob/master/AixLib/HVAC/HumidifierAndDehumidifier/CoolerDehumidifier.mo)
versus line 26 of [OneAppartment_Radiators.mo](https://github.com/RWTH-EBC/AixLib/blob/master/AixLib/Building/HighOrder/House/MFD/Buildin

[2015-03-04 08:59] mlauster commented on #56
This is an old reference we missed to modify. In AixLib there is only AixLib.HVAC. We will correct that.

[2015-03-06 10:58] PooyanJahangiri opened #58 "More examples for residential and non-residential buildings needed"
Start a branch for building application examples for residential and non residential buildings

[2015-03-08 18:02] PRemmen commented on #49
Due to the reason that the weather model changed I had to adjust some models. This includes major changes in the LOM.
- solar interface in LOM was changed to a Real input. The distinction of convective and radiative parts of transmission through the window was adjusted accordingly
- the solar Interace in EqAirTemp was also changed
- additional model SolarRadAdapter, which transfers the solar radia

[2015-03-17 10:53] #53 closed

[2015-03-17 11:07] #50 closed

[2015-03-17 11:15] #56 closed

[2015-03-20 17:56] AnaConstantin opened #61 "Documentation for Records in AixLib.DataBase.Surfaces.RoughnessForHT"
.. has to be adapted to the AixLib paths

[2015-03-23 09:09] #49 closed

[2015-03-23 09:36] marcusfuchs commented on #8
First stage finished with #59

[2015-03-23 09:36] #8 closed

[2015-03-23 09:46] marcusfuchs opened #63 "Implement Unit Tests"
The library should have unit tests for all models as a means of quality control. This should use buildingsPy unit testing routines

[2015-03-23 09:51] PRemmen commented on #61
solved in #62

[2015-03-23 09:51] #61 closed

[2015-03-23 16:53] AnaConstantin opened #64 "Update several models to newer versions"
Several models also used in AixLib have been improved in another projects. The AixLib models should be updated. All further development of these models shall hence on be done only in AixLib.

[2015-03-23 18:02] marcusfuchs commented on #1
Added a workflow description closely following the Annex 60 workflow. We can add a detailed style guide with version 1.0.0 (or earlier if applicable).

[2015-03-23 18:02] #1 closed

[2015-03-26 15:30] thorade opened #65 "package.order"
Your package.order is currently broken.
Dymola will silently fix this when opening the library,
OpenModelica will complain, and it will tell you what is broken where.

So, opening the library in OpenModelica from time to time (e.g. after running the integration scripts)
is a good test to see whether the package.order is correct.

[2015-03-31 14:48] RoozbehSangi opened #68 "Adjusted "Hydraulic Separator" and "Mixing Valve""
Already-developed models for Hydraulic separator and Mixing valve have been adjusted to the new format of AixLib.

[2015-03-31 15:19] RoozbehSangi opened #70 "HVACComponentsDevelopment"
A branch to develop new HVAC components

[2015-04-15 20:04] atharkamal opened #71 "Implementing HVAC from another Library"
Dear AixLib Team,
                             I want to implement a HVAC system from another library inside one of the AixLib
LowOrderModels. The Chiller model and all the components have flow ports(fluids) involved. Is there a way in which i can implement this by modifying the LowerOrderModel? Something like below but instead of getting the temperature from the temperature sensor.. include the c

[2015-04-16 05:34] mlauster commented on #71
As far as I see you currently use the outdoor air temperature for your chiller.
Anyway, you can couple a MixingVolume on the convective heat port for internal loads (representing the air node) or directly intgrate this volume into the zone model as in https://github.com/iea-annex60/modelica-annex60/tree/issue94_thermalZone

[2015-04-28 14:46] ThomasSchuetz opened #72 "Altitude in ASHRAE Validation (high order models)"
Altitude has to be set to 1609m in RadOnTiltedSurf_Perez

[2015-04-29 07:15] #72 closed

[2015-05-01 00:43] marcusfuchs opened #74 "Typos in radiator"
Had a quick look at the radiator model - will fix the typos in the commented code.

[2015-05-04 04:59] marcusfuchs commented on #71
It seems like we can close this, right?

[2015-05-04 04:59] #71 closed

[2015-05-04 05:09] marcusfuchs opened #76 "High order examples: Division by zero in pipe"
When trying to simulate the high order building model's examples RoomGFOw2 and Appartment_VoWo, simulation fails because the static pipe model divides by zero with lambda2 = 0.

This seems to be a problem with the pipe rather than with the high order examples. For a quick solution, I suggest to replace the static pipe in the examples by the pipe model from MSL.

For the future development an impor

[2015-05-04 06:03] mlauster commented on #76
Your quick solution sounds good.
Regarding further development, I think we therefore need to compare the AixLib and Annex60 pipe models and decide what are the best models in our context, e.g. accuracy vs. simulation time. If the Annex60 models win, I'm fine with a replacement.

[2015-05-04 16:54] marcusfuchs commented on #76
I think you are right about the need to test the models. One crucial dimension in addition to accuracy (which will not be easy to evaluate) and simulation time seems to be the inherent instability of the AixLib pipe at lambda2 = 0. I am not sure whether we want to put in too much effort to solve that when there are other pipe models that might be more stable already.

[2015-05-06 07:25] PRemmen commented on #76
I agree to have a benchmark and then decide how to proceed. In principal I'm totally okay to replace our models with the models from Annex 60. Nevertheless sometimes it might be sensefull to keep both (e.g. if AixLib model shows considerable simulation time advantages, having a good stability at the same time)

I think in we could define a general workflow for benchmarking doubled models, since th

[2015-05-06 12:45] AnaConstantin commented on #76
When I first build the models they worked under the simulation set up. I suggest that we always test the examples before accepting pull requests in order to identify such problems quicker. Until the unit tests are ready, a simple script might be sufficient.
However, as clearly stated in the documentation of the examples, they are only meant to show exemplary how such a simulation model (building +

[2015-05-06 16:46] marcusfuchs commented on #76
Thank you Ana for your input - I very much agree that we ought to test these things before pull requests. I am pretty sure I introduced the problems myself with the conversion to Annex 60 base classes and it did not catch my attention back then. Also, I agree that the example should only demonstrate the general functionality, so the main idea is that they are executable, which currently is not the

[2015-05-06 16:47] #74 closed

[2015-05-07 06:45] psteinhoff commented on #76
I know i am not that deeply involved in that modelica stuff, but as a kind of suggestion how to proceed with "new code" in github.
My understanding was:
- create a branch as a copy of i.e. AixLib->master with a representative name like fix#76 or similar
- do your work on that branch, perform a lot of commits to track your changes properly
- create a pull request for your branch (pull request do no

[2015-05-07 10:34] PRemmen commented on #76
Thanks for the comment. I think the general "git workflow" is clear and also available in our wiki. More or less we are following that. Few weeks ago we had a kind of big pull request that basically changed the whole structure of the AixLib, so we simply overlooked the mistakes mentioned above :)

[2015-05-08 08:25] PRemmen opened #77 "LowOrder: ThermalZonePhysics"
parameter eowo is not specified for use with record

[2015-05-20 08:14] PRemmen opened #78 "Clean up of low order models"
- [ ]  delete unnecessary models
  - EqAirTempSimple
  - ReducedOrderModelStar
- [x] delete name affix EBCMod
- [ ] rename the parameters to be uniform
  - EqAirTemp package
  - ReducedOrderModel package
  - SolarRadWeightedSum
  - ThermalZonePhysics
  - ThermalZone
  - ZoneBaseRecord
- [x] make ReducedOrderModel replaceable, implement choice in higher level models and change default reduced order

[2015-05-20 08:16] PRemmen commented on #77
to be solved in #78

[2015-05-20 08:16] #77 closed

[2015-05-20 08:17] mlauster commented on #32
to be solved in #78

[2015-05-20 08:17] #32 closed

[2015-05-20 10:36] #65 closed

[2015-05-29 09:13] PRemmen opened #79 "VDI 6007 verification"
Due to changes in the reducedOrderModel the example test cases are not working

[2015-05-30 21:12] atharkamal opened #81 "Mixing Volume mass flow"
Below is a chiller model  that i am trying to run.
 The basic assumption from the literature that i have read and understood after reading the mixing volume component is that "the cooling liquid that comes through the coocoi1(heat exchanger) interacts dynamically with the building model, this new liquid replaces the present volume from port.a inside the building model and then goes out through the

[2015-06-02 07:01] PMehrfeld opened #83 "Heat Convection Inside model"
HeatConv_inside from AixLib.Utilities.HeatTransfer should have implemented possibilities to choose a calculation method for convective heat transfer coefficient (alpha) between EN ISO 6946, B. Glueck or a constant value. But there were no necessary equations in the model code.

[2015-06-15 06:56] mlauster commented on #81
Since there is no discussion going on, I will close this issue.

[2015-06-15 06:57] #81 closed

[2015-06-15 06:57] #68 closed

[2015-06-15 09:55] #40 closed

[2015-06-15 13:26] mlauster opened #87 "Further values in ZoneBaseRecord"
We need some more parameter in ZoneBaseRecord to the use of RWin model and modified ThermalZone model in EBC-libs. These models will come into AixLib in next time

[2015-06-18 07:47] #83 closed

[2015-07-10 10:39] mschumacher247 opened #90 "LOM - Fails for windows = false"
If marker windows is set to false Dymola is not able to Check and translate the model

[2015-07-17 11:53] marcusfuchs opened #91 "LOM Records usage strings should be in English"
The records specify usage in German, they should be in English

[2015-07-20 10:25] #87 closed

[2015-07-20 10:27] #79 closed

[2015-07-23 10:51] #64 closed

[2015-07-24 13:58] marcusfuchs commented on #63
First unit tests are on master. The rest will be added via specific issues for subpackages.

[2015-07-24 13:58] #63 closed

[2015-07-24 14:07] marcusfuchs opened #94 "Add unit tests for AixLib pipe models"

[2015-08-04 14:16] sstinner opened #95 "Selection of different weather models does not work"
Selection Liu/Perez does not work

[2015-08-05 11:59] mlauster opened #97 "Graphics in Dymola 2016"
It seems that annotations have been changed in Dymola 2016. As a consequence, the graphics e.g. in LOM are in some parts corrupt. As example, the black connection lines of star connections do not work any more.

[2015-08-11 07:36] PMehrfeld commented on #97
You have to remove the modifier "pattern=LinePattern.None" in the connect annotation in order to get back the grey line of the star connections. When you draw new star connections you directly have visible lines.

[2015-08-20 10:52] thorade commented on #97
also see discussion here
https://github.com/iea-annex60/modelica-annex60/issues/220

[2015-09-01 15:44] MichaelAdolph opened #100 "TMC Parameter has no effect"
In Building.HighOrder.Rooms.MFD.CellarAtttic.Cellar and .Attic_Ro2Lf1 the parameter TMC can be set but has no effect as it is not used anywhere further down the code.

I'd suggest deleting these parameters to avoid any confusion. At least I would comment them as long as they are not used (if usage is intended in further releases).

[2015-09-01 15:52] MichaelAdolph opened #101 "Naming in Building.HighOrder.House.MFD.EnergySystem.OneAppartment.Radiators inconsistent"
The naming of the radiators is not consistent throughout the code, e.g. radiatorKitchen but radiator_bath, the child's radiator is called radiatorCorridor.

With respect to the rest of the code I'd rename the radiators to "radiators_whateverroom" if nobody objects

[2015-09-01 15:59] marcusfuchs commented on #101
Sorry to object here: I think radiatorRoom would be more coherent with the Modelica Naming Conventions: https://build.openmodelica.org/Documentation/Modelica.UsersGuide.Conventions.ModelicaCode.Naming.html

[2015-09-01 16:09] MichaelAdolph commented on #101
True, but than I'd have to ask myself if I'm going to fix the other names too or resist my urge to be pedantic.

[2015-09-01 21:34] MichaelAdolph commented on #101
Well for some reason Pullrequest #102 doesn't show up here. Anyway, I took the rather pedantic way. I guess some of you can appreciate this

[2015-09-07 18:43] mlauster opened #103 "Warning in AHUFull"
In Dymola 2016, I get the following warning:

Check of Cities.Supply.AirHandlingUnit.AHUFull:

The following components are used as state machine states because there are transitions from or to them:
deHuHRS_false
deHuHRS_true
huCHRS_false
huCHRS_true
huPreHHRS_false
huPreHHRS_true
onlyCoolingHRS_false
onlyCoolingHRS_true
onlyHeatingHRS_false
onlyHeatingHRS_true
startState
However, they are not de

[2015-09-07 19:01] PMehrfeld commented on #103
I'll try my best asap.

[2015-09-09 12:33] PMehrfeld commented on #103
Dymola declares state machines as "model" by itself. You can change e.g. "model DeHuHRS_true" to "block DeHuHRS_true" (analogous for the other state machines). Then you'll get rid of the warning. I'm not sure if "model" is the better definition, despite the warning, as it is declared by Dymola automatically. But you can also try "block".
Let me know if there are any simulation problems due to AHUF

[2015-09-10 08:43] #97 closed

[2015-09-10 08:45] mlauster commented on #103
@PMehrfeld; I just recognized that the model is not yet in the AixLib. Would you like to migrate the model into AixLib or are there any objections?

[2015-09-10 08:47] PMehrfeld commented on #103
No, I'm fine with that.

[2015-09-21 12:23] #95 closed

[2015-09-21 12:24] mlauster commented on #100
@MichaelAdolph, did you already solved this or is it still an open issue?

[2015-09-21 12:29] MichaelAdolph commented on #100
I put that up for discussion - and as nobody disagreed put it on my to do list.
Thanks to the last merge I'll have to update the other pull requests anyway and also take care of this issue within the next days.

[2015-09-23 14:24] MichaelAdolph commented on #101
Issue solved and merged into master

[2015-09-23 14:24] #101 closed

[2015-09-23 14:33] MichaelAdolph commented on #100
Pullrequest #105 should solve this problem

[2015-09-24 07:17] tbeu opened #110 "Missing file "./Tables/J1615/UserProfilesOffice.txt""
The table file UserProfilesOffice.txt cannot be found in the repository.

[2015-09-24 14:29] marcusfuchs opened #112 "Accidentaly broken diagrams"
@MichaelAdolph, I am afraid with your commit https://github.com/RWTH-EBC/AixLib/commit/53587f5dc9cef693d016eb9a7edb419dd1900060 you broke quite a lot of the diagrams. Could you please fix this?

[2015-09-24 14:33] PRemmen commented on #110
@tbeu could you specify where your need this file. I couldn't find where it is used in the code.

[2015-09-24 15:07] tbeu commented on #110
Just search for UserProfilesOffice.txt. It gives 40 hits in 24 files, e.g., AixLib.Building.LowOrder.Examples.Validation.VDI6007.Linear.TestCase1.mo.

[2015-09-24 15:19] tbeu commented on #110
Please not that Modelica.Utilities.Files.loadResource must always be used for Modelica URIs passed as fileName to CombiTimeTable as fixed in #109.

[2015-09-24 15:23] PRemmen commented on #110
Thanks.
This was an unused default value of an outdated version. So I just replaced the value with Modelica default value. You don't need this file to simulate the Validation examples.

[2015-09-24 15:25] tbeu commented on #110
Ah, I see now. It was set but not used.

[2015-09-24 15:28] tbeu commented on #112
LinePattern.None should be removed from connects by default but not globally.

[2015-09-24 15:38] PRemmen commented on #110
Merged and can be closed. Thanks @tbeu

[2015-09-24 15:38] #110 closed

[2015-09-24 20:55] tbeu opened #115 "Unknown variable heatConv_universal.port_b.Q_flow in AixLib.Utilities.Examples.HeatTransfer_test"
[code]

[2015-09-25 09:34] #115 closed

[2015-09-30 11:24] tbeu opened #118 "Warnings in AixLib.Building.LowOrder.Examples.improvedLOMExample"
AixLib.Building.LowOrder.Examples.improvedLOMExample gives warnings about the initial system.
[code]

Since I do not know if you want to fix this just in the example or in the used models AixLib.Building.Components.DryAir.Airload, AixLib.Building.LowOrder.BaseClasses.SimpleInnerWall and AixLib.Building.LowOrder.BaseClasses.SimpleOuterWall I can't provide a PR here.

[2015-10-01 10:10] PRemmen commented on #118
This should hopefully solve this problem.

We will discuss, if this should be changed in the used models.

[2015-10-02 07:30] #118 closed

[2015-10-02 14:50] tbeu commented on #118
Fix confirmed (for this particular example model).

[2015-10-05 10:35] MichaelAdolph commented on #112
fixed, see pull request

[2015-10-05 10:45] marcusfuchs commented on #112
That was pull request #122, changes are on the master now.

[2015-10-05 11:35] thorade commented on #112
I am afraid that with pull request #98 (for issue #97) I also broke some diagrams.
That also has to be reverted partially.

[2015-10-05 11:46] MichaelAdolph commented on #112
maybe, but from (a rather superficial) first look most file names look common to me.
So I guess, I got you covered. At least for most of the

[2015-10-05 19:55] MichaelAdolph commented on #112
I tried to understand what happend. Somehow the changes from  pull request #98 entered my branch that I than accidentally merged into the master. So with this pull request we should be fine again (except 1-20 mistakes I made while manually reverting).

I'll reference this issue next time if somebody tells me, it was my fault ;)

[2015-10-05 19:55] #112 closed

[2015-10-21 10:42] tbeu opened #124 "Serious issues in AixLib.Building.LowOrder.Examples.LowOrderExample"
Running AixLib.Building.LowOrder.Examples.LowOrderExample in pedantic mode reveals serious issues on Modelica compliance.

[2015-10-23 08:39] mlauster opened #125 "Further models for LowOrder"
This issue is to add missing high level models form internal libs to AixLib. These are:
- ThermalZonePhysicsRWin
- ThermalZoneMod
- ThermalZoneModRWin
- HouseMultizone
- HouseMultizoneRWin
- TypeBuilding
- TypeBuildingRWin

Of course, the task is not only to move the models, but to pick the reasonable ones, combine versions with and without RWin and to adapt style to guidelines

[2015-10-26 13:30] PRemmen commented on #124
I checked with Dymola 2016 and there are no more pedantic issues in this example.

However, we should check the results of that example, something seems to be strange with heating and cooling demand @mlauster

[2015-10-26 15:20] mlauster opened #126 "Reorder packages and models"
Currently we have a duplicative structure with various locations for similar models, e.g. HVAC and Fluid, Controls and Utilities.Control. This is mainly caused by merging AixLib and Annex60 BaseLib. We should define a new structure that complies to Annex60.

[2015-10-26 15:37] #103 closed

[2015-10-27 10:00] tbeu commented on #124
I still see the issues (on current master).

[2015-10-28 10:01] PRemmen commented on #124
@tbeu we haven't merged it into the master yet, I will create a PR now

[2015-10-29 13:35] mlauster opened #128 "rename AixLib.Utilities.Control.PITemp input "soll" to "setPoint""

[2015-10-30 15:03] #124 closed

[2015-11-02 14:30] mlauster opened #129 "Errors in pedantic mode in AixLib.Buildings.LowOrder.Examples.Validation"
We get a bundle of errors in this section in pedantic mode, mainly related to annotations, but as well some serious ones regarding using sub-model-variables as outputs on higher level.

[2015-11-03 09:26] mlauster commented on #90
This should be solved when we merge the new Annex60 ROM into AixLib. I will then check and close this issue

[2015-11-03 09:29] mlauster commented on #126
In addition, we have two occurences of:
- HeaterCooler (HVAC.HeatGeneration and Utilities.Sources.HeaterCooler, the second ones are far better developed)
- Meter (HVAC.Meter and Utilities.Sensors)

[2015-11-09 08:41] mlauster commented on #78
Tasks 1,3 and 5 will be obsolete when we merge the Annex60 ROM's into AixLib. This will be done a soon as these models are ready.

[2015-11-09 16:14] PRemmen opened #131 "New workflow, semantic Versioning"
As discussed we suggest to implement a new workflow for AixLib. We should make use of Semnatic Versioning http://semver.org/ . In order to still have a reasonable number of releases we could do the following.

Two permanent branches:

**master-branch** - This branch should always be a stable version. Bugfixes will be merged into the master, with changing version number (eg. from 0.1.12 -> 0.1.13)

[2015-11-19 13:04] PRemmen commented on #125
solved by #130

[2015-11-19 13:04] #125 closed

[2015-11-19 13:13] marcusfuchs opened #132 "Merge current A60 into AixLib"
This merge should complete v0.2.0 before the new workflow and versioning as described in #131.

Afterwards, A60 should be merged into the development branch in regular intervalls.

[2015-11-19 13:47] marcusfuchs opened #133 "Building High Order Model ASHRAE Validation examples fail"
All validation examples of the ASHRAE HOM cases seem to fail

[2015-11-19 13:53] marcusfuchs opened #134 "Remove AixLib.Fluid.FixedResistances.Pipe"
This pipe model is not working correctly. We should check on wether to replace or remove it.

[2015-11-19 14:00] #132 closed

[2015-11-19 14:14] marcusfuchs commented on #94
See #134

[2015-11-19 14:14] #94 closed

[2015-11-19 14:15] marcusfuchs commented on #76
see #134

[2015-11-19 14:16] marcusfuchs commented on #70
@RoozbehSangi: Is this still active?

[2015-11-19 14:16] marcusfuchs commented on #36
See #134

[2015-11-19 14:16] #36 closed

[2015-11-19 14:17] marcusfuchs commented on #33
This is on the master through #111

[2015-11-19 14:17] #33 closed

[2015-11-19 14:26] marcusfuchs commented on #131
Tagged v0.2.0 as starting point for the new workflow. Also, I created milestones v0.3.0 and Deep Future.

[2015-11-19 14:28] marcusfuchs commented on #131
Pushed branch development for v0.3.0

[2015-11-19 14:30] marcusfuchs commented on #131
Wiki is updated.

[2015-11-19 14:30] #131 closed

[2015-11-19 15:19] RoozbehSangi commented on #70
No!

Von: marcusfuchs [mailto:notifications@github.com]
Gesendet: Donnerstag, 19. November 2015 15:16
An: RWTH-EBC/AixLib
Cc: Sangi, Roozbeh
Betreff: Re: [AixLib] HVACComponentsDevelopment (#70)

@RoozbehSangi<https://github.com/RoozbehSangi>: Is this still active?

—
Reply to this email directly or view it on GitHub<https://github.com/RWTH-EBC/AixLib/issues/70#issuecomment-158069787>.

[2015-11-19 15:20] #70 closed

[2015-12-15 14:45] mlauster opened #136 "Missing parameter link for ThermalZoneEquipped"
In ThermalZoneEquipped, the parameter winterReduction is not properly linked to zone record

[2015-12-15 16:19] marcusfuchs opened #138 "Adjust version number in development branch"
As mentioned in #137, the current top-level `package.mo` lists the version as `0.1.0`. This should be changed in the development branch. As the development branch works towards version v0.3.0, I suggest to change it to `0.3.0` already. Do you agree @PRemmen, @mlauster, @AnaConstantin?

[2015-12-15 16:25] PRemmen commented on #138
I would propose to not change this in development branch, but once it is changed in #137 merge the current master into the development branch and thus have the same version number in development and master branch (as the development branch bases on the master).

Does this make any sense? :)

[2015-12-15 16:45] marcusfuchs commented on #138
My idea was that when you work with AixLib and switch between master and development back and forth, it may be helpful to also see this in a changing version number. In addition, if your own models have a `uses`-statement, you can only specify whether these models use master or development if they have different version numbers.

[2015-12-16 07:50] mlauster commented on #138
I go with @PRemmen, lets keep version numbers of master and development similar. Only before merging development into master, we should increase the version number. Why? Conversion scripts are linked to the version number and `uses`-statement, they are executed only once when Dymola finds a mismatch between `uses`-version number and actual version number of the related library. Dymola automaticall

[2015-12-16 12:10] #136 closed

[2016-01-04 09:20] mlauster commented on #138
This has been solved, right? We should close this issue.

[2016-01-04 11:35] mlauster commented on #78
Point five "clean up ZoneBaseRecord" has been partly solved with #140, deleting default values is still open. This will be open after merge of Annex models.

[2016-01-04 13:02] #138 closed

[2016-01-13 11:36] mlauster opened #141 "change input of function ZoneFactorsZero"
Currently, this function gets all zone records. This should be changed to specific parameters for readibility.

[2016-01-13 11:41] mlauster opened #142 "make AHU conditional"
in MultizoneEquipped

[2016-01-14 07:46] mlauster opened #143 "rename AHU variables in building record"
rename "cooling" and "heating" to "heatingAHU" and "coolingAHU"

[2016-01-15 10:59] PRemmen commented on #91
closed by #140

[2016-01-15 10:59] #91 closed

[2016-01-15 11:00] CHengFFF opened #144 "Add AixLib in OMEdit"
Dear AixLib team:
i am studying in RWTH and doing my master thesis now.It will really help me if i can use the AixLib.  i am having problems while adding the AixLib as a library in Openmodelica 1.9.3. It shows  Grammar Error and Scripting Error:Failed to load package AixLib () using MODELICAPATH . So how could i solve this problem?
Thanks a lot!

[2016-01-18 12:15] AnaConstantin opened #149 "Add Communication Package for Co-Simulation Interfaces"
Add models for co-simulation interfaces

[2016-01-28 11:40] PMehrfeld commented on #142
@mlauster : I have made the AHU replaceable in MultizoneEquipped. I think this might be a good possibility. What do you think?

[2016-01-28 11:57] PRemmen opened #150 "Problems with arbitrary number of Orientations - Multizone LOM"
I want to use the MultizoneEquipped Building for simulating thermal zones with less or more then 5 orientations. However this does not work. I need some help here. Not sure it is because of my model setting (from automated model generation) or it's because of the AixLib models

I will push three example models with 4,5 and 6 orientations to a new branch.

[2016-01-28 13:18] PRemmen opened #151 "Check if Record and used model are compatible"
We are already raising some warning if the weightfactors are not compatible to the used model. However it might make sense to integrate a mechanism that assert the weightfactors (or other parameters) and if they don't fit we shouldn't simulate the model.

This causes a lot of confusion

[2016-01-28 13:22] PRemmen opened #152 "idealHeaterCooler - Cooler_on"
EnergyMeter for cooling (coolMeter) is always instantiated this causes an error if the Cooler is turned off. (reported by @SebastianStinner )

[2016-01-29 08:52] PRemmen opened #154 "LOM.BuildingPhysics"
in Building.LowOrder.BaseClasses.BuildingPhysics.BuildingPhysics the parameter "orientationswallshorizontal" is hardcoded to {90,90,90,90,0}

"orientationswallshorizontal" should be added to the ZoneBaseRecord.

Is this a bug?

[2016-01-30 10:09] mlauster commented on #152
we have two versions of ideal heater cooler, see #126. we should check the other model as well and take care of the duplication.

[2016-02-01 09:05] mlauster commented on #154
Hm, good question if this is a bug. I think we could consider this as well as a development as we didn't have it in the BaseRecord so with your commit we enable a new feature (what on the other hand should have been enabled long ago). So whatever you think is best.

[2016-02-01 09:07] mlauster commented on #151
So you mean we should turn the warnings into errors? If so, the reason to raise warnings and not errors was to theoretically allow unbalanced weightfactors for some (theoretical) cases. I agree, we can change them into errors.

[2016-02-01 10:55] mlauster commented on #150
There was a problem in the redeclaration of `ThermalZone` in `partialMultizone`. This should be fixed now and all models should run. @PRemmen, can you check and if everything is okay, delete your examples? If we define this as a bug, we need to merge this in the master. Is it a branch of master or development?

[2016-02-01 13:46] mlauster commented on #142
@PMehrfeld, your solution looks very good, thanks! And a speed up of 40% for cases without `AHU` is impressive.
I made a small change regarding the declaration of the replaceable block in `MultizoneEquipped` and renamed `PartialAHU` to `partialAHU`.
If I'm not mistaken, you integrated the parameter that are relevant for the user in `partialAHU`, what is about `dp_sup`, `dp_eta`, `eta_sup` and `eta

[2016-02-01 16:26] PRemmen commented on #154
Development is fine :)

[2016-02-03 11:06] tbeu opened #155 "Encoding problem with °"
The file
[code]
contain the `°` symbol in ANSI encoding and should be converted to either ASCII or UTF8.

[2016-02-09 13:19] mlauster opened #156 "Arbitrary number of zones with arbitrary orientations each"
With #150 we should be able to generate and run an arbitrary number of zones with with a variable number of orientations. But each zone will take the first n (number of orientations of zone) entries from the solRad vector. It is not possible take arbitrary entries of the solRad vector.
Example:
Orientations are {90,180,270,360}
Zone 1 has {90,180,270}, so it is correct to take the first three entr

[2016-02-09 14:39] MichaMans commented on #150
I'm still having trouble to simulate some other multi orientation examples. I'll push an example to the branch and it would be great if someone of you could have a look at it.

Even if this example is not really relevant we should check if the export itself works correct

[2016-02-12 15:08] marcusfuchs opened #158 "Images for Wiki"
![libraries05](https://cloud.githubusercontent.com/assets/5516900/13010562/b3fb9820-d1a2-11e5-8814-fee7ce592e7f.png)

[2016-02-16 10:35] PRemmen commented on #155
closed by #159

[2016-02-16 11:55] tbeu commented on #155
I observe that the newly changed files
[code]
are now UTF8 encoded **with** BOM whereas
[code]
are UTF8 encoded without BOM. All other Mo files are plain ASCII.

[2016-02-16 13:21] PRemmen commented on #155
thanks @tbeu for the comment. What would be your recommendation for a uniform encoding for the whole library.

[2016-02-17 11:52] mlauster commented on #156
By the way, we get a vector with horizontal orientations anyway with #154 as we need this for `EqAirTempMod`.

[2016-02-17 12:00] PMehrfeld commented on #142
@mlauster: I made the requested enhancements (Info and parameters are now in building record). Additionally, I improved the selection of AHU in MultizoneEquipped.mo.
Please check and merge via pull request #148. Contact me if you have further questions.

[2016-02-17 12:04] mlauster commented on #151
Ok, new idea: Implement an new parameter in ZoneBaseRecord, called `calculationCore` and check in thermalZonePhysics model if this EBC or VDI (or better numericals, that makes it easier to implement in parameter window (as radio buttons) as well for users without TEASER).

[2016-02-17 18:43] PRemmen commented on #150
partly solved by #161 issue stays open

[2016-02-22 16:34] #142 closed

[2016-02-22 18:40] PRemmen opened #164 "Bug in MultizoneEquipped"
It seems, we introduced a bug in Buildings.LowOrder.Multizone.MultizoneEquipped or  Buildings.LowOrder.Examples.MultizoneExample that is also in the master branch. It occurs at time = 1.53339E+006 (probably the reason why I didn't recognized it before). Sorry for that.

[code]

[2016-02-23 09:04] mlauster opened #165 "rename partial... to Partial..."
Occurs in LOM and AHU.

[2016-02-23 13:48] mlauster commented on #164
The bug seems to occur only in Dymola 2016, not in Dymola 2016 FD01. @PRemmen, can you confirm that?
If so, we can close this issue, we focus on the newest Dymola version available.

[2016-02-24 07:37] mlauster opened #167 "Integrate AixLib/Images into AixLib/Resources/Images"
Currently, we have two folders for the same purpose. I assume that comes from merging Annex60 Lib into AixLib. However, let's merge AixLib/images into AixLib/Resources/Images to comply with Annex60.

[2016-02-24 08:31] PRemmen commented on #164
Yes :) with Dymola 2016 FD01 the Example smiulates for the whole year.

[2016-02-24 08:31] #164 closed

[2016-02-24 08:36] PRemmen commented on #154
closed by #163

[2016-02-24 08:36] #154 closed

[2016-02-24 08:39] PRemmen opened #168 "Revise LOM MultiZone Example results"
In zone[5] we are getting quite irregular results for the air temperature. As a result is not meant to deliver reliable results, I propose that this is for development.

[2016-02-24 08:44] PRemmen commented on #151
:+1:

[2016-02-24 08:46] PRemmen commented on #156
I'm not quite sure about naming here (orientationswallhorizontal is very missleading) But #154 was for the Tilt angle this issue is for the azimuth angle.

[2016-02-26 15:48] mlauster commented on #168
Okay, I fixed the problem. It was quite challenging as the ventilation volume flow rate share per zone was miscalculated. It was

1. weighted by the air volume of the zone and not by the required volume flow
1. converted from m3/s to 1/h using the air volume of the entire building and not only by the supplied zones area.

We need to decide if it is a bug or if we just fix it in development.
In add

[2016-02-26 15:50] mlauster opened #169 "AHU volume flow depends on AHU mode"
It should only depend on profile or occupancy. That means, the AHU should still deliver (unconditioned) air if air is already in comfort range.
Is already fixed by 85c5745f62f179cf3b671222590b71631be0c12b

[2016-02-26 15:50] #169 closed

[2016-03-15 10:20] mlauster opened #171 "Remove ICT from example"
Cooling  a fairly small ICT zone with the help of the central AHU leads to reasonable but unusual results.

[2016-03-15 10:23] mlauster commented on #150
@PRemmen models work now, still need to have a look for @MichaMans model. Will do this after #168 branch has been merged to development.

[2016-03-16 10:00] AnaConstantin opened #172 "Remove non ASCII Characters from code"
Hi, as I've seen there was already #155 which dealed with a couple of files. However my search revealed additional files.
I suggest only ASCII characters and deg instead of °.
No special german letters: ü -> ue and ß->ss.
Otherwise I personally had problems in working with python with results generated using some models from AixLib.

[2016-03-16 10:52] pema1 commented on #172
Hi Ana,

As far as I know Dymola still seems to have problems with UTF8. A good workaround could be to use html substitutions:
&deg;C instead of °C

Do you use Python 2.x? I also suggest switching to >=3.4

Regards,

Peter

[2016-03-21 16:44] PMehrfeld opened #173 "Revisions in AHU model"
As AHU does not work as desired when e.g. dehumidification is turned off, I perform some corrections in the model.

[2016-04-04 14:46] marcusfuchs commented on #58
@AnaConstantin: Is this still open?

[2016-04-04 14:49] marcusfuchs commented on #76
This is obsolete

[2016-04-04 14:49] #76 closed

[2016-04-04 14:51] marcusfuchs opened #174 "High Order Examples: Modifier for protected T_ground"
The models

- AixLib.Building.HighOrder.Examples.OFD_1Jan
- AixLib.Building.HighOrder.Examples.RoomGFOw2_DayNightMode

modify the protected variable `T_ground`, which is not legal Modelica.

[2016-04-04 14:52] marcusfuchs opened #175 "High Order Examples Validation: Example models fail to simulate"
All validation examples return the following error:
`Error: Singular inconsistent scalar system for Room.outerWall_South.absSolarRadWin.port.T = (Room.outerWall_South.solarDistrFraction.y*(1-Room.outerWall_South.absSolarRadWin.alpha*Room.outerWall_South.absSolarRadWin.T_ref))/( -Room.outerWall_South.solarDistrFraction.y*Room.outerWall_South.absSolarRadWin.alpha) = 0.0722619/-0
Integration terminat

[2016-04-04 14:54] marcusfuchs commented on #175
In addition, the weather model is missing an `each` operator, which throws a warning.

[2016-04-04 14:55] marcusfuchs commented on #134
High order example `AixLib.Building.HighOrder.Examples.Appartment_VoWo` still has a division by zero in a pipe.

[2016-04-04 15:02] marcusfuchs commented on #133
Sorry, duplicated this in #175, but as there is more information there I will close this one.

[2016-04-04 15:02] #133 closed

[2016-04-04 15:05] marcusfuchs commented on #144
Sorry @CHengFFF, we seem to have overlooked this issue. Is this still a problem? For me, AixLib at least opens fine in OM.

[2016-04-04 15:05] marcusfuchs commented on #144
I'll close this, but feel free to reopen if there is a problem, we'll respond sooner this time.

[2016-04-04 15:05] #144 closed

[2016-04-04 15:07] mlauster commented on #143
closed via #148

[2016-04-04 15:07] #143 closed

[2016-04-04 15:08] marcusfuchs commented on #149
@AnaConstantin: Is this still open?

[2016-04-04 15:10] mlauster commented on #141
closed via #170

[2016-04-04 15:10] #141 closed

[2016-04-04 15:11] PRemmen commented on #152
solved by #153 still two heater cooler in AixLib #126

[2016-04-04 15:11] #152 closed

[2016-04-04 15:12] marcusfuchs commented on #155
Will be solved in #172

[2016-04-04 15:12] #155 closed

[2016-04-04 15:16] marcusfuchs commented on #172
Let's go through all files and change to only one encoding standard.

[2016-04-04 15:19] marcusfuchs commented on #156
Will be solved in #150

[2016-04-04 15:19] #156 closed

[2016-04-04 15:20] mlauster commented on #168
closed via #170

[2016-04-04 15:20] #168 closed

[2016-04-04 15:21] mlauster commented on #173
@PMehrfeld, what is the current status on this?

[2016-04-04 15:27] marcusfuchs opened #176 "Pre-Hackday: Delete old AixLib unit test, merge current A60 into AixLib"
This is to provide a clean sheet for restarting AixLib unit testing on the Hackday.

[2016-04-04 15:44] marcusfuchs opened #177 "Move AHU from HVAC to different package"
Documentation should stress, that this model is currently not actually using Modelica Fluid.

[2016-04-04 15:48] marcusfuchs opened #178 "Move meter models from HVAC to Utilities"

[2016-04-04 15:49] marcusfuchs opened #179 "Move rad port from HVAC to Utilities.HeatTransfer"

[2016-04-04 15:50] marcusfuchs commented on #179
These are duplicates of star connector in Utilities.Interfaces, thus they should be deleted instead.

[2016-04-04 15:50] #179 closed

[2016-04-04 15:51] marcusfuchs opened #180 "Remove HVAC package"
Before, solve #177.

[2016-04-04 15:51] marcusfuchs commented on #178
Also duplicates, moving not necessary.

[2016-04-04 15:51] #178 closed

[2016-04-04 15:53] marcusfuchs opened #181 "Evaluate weather model"
With the planned changes in the LOM in A60, it may be better to convert to the A60 weather reader and weather bus.

[2016-04-04 15:59] PRemmen opened #182 "Evaluate SimpleValve and ThermostaticValve"
Evaluate how to proceed with SimpleValve and ThermostaticValve

Advantages/Disadvantages to have them in parallel to Annex60 models?

[2016-04-04 16:00] PRemmen opened #183 "Evaluate Radiator"
Evaluate how to proceed with Radiator

Advantages/Disadvantages to have it in parallel to Annex60 model (RadiatorEN442_2)?

[2016-04-04 16:02] PRemmen opened #184 "Evaluate Pump"
Evaluate how to proceed with Pump

Advantages/Disadvantages to have it in parallel to Annex60 model (FlowControlled_dp/_m_flow)?

[2016-04-04 16:16] PMehrfeld commented on #173
The HRS issue is solved. I have just tested MultizoneExample with diverse AHU settings (including that every mode is disabled). This has worked fine so far.
I will do some work in the future to tidy up the code of AHU.mo. But for now, this is fine.
@mlauster: You can merge via #185

[2016-04-05 07:03] mlauster opened #186 "move EBC boiler into AixLib"
This model is already MSL conform and needs only minor revisions in documentation and naming. We need it for FastHVAC

[2016-04-05 07:05] mlauster opened #187 "move EBC heat pump into AixLib"
We already have a branch for this (Annex60_HP_review) and the model should be already in a good state. We need it for FastHVAC

[2016-04-05 07:06] mlauster opened #188 "move EBC CHP into AixLib"
This model is already MSL conform and needs only minor revisions in documentation and naming. We need it for FastHVAC

[2016-04-05 07:10] mlauster opened #189 "move EBC buffer storage into AixLib"
This model needs some review regarding:
- [ ] structure
- [ ] MSL conformity
- [ ] documentation
- [ ] naming

We currently have a lot of dependencies to other models in EBC libs. We should check which models need to be moved as well, what their status is and if they can be replaced by AixLib or Annex60 models. If models need to be moved, we need to discuss where to put them in AixLib (in one `Bas

[2016-04-05 07:14] mlauster commented on #173
closed via #185

[2016-04-05 07:14] #173 closed

[2016-04-05 07:17] AnaConstantin commented on #149
Yes. We are taking our time with it. i think in one month it will be ready.
If haste is required, please let us know.

[2016-04-05 07:21] marcusfuchs commented on #149
Sorry, no, haste is not required at all. In preparation of the hack day we were just going through all the issues to verify they are still open.

[2016-04-05 08:07] AnaConstantin commented on #100
Solved.

[2016-04-05 08:07] #100 closed

[2016-04-05 08:09] AnaConstantin commented on #58
Would be nice to have but not relevant at the moment. Let's see how the HVAC package looks after we finish our work with it and then decide if we should build new example. What do you think @PooyanJahangiri?

[2016-04-06 08:49] AnaConstantin commented on #174
Great, I also just now learned how to add this dreaded each. Thanks.
I can merge development into this branch, test it and then send another pull request. I have to get the hang of the work flow, and best way to do it is by practice.
I'll do the same with the branch for issue #175

[2016-04-06 09:55] #174 closed

[2016-04-06 10:01] marcusfuchs commented on #175
Solved in #193 and merged to `development`

[2016-04-06 10:01] #175 closed

[2016-04-13 09:20] AnaConstantin opened #195 "Remove redundant package from AixLib.Building.HighOrder"
Package AixLib.Building.HighOrder.House.MFD.Building-Package as it is redundant with AixLib.Building.HighOrder.House.MFD.BuildingEnvelope.
Can be deleted directly, as other models / examples use the other package.

[2016-04-13 09:22] mlauster opened #196 "Change constant block to ComiTimeTable in noAHU"
In the current `noAHU` model, `QflowC`, `QflowH` and `Pel` are connected to a constant block with `k=0`. This leads to output variables of the building model with the lenght 2 (one value at t=0 and one at t=end). Our current analysis tools cannot handle different lengths of outputs of the same model (e.g. when combining `HeatingPowerAHU` and `HeatingPowerHeater`). Solution: Replace constant block

[2016-04-13 09:23] mlauster commented on #196
I will test the new implementation and then make a PR.

[2016-04-13 12:47] marcusfuchs opened #197 "Evaluate HydraulicSeparator"
Go through the model `AixLib.Fluid.MixingVolumes.HydraulicSeparator` to make sure it functions correctly and has examples as well as unit tests.

[2016-04-13 12:49] marcusfuchs opened #198 "Replace OutdoorTemp and TempAndRad"
The components `AixLib.Fluid.Sources.OutdoorTemp` and `AixLib.Fluid.Sources.TempAndRad` can be removed. Their usage can be easily substituted with the A60 weather model.

[2016-04-13 12:51] marcusfuchs commented on #189
It would be great if within this issue or as a separate issue we could also evaluate the model `AixLib.Fluid.Storage.Storage` that is already in AixLib. Do we still need that (maybe for `FastHVAC`?) and if so, do we have sufficient examples and unit tests?

[2016-04-13 13:40] marcusfuchs opened #199 "Add citable sources for AixLib to Readme"
Readme should contain a "how to cite AixLib" section

[2016-04-14 07:47] #196 closed

[2016-04-14 09:45] marcusfuchs opened #201 "Utilitites.HeatTransfer: _old models still necessary?"
The package `Utlities.HeatTransfer` should be checked for old models: Can we add information to the docs under which circumstances the _old model can be removed?

[2016-04-14 09:56] marcusfuchs opened #202 "Consider moving AixLib.Utilities.Control to AixLib.Controls"
It may be reasonable to move `AixLib.Utilities.Control` to `AixLib.Controls`

[2016-04-14 09:59] marcusfuchs opened #203 "Documentation of AixLib.Utilities.HeatTransfer.HeatConv_outside uses "alfa" for "alpha""
We may want to change `alfa` to `alpha` in `AixLib.Utilities.HeatTransfer.HeatConv_outside`'s docs to be in sync with the code

[2016-04-14 10:11] marcusfuchs opened #204 "Remove uses of HVAC.Meter"
The models
`AixLib.HVAC.Meter.EEnergyMeter`
and
`AixLib.HVAC.Meter.TEnergyMeter`
are duplicates of
`AixLib.Utilities.Sensors.EEnergyMeter`
and
`AixLib.Utilities.Sensors.TEnergyMeter`

The following models should change their components to be used from `Sensors` rather than `HVAC`:
`AixLib.Building.HighOrder.Examples.Validation.ASHRAE140.Case600`
`AixLib.Building.HighOrder.Examples.Validation.ASHRA

[2016-04-14 13:34] marcusfuchs opened #205 "Duplicate example models for Radiator model"
The models
`AixLib.Fluid.HeatExchangers.Examples.PumpRadiatorThermostaticValve`
and
`AixLib.Fluid.HeatExchangers.Examples.PumpRadiatorValve`
are duplicates of
`AixLib.Fluid.HeatExchangers.Radiators.Examples.PumpRadiatorThermostaticValve`
and
`AixLib.Fluid.HeatExchangers.Radiators.Examples.PumpRadiatorValve`

We should decide which ones to keep.

[2016-04-14 14:00] marcusfuchs opened #206 "Compare HydraulicResistance and FixedResistanceDpM"
It may be enough to keep one of these two models.

[2016-04-14 15:19] marcusfuchs opened #207 "Documentation of InternalGains.Machines.Machines_DIN18599 is wrong"
The docs here are copies of the Humans Source.

[2016-04-15 06:55] AnaConstantin opened #208 "Move EBC ThermostaticHead to AixLib"
Build it int0 a thermostatic valve by including the Annex 60 model.

[2016-04-15 08:10] marcusfuchs commented on #176
Now on development.

[2016-04-15 08:10] #176 closed

[2016-04-15 08:39] mlauster commented on #126
This will be done after other issues as it affects the AixLib's structure

[2016-04-15 08:51] SebastianStinner commented on #183
The Radiator model is the core of the radiator model in FastHVAC => discussion necessary

[2016-04-15 08:52] marcusfuchs opened #210 "Fix unit tests for LOM"
There are existing unit tests for `AixLib.Building.LowOrder.Examples.Validation.VDI6007`.

We should check whether these can still be used, need to be refined or should be deleted.

[2016-04-15 08:55] SebastianStinner commented on #189
We do not need the AixLib.Fluid.Storage.Storage for FastHVAC as we are using the core of EBC buffer storage.

[2016-04-15 08:57] PRemmen commented on #204
Couldn't find any usage of ```EEnergyMeter``` or ```TEnergyMeter``` in ```AixLib.Fluid.HeatExchangers.Utilities.FuelCounter```

[2016-04-15 09:04] PRemmen commented on #202
Agree!

[2016-04-15 09:06] PRemmen commented on #202
I will move PITemp to Continuous controllers and create new package for ventialtionController, any objections?

[2016-04-15 09:10] SebastianStinner commented on #188
EBC CHP has a lot of control elements included in the model. It might be better to split up the modeling and control parts in two different models. In FastHVAC, we already have a model without control and separated controllers.

[2016-04-15 09:10] SebastianStinner commented on #186
EBC boiler has a lot of control elements included in the model. It might be better to split up the modeling and control parts in two different models. In FastHVAC, we already have a model without control and separated controllers.

[2016-04-15 09:12] mlauster commented on #202
I'm fine.

[2016-04-15 09:13] mlauster commented on #188
Sounds like a good approach, I vote for it.

[2016-04-15 09:14] mlauster commented on #186
I vote for separating controls and model

[2016-04-15 09:21] AnaConstantin commented on #186
I also have a model which separetes physical model, internal control (reaching a set temperature) and external control (e.g. heating curve). However the question remains: just move the model as it is, or improve the model in the same step.

[2016-04-15 09:24] marcusfuchs commented on #204
That was probably my mistake, can't find any usages of the duplicate HVAC meters in AixLib in your branch, so that should be fine

[2016-04-15 09:26] marcusfuchs commented on #204
This is now on `development`

[2016-04-15 09:26] #204 closed

[2016-04-15 09:28] marcusfuchs commented on #128
Now on `development`

[2016-04-15 09:28] #128 closed

[2016-04-15 09:29] marcusfuchs commented on #202
No objections.

[2016-04-15 09:31] marcusfuchs commented on #186
I'd be ok with collecting such models at least in an AixLib branch. Then from case to case I suggest to compare the models and decide on the next steps.

[2016-04-15 09:33] #195 closed

[2016-04-15 09:39] SebastianStinner commented on #186
@AnaConstantin Can you transfer your model to the AixLib?

[2016-04-15 09:41] marcusfuchs commented on #210
The problem seems to be that the unit tests still point to the package
`AixLib.Building.LowOrder.Examples.Validation.Linear` while the example models are in `AixLib.Building.LowOrder.Examples.Validation.VDI6007.Linear`. This should be fairly easy to fix. I will remove the old reference results and fix this.

[2016-04-15 09:45] marcusfuchs opened #214 "Last merge of A60 did not merge current reference results"
The last A60 merge only merged the models, yet the reference results are still old ones. This needs to be fixed.

[2016-04-15 09:56] AnaConstantin opened #215 "Wall Modell: Algorithm for HeatConv_inside should be selectable via parameters upper modell level"
Now the default algorithm is always used

[2016-04-15 10:05] marcusfuchs opened #217 "Annotation experimentSetupOutput(events = false) in LOM Validation Star"
E.g. `AixLib.Building.LowOrder.Examples.Validation.VDI6007.Star.TestCase1` uses the annotation `experimentSetupOutput(events = false) `, which is not accepted by pedantic checking (which the unit tests do, I think).

@mlauster @PRemmen : Can we remove this annotation?

[2016-04-15 10:11] PRemmen opened #218 "References Fluid.Storage.Examples"
All example do not work, as the models have still a reference to HVAC.

[2016-04-15 10:19] AnaConstantin commented on #201
Model should be removed.
Will also delete AixLib.Building.Components.Walls.BaseClasses.ConvNLayerClearanceStar_old.

[2016-04-15 10:21] PRemmen commented on #198
I observed only two usages of `AixLib.Fluid.Sources.TempAndRad`

Fluid.Storage:Examples.StorageSolarCollector.mo
Fluid.HeatExchangers.Examples.SolarThermalCollector.mo

as these are very simple examples with weather data for just one day I propose to replace the models with simple combi time tables instead of using annex models

[2016-04-15 10:27] #202 closed

[2016-04-15 10:28] marcusfuchs commented on #198
I agree

[2016-04-15 10:37] SebastianStinner commented on #218
Do we still need this example if the model is deleted anyway?

[2016-04-15 10:41] PMehrfeld commented on #177
Moved to package `Airflow` and documentation is enhanced to make clear no Modelica Fluid is used.

[2016-04-15 10:41] #177 closed

[2016-04-15 10:43] PMehrfeld commented on #180
@marcusfuchs: please mention here when PR #220 is merged.

[2016-04-15 10:44] PRemmen commented on #198
The model `AixLib.Fluid.Sources.TempAndRad` introduced an offset of 0.01 on the Radiation and Temperature given from weather data, due to that, the new results will differ insignificant, because the offset is not set to temperature.

[2016-04-15 10:46] marcusfuchs commented on #201
This is merged with #219

[2016-04-15 10:46] #201 closed

[2016-04-15 10:53] mlauster opened #224 "rename AixLib.Utilities.Sources.HeaterCooler.partialHeaterCoolerPI.HeatingPower"
and AixLib.Utilities.Sources.HeaterCooler.partialHeaterCoolerPI.CoolingPower
to
AixLib.Utilities.Sources.HeaterCooler.partialHeaterCoolerPI.heatingPower
and AixLib.Utilities.Sources.HeaterCooler.partialHeaterCoolerPI.coolingPower

[2016-04-15 11:02] marcusfuchs commented on #180
See my comments in #220

[2016-04-15 11:02] mlauster commented on #217
Is done in #129, PR #222

[2016-04-15 11:07] PRemmen commented on #183
Okay, in that case I will open a new issue

[2016-04-15 11:08] PRemmen opened #225 "Move EBC Radiator_ML into AixLib"
This model is already MSL conform and needs only minor revisions in documentation and naming. We need it for FastHVAC

[2016-04-15 11:10] #198 closed

[2016-04-15 11:12] marcusfuchs commented on #217
Then we can close this.

[2016-04-15 11:12] #217 closed

[2016-04-15 11:15] PRemmen commented on #205
As they use several components from fluid:

- Valve/ThermostaticValve
- Pump
- Boiler
- Pipe

I vote to move them to Fluid.Examples

[2016-04-15 11:18] AnaConstantin commented on #186
I'll transfer it in five minutes, as an idea how it is structured, to see if you like it. All the records have to come as well from the DataBase, some small controllers (onOff, a simple PITemp), as well as examples. This will take some time.

[2016-04-15 11:18] #129 closed

[2016-04-15 12:17] PMehrfeld opened #227 "AixLib.Utilities.HeatTransfer.HeatConv_inside_old..."
... is obsolete as the already corrected and enhanced model for inside heat convection seems to work fine for a long time.

[2016-04-15 12:21] PMehrfeld commented on #227
someone tidied up inbetween.

[2016-04-15 12:21] #227 closed

[2016-04-15 12:43] #203 closed

[2016-04-15 12:57] #165 closed

[2016-04-15 13:16] marcusfuchs commented on #214
This will be fixed in #210

[2016-04-15 13:16] #214 closed

[2016-04-15 13:24] mlauster commented on #126
This issue is split in various others and partly solved. I will delete HVAC.HeatGeneration.HeatCooler and close this issue.

[2016-04-15 13:30] MichaMans commented on #172
I searched for Non ASCII Characters in the files. Found the following files with Non ASCIIs:
- 'D:\\GIT\\AixLib\\AixLib\\Building\\Components\\Weather\\BaseClasses\\Sun.mo', 1
- 'D:\\GIT\\AixLib\\AixLib\\Building\\Components\\Weather\\RadiationOnTiltedSurface\\RadOnTiltedSurf_Liu.mo', 39
- 'D:\\GIT\\AixLib\\AixLib\\Building\\Components\\Weather\\RadiationOnTiltedSurface\\RadOnTiltedSurf_Perez.mo',

[2016-04-15 13:49] PRemmen commented on #225
When I check the moved radiator i get following error, does anyone has an idea?

`Check of AixLib.Fluid.HeatExchangers.Radiators.Radiator_ML_EBC:

Component type specifier BaseProperties is a partial type.
File: D:/GIT/AixLib/AixLib/Fluid/Interfaces/ConservationEquation.mo, line 82
Component context: multiLayer_HE.Volume.dynBal.medium
Component declared as Medium.BaseProperties medium in Modelica.

[2016-04-15 14:56] #171 closed

[2016-04-15 15:00] #167 closed

[2016-04-15 15:01] pema1 opened #232 "HydraulicResistance uses problematic formulation in flow equation."
# Flow Equation Should be Changed
## Problem
While pondering on issue #206 I found that the model HydraulicResistance computes the a wrong flow direction in my test case. The reason lies in the flow equation:
`dp = 8 * zeta / (Modelica.Constants.pi ^ 2 * D ^ 4 * rho) * m_flow^2`

As positive and negative mass flow would lead to the same pressure difference in this equation. It probably depends on

[2016-04-15 15:13] marcusfuchs commented on #180
#220 is merged.

[2016-04-15 15:13] #126 closed

[2016-04-15 15:15] pema1 commented on #206
# Can we replace it?
Yes, we can. Both models use the flow equation in the form
`m_flow = c * sqrt(dp)`

In case of FixedResistanceDpM:
`c = k = m_flow_nom / sqrt(dp_nom)`

In case of HydraulicResitance:
`c = sqrt( (d * pi^2 * D^4) / (8 * zeta) )`
with `d` as density, `D` as pipe diameter, `zeta` as dimensionless resistance coefficient.

Therefore, both models are interchangeable if we regard dens

[2016-04-15 15:18] #224 closed

[2016-04-15 15:25] marcusfuchs commented on #206
@pema1 : You give a good case for keeping both models. I would agree - would be interesting to get other opinions on this.

[2016-04-15 15:28] marcusfuchs commented on #232
The model `AixLib.Fluid.Interfaces.PartialTwoPortTransport` is from the Annex 60 project. I agree, that `dp = port_b.p - port_a.p` would be more intuitive than `dp = port_a.p - port_b.p`. We can address this in the next Annex 60 conference call and see what the general feelings about this are.

[2016-04-15 16:22] pema1 commented on #232
The optimization aproach did not leed to an improvement of simulation speed in my simple test case. I will add a graphic that showes the result.

Interestingly, the HydraulicResistance test model is much slower (+60%) than the FixedResistancesDpM test model. The selection of the equation from (from_dp=true or false) is not the reason for the speed differenence. I assume the better initialization i

[2016-04-26 12:46] mlauster opened #235 "Fluid.Movers.Examples.BaseClasses.ControlledFlowMachine crashes"
While checking in the `master`, it gives the following errors:

![unbenanntes bild](https://cloud.githubusercontent.com/assets/6892690/14818417/4af3a732-0bbd-11e6-8fb5-5e4c207d73b3.png)

[2016-04-26 12:48] mlauster opened #236 "AixLib.Fluid.Sensors.RelativeHumidityTwoPort crashes"
in the ´master´

![unbenanntes bild](https://cloud.githubusercontent.com/assets/6892690/14818509/e5b76d44-0bbd-11e6-8456-a3e681856acf.png)

[2016-04-26 12:58] mlauster commented on #236
originates from Annex60, so I will close it here.

[2016-04-26 12:58] #236 closed

[2016-04-26 13:06] mlauster commented on #235
This happens also for the ´development´

[2016-04-26 13:11] mlauster opened #237 "Fluid.Movers.Data.Pumps.CronolineIL80slash220dash4slash4 crashes"
in `development`

![unbenanntes bild](https://cloud.githubusercontent.com/assets/6892690/14819170/18f705fe-0bc1-11e6-9889-e06076b3355a.png)

[2016-04-26 13:14] mlauster commented on #237
Should be solved by merging newest version of Annex 60 library.

[2016-04-26 13:16] mlauster commented on #235
Should be solved by merging the newest Annex 60 library

[2016-04-26 13:20] mlauster opened #238 "Fluid.Storage.Examples.StorageBoiler crashes"
In `master` and `development`.
Should be fixed by merging newest Annex60 library

[2016-04-26 13:42] mlauster commented on #238
@marcusfuchs, could you merge the newest `master` of Annex60 library into AixLib `development`?
Afterwards, I vote for releasing v0.3.0 to fix Annex 60 related bugs and keep `master` up-to-date regarding `Buildings` package.

[2016-04-28 16:36] PRemmen opened #240 "LOM simulation fails if zone has no windows"
probably because `assert(noEvent(sum(weightfactors)>0.0001)` in model `SolarRadWeightedSum`

[2016-04-28 19:23] mlauster commented on #240
Oh right, this could happen. I will have a look at it.

[2016-04-28 19:40] mlauster commented on #90
Works for me now, I will close, we can reopen if problems occur again

[2016-04-28 19:40] #90 closed

[2016-04-29 14:15] MichaMans opened #242 "AHU fails if V_dot_sup is zero"
The AHU fails if the suplly volume flow is zero. We should take care of this.
One solution is to set the supply volume flow to a very small parameter (Modelica.Constants.eps) if the supply volume flow is zero.
A better option is to check if the model has an equation which can be converted in an equation where V_dot_sup doesn't is the denominator.

[2016-04-29 15:20] MichaMans commented on #242
I would suggest to convert the equation:
`dTFan = P_el_sup/(V_dot_sup*rho * (c_pL_iG + X_oda * c_pW_iG));`
into
`P_el_sup = dTFan * V_dot_sup*rho * (c_pL_iG + X_oda * c_pW_iG);`
so we can handle the case that V_dot_sup is zero.

[2016-04-29 18:58] mlauster commented on #242
Have you tested if that solves the problem / if this is the critical equation? Anyway, I don't see a drawback in this formulation, sounds promising!

[2016-05-02 12:48] MichaMans commented on #242
I did a short test and it worked. I'm going to implement it and create a PR if it really works.

[2016-05-04 14:15] PMehrfeld commented on #242
closed by #243

[2016-05-04 14:15] #242 closed

[2016-05-19 10:23] mlauster opened #248 "New Icon"
As our Logo from EBC changed, we need to integrate a new AixLib Icon

[2016-05-20 06:07] #248 closed

[2016-05-23 13:16] R33B opened #250 "open AixLib with OpenModelica, "Grammatik Fehler" and "Skripting Fehler""
On trying to open the AixLib with OpenModelica, i get the following errors (WIN10, OpenModelica 1.9.6), the import with Dymola works, but can't be used due to test-version:

[1] Grammatik Warnung
The package.order file does not list all .mo files and directories (containing package.mo) present in its directory.
Missing names are:
        partialReducedOrderModel

[2] Grammatik Fehler
Expected the

[2016-05-23 14:34] marcusfuchs commented on #250
Thanks for pointing our attention to these issues, we will fix [1] and [2], while [3] does not seem to be caused by bugs in the library.

[2016-05-23 18:51] R33B commented on #250
You are welcome.
Please, let me know when [1] and [2] are fixed, so that i can check whether [3] is an aftereffect.

[2016-05-24 10:57] marcusfuchs commented on #250
@R33B
These problems should be fixed now. Can you confirm this?

[2016-05-24 11:23] R33B commented on #250
I can confirm this, but there are still problems as seen below:

[1] 13:18:57 Skripting Fehler
Failed to load package AixLib (default) using MODELICAPATH C:/OpenModelica1.9.6/lib/omlibrary.

[2] 13:19:28 Grammatik Fehler
[C:/Users/Robin Beer/Downloads/AixLib-issue250_OMBugs/AixLib/UsersGuide/package.mo: 2:1-12:15]: UsersGuide was referenced in the package.order file, but was not found in package.m

[2016-05-24 12:47] marcusfuchs commented on #250
@R33B
Interesting that I did not get this error on the 1.10.0 nightly build, but I hope that also your new problem has been fixed now.

[2016-05-24 14:40] R33B commented on #250
Apparently the nightly builds really fix some bugs. Nice to know.

With OM1.9.6 I can open the library and most of the classes and examples, except of some complex ones, where omedit collapses.

Therewith this issue can be closed, thank you for the support.

[2016-05-24 15:48] marcusfuchs commented on #250
Yes, unfortunately we can not yet support full coverage of the library by OpenModelica, but we want to at least always be able to open the library in OM without errors, so thanks again for pointing our attention to the bugs that now are hopefully all fixed.

[2016-05-24 15:48] #250 closed

[2016-06-13 10:10] R33B opened #256 "OpenModelica: ERROR on opening TEASER constructed Modelica Model "melaten_campus.py":"
[1] - [334] uncritical errors

[335] 12:05:49 Grammatik Fehler
.../Project/M5980/package.mo: 1:1-4:10]: Expected the package to have within Project; but got within ;.

[336] 12:05:49 Skripting Fehler
Failed to load package Project () using MODELICAPATH ...\teaser\OutputData\;C:/OpenModelica1.10.0-dev-64bit/lib/omlibrary.

[2016-06-13 13:53] R33B commented on #256
ERROR of same type:

[2016-06-14 15:39] mlauster commented on #256
This is a problem of TEASER and willl be solved in https://github.com/RWTH-EBC/TEASER/issues/254

I will close it here.

[2016-06-14 15:39] #256 closed

[2016-06-15 10:12] R33B opened #257 "OpenModelica: Translation ERROR, couldn't find class"
I added the within lines in the .mo files as described in #RWTH-EBC/TEASER#254

See: [SUH_1.zip](https://github.com/RWTH-EBC/AixLib/files/315856/SUH_1.zip)

Therewith OpenModelica opens without errors the package SUH_1 which is located at:

Trying to simulate the SUH_1 I get the following errors:

[2016-06-15 10:17] R33B commented on #257
PS: I get the same errors on trying to export the model as FMU.

[2016-06-17 12:35] marcusfuchs commented on #158
![01_filesystem](https://cloud.githubusercontent.com/assets/5516900/16150660/b4608894-3498-11e6-9ac7-442ab3c4fb1a.png)

[2016-06-17 12:39] marcusfuchs commented on #158
![02_dot](https://cloud.githubusercontent.com/assets/5516900/16150744/413e13d0-3499-11e6-9eac-e0e38728b66e.png)

[2016-06-17 12:41] marcusfuchs commented on #158
![03_repo_concept](https://cloud.githubusercontent.com/assets/5516900/16150788/a09a27ec-3499-11e6-9549-4a4db6a57518.png)

[2016-06-17 13:04] marcusfuchs commented on #158
![04_server](https://cloud.githubusercontent.com/assets/5516900/16151368/d7aece56-349c-11e6-9290-32d55c7630c2.png)

[2016-06-17 13:18] marcusfuchs commented on #158
![05_serverr_stage](https://cloud.githubusercontent.com/assets/5516900/16151700/bc2d3b20-349e-11e6-8c81-e44f4b1706e8.png)

[2016-06-17 13:53] marcusfuchs commented on #158
![06_path](https://cloud.githubusercontent.com/assets/5516900/16152765/9cde5a92-34a3-11e6-8ff0-53feafd4bf23.gif)

[2016-06-17 14:19] marcusfuchs commented on #158
![07_new_project](https://cloud.githubusercontent.com/assets/5516900/16153588/3e0957ac-34a7-11e6-9227-8a0d15eb32f2.png)

[2016-06-17 14:24] marcusfuchs commented on #158
![08_project](https://cloud.githubusercontent.com/assets/5516900/16153753/e9f940b8-34a7-11e6-8fcc-3f4bf93afb04.gif)

[2016-06-17 14:28] marcusfuchs commented on #158
![09_start](https://cloud.githubusercontent.com/assets/5516900/16153854/78e4399a-34a8-11e6-8363-1caabbb2ec29.png)

[2016-06-17 14:38] marcusfuchs commented on #158
![11_clone](https://cloud.githubusercontent.com/assets/5516900/16154153/e0477fb0-34a9-11e6-8280-e3e211c024fe.gif)

[2016-06-17 14:41] marcusfuchs commented on #158
![10_clone](https://cloud.githubusercontent.com/assets/5516900/16154278/632f4250-34aa-11e6-85ae-62b3765f3121.png)

[2016-06-17 14:45] marcusfuchs commented on #158
![12_files](https://cloud.githubusercontent.com/assets/5516900/16154403/f3d9c438-34aa-11e6-8fea-d85c2d0e5f3a.png)

[2016-06-17 14:50] marcusfuchs commented on #158
![13_newfile](https://cloud.githubusercontent.com/assets/5516900/16154534/a136e660-34ab-11e6-89e5-7aca9feb1a42.gif)

[2016-06-17 15:00] marcusfuchs commented on #158
![15_status](https://cloud.githubusercontent.com/assets/5516900/16154859/fd048118-34ac-11e6-996e-6bbdf32c416f.gif)

[2016-06-17 15:02] marcusfuchs commented on #158
![14_add](https://cloud.githubusercontent.com/assets/5516900/16154906/3c7c4dda-34ad-11e6-817e-5e68d3e09927.png)

[2016-06-17 15:03] marcusfuchs commented on #158
![16_add](https://cloud.githubusercontent.com/assets/5516900/16154950/6fe3978c-34ad-11e6-9608-079e05d05fea.gif)

[2016-06-17 15:07] marcusfuchs commented on #158
![15_commit](https://cloud.githubusercontent.com/assets/5516900/16155069/f5faed5c-34ad-11e6-9351-010141427da9.png)

[2016-06-17 15:30] marcusfuchs commented on #158
![17_commit](https://cloud.githubusercontent.com/assets/5516900/16155747/24e915fa-34b1-11e6-998b-ec5e118499e5.gif)

[2016-06-17 15:42] marcusfuchs commented on #158
![20_server](https://cloud.githubusercontent.com/assets/5516900/16156117/e5cf0120-34b2-11e6-938e-abc43e9014cc.png)

[2016-06-17 15:56] marcusfuchs commented on #158
![21_issue](https://cloud.githubusercontent.com/assets/5516900/16156476/bec66eae-34b4-11e6-99fd-8d3c054ea52b.gif)

[2016-06-17 16:03] marcusfuchs commented on #158
![22branch](https://cloud.githubusercontent.com/assets/5516900/16156701/c0e4da9e-34b5-11e6-9c0b-401932399125.png)

[2016-06-17 16:07] marcusfuchs commented on #158
![23branch](https://cloud.githubusercontent.com/assets/5516900/16156856/60421656-34b6-11e6-87db-afd9c6348e17.gif)

[2016-06-17 16:14] marcusfuchs commented on #158
![24text](https://cloud.githubusercontent.com/assets/5516900/16157052/45e5dbac-34b7-11e6-82bb-0a2dda983de4.gif)

[2016-06-17 16:15] marcusfuchs commented on #158
![25stage](https://cloud.githubusercontent.com/assets/5516900/16157114/7d9bae5a-34b7-11e6-8eb5-d36a386fff12.gif)

[2016-06-17 16:24] marcusfuchs commented on #158
![26commit](https://cloud.githubusercontent.com/assets/5516900/16157412/bc5c6b38-34b8-11e6-9409-b845c5d04ddd.gif)

[2016-06-17 16:27] marcusfuchs commented on #158
![27push](https://cloud.githubusercontent.com/assets/5516900/16157499/1d1e8b68-34b9-11e6-9e39-de0da35bff92.gif)

[2016-06-17 16:28] marcusfuchs commented on #158
![28_issue](https://cloud.githubusercontent.com/assets/5516900/16157543/4256fda2-34b9-11e6-9ef1-5ef1d0bd2a1f.png)

[2016-06-17 16:32] marcusfuchs commented on #158
Just in case anyone is wondering what is going on here: I am transferring our Git tutorial in slightly animated form to the Wiki at [https://github.com/RWTH-EBC/AixLib/wiki/EBC-Git-Tutorial](https://github.com/RWTH-EBC/AixLib/wiki/EBC-Git-Tutorial). Will continue on this next week.

[2016-06-21 08:32] mlauster commented on #240
closed via 241

[2016-06-21 08:32] #240 closed

[2016-06-21 09:18] mlauster commented on #257
These errors are related to your aims to get rid of the other errors. You renamed your package and still have some `Project` pathes in your package. In addition, you ended your `within`-statements with a `.`. However, I could get rid of one error only by creating a new package structure in Dymola and copy your files into it. Unfortunately, without your history, I cannot track down this error. I wi

[2016-06-21 09:18] #257 closed

[2016-06-21 09:54] R33B commented on #257
Thank you very much, the declaration of the within-statements is now comprehensible and `SUH_1_new` opens in OM, giving the following error as you mentioned, because input ist missing:

Though, I would have expected, that the FMU export is possible anyway, as I could give the missing information to the FMU-block e.g. in Simulink. But `SUH_1_new` is not exportable to FMU either.

Is this a general

[2016-06-21 10:00] mlauster commented on #257
I'm not quite sure if this is a problem in any case, I'm not that experienced with FMU export, so I can't judge if it's a problem of your individual model or the AixLib. Could you try to track down the problem and raise an issue if it is AixLib related?

[2016-06-21 10:31] R33B commented on #257
Ok, I will try to figure it out during the next days and raise an issue, if necessary.
So far, I can say that the subclass `Multizone `within the `SUH_1_new` is exportable whereas the entire `SUH_1_new` is not.
Could you let me know, whether the FMU export with Dymola does work?

[2016-06-21 12:48] mlauster commented on #257
It won't work in Dymola, since the model is incomplete. I think what you would like to have is to have all not connected inputs of the `ThermalZone` model as input at the top-level and then export this as FMU. For this, you need to define the inputs (and outputs) on top-level, e.g. as a connector. And then you need to connect them to the corresponding inputs of the `ThermalZone` model. How should

[2016-06-21 15:24] R33B commented on #257
Allright, thank you very much for your feedback and the support.
I will let you know whether your suggestion worked or not.

[2016-06-23 13:10] mlauster commented on #150
@MichaMans, is this still an issue or too old to take care of?

[2016-06-29 11:35] AnaConstantin opened #258 "Icon AixLib is upside down"
icon needs to be restored to its rightfil prosition

[2016-06-29 11:41] AnaConstantin commented on #258
Seems to have been fixed in development already. Will transfer into master ince the merge is done.

[2016-06-29 11:41] #258 closed

[2016-07-12 10:17] mlauster commented on #150
Since we did a lot of changes and will in the next step integrate Annex ROM as new core, I will close this issue.

[2016-07-12 10:17] #150 closed

[2016-07-12 10:19] #158 closed

[2016-07-12 10:27] mlauster opened #260 "Adopt Annex60.ThermalZones.ReducedOrder as core for AixLib.Buildings.LOM"
This will replace `AixLib.Buildings.LOM` by `Annex60.ThermalZones.ReducedOrder`. This will change fundamentals as:
- handling and calculation of solar radiation
- use of weather bus
- new base record definitions
- new parameters
- new parameter names

[2016-07-14 15:53] PMehrfeld opened #261 "LimPID with integrator reset"
It should be possible to reset the integrator in `AixLib.Controls.LimPID`.

[2016-07-15 14:48] marcusfuchs commented on #261
@PMehrfeld
I assume you mean the model `AixLib.Controls.Continuous.LimPID`? This model is not originally a model of *AixLib*, but merged from *Annex60*. Therefore, it would be good to close this issue here and create a new one on the [Annex 60 repo](https://github.com/iea-annex60/modelica-annex60). Would be great of we could find a solution to this problem within the A60 community.

[2016-07-15 14:48] #261 closed

[2016-07-18 14:55] mlauster opened #262 "Fluid.Storage.Examples.StorageBoiler and Fluid.Storage.Examples.StorageSolarCollector are broken"
Several submodels refer to models that are non-existent any more or have been moved in context of restructuring for Annex 60 structure

[2016-07-18 14:57] mlauster commented on #262
Same goes for `Fluid.Storage.BaseClasses`

[2016-07-18 15:02] mlauster opened #263 "HVAC.Sensors.BaseClasses.PartialSensor is broken"
Tries extending `Interfaces.TwoPort` what is non-existent.

[2016-07-18 15:16] mlauster opened #264 "Move Fluid.HeatExchanger.HeatPump"
to new Annex 60 package `Fluid.HeatPumps`. Don't forget BaseClasses and Examples

[2016-07-20 11:01] mlauster commented on #238
duplicate with #262

[2016-07-20 11:01] #238 closed

[2016-07-20 11:01] mlauster commented on #237
solved with #265

[2016-07-20 11:01] #237 closed

[2016-07-20 11:02] mlauster commented on #235
solved with #265

[2016-07-20 11:02] #235 closed

[2016-07-20 11:06] mlauster opened #266 "Change zoneID and buildingID from String to Integer"
In `BuildingBaseRecord` and `ZoneBaseRecord`. Dymola outputs only numeric values (and their comments), these ID's work as overall identifiers in tool chains and do not necessarily need to be a String. Having them as an Integer would simplify using them after simulations as identifier in post-processing.

[2016-07-20 12:07] mlauster commented on #266
`zoneID` is already in use as a string. I don't need to change that to Integer for my purposes. To keep backwards compatibility, I propose to leave `zoneID` untouched. To make changing that easier in future, I deleted `zoneID` in our example files.
For `buildingID` this is not the case as we weren`t using this parameter except for one example file, where I deleted the parameter.

[2016-07-21 09:22] mlauster commented on #180
Will be removed if no objections until 11.08.2016

[2016-07-21 13:30] tstorek opened #268 "Aixlib.Fluids.Movers.Pump with ON/OFF"
There is no simple table based pump that can be turned off. I will work on a solution.

[2016-07-21 14:04] marcusfuchs commented on #268
@tstorek
This seems related to #184 where we would like to see which pump models are needed for future applications. In the issue title, you refer to the specific model `Aixlib.Fluids.Movers.Pump`. For your application, do you specifically need the model `Aixlib.Fluids.Movers.Pump` with additional on/off functionality or could another model for the pump behavior also be ok? And using a model like

[2016-07-22 07:22] mlauster opened #269 "Switch to MSL 3.2.2"
Dymola 2017 comes with MSL 3.2.2, we should convert AixLib to use this new version

[2016-08-05 09:34] AnaConstantin opened #271 "Arbitrary discretisation of wall layers and insertion of heated layers possible in wall model"
Wouldn't it be great if we were able to discretise the wall layers according to wonderfully thought out functions?!
Additionally wouldn't it be great to be able to introduce heated layers (cooling also possible) between chosen wall layers (layers that may have been discretised already)?!
@mlauster and @HenrykWolisz wouldn't it be great?

[2016-08-05 09:38] AnaConstantin commented on #269
Pull request accepted #270. Issue can be closed.

[2016-08-05 09:38] #269 closed

[2016-08-08 09:30] tbeu commented on #149
The [Modelica_DeviceDrivers](https://github.com/modelica/Modelica_DeviceDrivers) offer TCP/IP socket communication (for Windows and Linux).

[2016-08-08 15:28] marcusfuchs commented on #149
@tbeu: Thank you for the information
@AnaConstantin and @GeorgFerdinandSchneider, could you have a look at this and share your view on how these two solutions compare?

[2016-08-09 08:04] AnaConstantin commented on #149
Hello everyone. Yes, we are aware that there is a TCP/IP socket communication in Modelica_DeviceDrivers. Historically, our package was created because at that time no such model was available in the Modelica_DevceDrivers Library. So when AixLib started to cristlyse its purpose we started moving relevant packages into it. The models both use the same library for winsockets, and the implementation i

[2016-08-09 13:26] PMehrfeld opened #272 "EEnergyMeter vs. TEnergyMeter"
For me the two sensors (`AixLib.Utilities.Sensors.TEnergyMeter` and `EEnergyMeter`) are almost duplicates.
In my opinion they can be merged to only one EnergyMeter.
What do you think?

[2016-08-10 12:18] mlauster commented on #266
Closed via #267

[2016-08-10 12:18] #266 closed

[2016-08-11 11:22] pema1 commented on #272
In fact they are identical in that **TEnergyMeter** is extending **EEnergyMeter**. Alexander has probably implemented both as a means to easily setup seperate instances with _sensible default names_. If you omit the TEnergyMeter model you would need to remember to to change the default instance name every time.

I would suggest to leave it in as the overhead is minimal - or change the name to **En

[2016-08-11 12:12] PMehrfeld commented on #272
Yes, I understand your argumentation but I think renaming it to EnergyMeter might be the best solution.
Also I find it confusing that the input connector is flipped horizontally compared to regular usage.

Any further opinions?

[2016-08-11 12:56] pema1 commented on #272
I have no other options to suggest. I am OK that you remove and rename. Maybe you should should add the changes to a conversion script. I suppose that most people used the TEnergyMeter model. The change would probably also brake some models like boiler or heat pump.

[2016-08-16 12:01] GeorgFerdinandSchneider commented on #149
Hello everyone!

thankyou for the feedback @tbeu. As mentioned by @AnaConstantin we are aware of the TCP/IP communication capabilities of Modelica_DeviceDrivers. We moved forward implementing the communication package as at that point in time no TCP/IP support in Modelica_DeviceDrivers was available. We added the package to AixLib now as we require the support of multiple sockets in our applicatio

[2016-08-17 07:26] tbeu commented on #149
Some remarks:
 1. Using global variables is not thread-safe. The preferable solution is to use external objects.
 1. Modelica_DeviceDrivers offers TCP/IP also for (GNU) Linux.
 1. Modelica_DeviceDrivers also compiles with MinGW and Cygwin.

I propose to reuse MDDTCPIPSocket.h from Modelica_DeviceDrivers.

[2016-08-17 11:36] tbeu opened #273 "Illegal inheritance"
[code]

See also #11 for a similar issue.

[2016-08-18 10:19] PMehrfeld commented on #272
Upon brief consultation with Marcus Fuchs the topic of conversion scripts and raise of the version number will be discussed in our next modelica meeting. So this issue has to rest at least till 29 Aug.

Anyway, a hint by Marcus was to add a comment in the documentation that due to the derivative the whole input is one state and can lead to reducing the simulation performance significantly.

[2016-08-18 11:44] pema1 commented on #272
The state selection is very unfortunate in this case. I tried to improve by
`q_joule(stateSelect = stateSelect.avoid)`. However, that does not work sufficiently. Even `stateSelect.never` does not change the behaviour in the cases I have seen.

@marcusfuchs do you see another way to implement such a sensor for plotting? Using the `sum()` function in the plot window does not produce a cummulative su

[2016-08-28 20:19] AnaConstantin commented on #149
Hello everyone, sorry for the late reply, just got back from vacation.
@tbeu thank you for your suggestions. I propose we move with them in a sepparate issue.
My suggetion is to close the current issue, which was adding the package as that target as been achieved, and also set a loooong time ago.
@marcusfuchs, @GeorgFerdinandSchneider ok by you?
Once the pull request is accepted, I'll open the new

[2016-08-29 11:56] PMehrfeld commented on #272
The model will probably be changed and implemented with a conversion script just before or at hack day. Ana is going to present a workflow about conversion scripts for AixLib (@AnaConstantin).

[2016-09-04 17:30] GeorgFerdinandSchneider commented on #149
@AnaConstantin sounds great, lets start a new issue.

Best regards,

Georg

[2016-09-09 14:45] tstorek opened #274 "Plate Heat Exchanger"
In the fluid-library I miss a adequate model of a plate heat exchanger, where the efficiency depends on the conduction coofficient of the material and the size of the area. Additionally, the model should be able to handle different fluid properties on each side of the heat exchanger. In the HVAC library there was a simple model like that but unfortunately it  cannot handle the different fluid prop

[2016-09-26 07:17] mlauster commented on #262
@TobiasBlacha , thanks for fixing that! Some pedantic remarks:
- [ ] All submodels should be played on the canvas, please move `ramp`, `boundary_ph1` and `PI` in the examples.
- [ ] For `Storage.BaseClasses.Bouyancy`, I get errors when checking concerning unknown parameters. Could you check and fix that?

[2016-09-26 09:10] PMehrfeld commented on #218
See #262

[2016-09-26 09:10] #218 closed

[2016-09-26 14:46] mlauster commented on #262
Close via #275

[2016-09-26 14:46] #262 closed

[2016-09-29 09:21] mlauster opened #276 "Integrate Building into ThermalZones"
On the long run, we should incorporate our models for building physics, currently at home in `AixLib.Building`-package, into `AixLib.ThermalZones`-package to comply with `Annex60`-structure.
For `AixLib.Building.LOM`, major parts are done in #260, this issue here is to collect and solve remaining parts of `AixLib.Building`:
- [x] Move `AixLib.Building.LowOrder.Validation.ASHRAE140` to `AixLib.Ther

[2016-10-05 12:19] marcusfuchs commented on #149
@AnaConstantin @GeorgFerdinandSchneider
I'll close this issue and create a new one for the further development

[2016-10-05 12:19] #149 closed

[2016-10-05 12:20] marcusfuchs opened #277 "Communications to use Modelica_DeviceDrivers"
As mentioned in #149, the communication package should use [https://github.com/modelica/Modelica_DeviceDrivers](https://github.com/modelica/Modelica_DeviceDrivers).

[2016-10-05 12:55] marcusfuchs commented on #274
Paul and I will transfer the old simple HVAC model to AixLib until we have a better model available

[2016-10-10 08:51] TobiasBlacha commented on #215
I changed the wall model so that now the mode for the calculation of the convection at the inner surfaces is selectable via parameters on upper model level. I have created the branch "issue215_WallModel" outgoing from the master, for a pull request the master must first be merged into the development.

[2016-10-10 09:24] marcusfuchs commented on #215
@TobiasBlacha
Are there changes in the master, that are not in development? And was there a specific reason for branching of the master, rather than from development? See [our workflow](https://github.com/RWTH-EBC/AixLib/wiki/Contribute-to-AixLib).

[2016-10-10 09:36] TobiasBlacha commented on #215
Yes, the last bugfix in the master is not yet in the development. I have worked inadvertently outgoing from the master and i noticed it later. The development is already merged into this branch.

[2016-10-11 07:42] marcusfuchs commented on #187
Please consider branch `Annex60_HP_Review`

[2016-10-11 07:50] marcusfuchs commented on #263
Will be solved by #180

[2016-10-11 08:45] TobiasBlacha opened #280 "Move EBC PVsystem into AixLib"

[2016-10-11 08:54] marcusfuchs commented on #232
Solved in #234

[2016-10-11 08:54] #232 closed

[2016-10-11 08:55] marcusfuchs commented on #206
This is still relevant, but after merging #234 we can close the issue. Both models will be kept.

[2016-10-11 08:55] #206 closed

[2016-10-11 09:11] marcusfuchs opened #281 "Fix newly introduced html errors"
Current development includes a few html errors. I'll fix those.

[2016-10-11 09:48] mlauster commented on #281
Closed via #282

[2016-10-11 09:48] #281 closed

[2016-10-11 10:05] PMehrfeld commented on #272
- removed two models and used duplicate of `EEnergyMeter` regardless of conversion script
- added info that might slow down simulation speed (preferred view is info)
- see PR #284

[2016-10-11 10:46] marcusfuchs opened #285 "Database includes very old references"
The Database records include statements like `Record is used in model <a href=\"AixLib.HVAC.Sources.TempAndRad\">AixLib.HVAC.Sources.TempAndRad</a>`, which refer to models that are no longer present in the library. I will clean that up.

[2016-10-11 11:12] PMehrfeld commented on #187
This issue and branch only transferred necessary models from EBC Libs to AixLib.
Branch `Annex60_HP_review` is further developed!
- [ ] branch `issue187_moveHeatPump` must be deleted

[2016-10-11 11:58] mlauster commented on #182
This is our current strucutre of valves in our internal lib:

![valves](https://cloud.githubusercontent.com/assets/6892690/19269403/ae49b688-8fba-11e6-8f84-698bc817f51d.png)

Based on this, we should decide from which level to switch to Annex60 base models and which upper-level models to keep.

[2016-10-11 12:08] marcusfuchs opened #286 "Remove obsolete Mixing Volume"

[2016-10-11 13:01] mlauster commented on #182
Way forward:
Check if `MixingValve` can be replaced by Annex60-`MixingValve and `ValveIncompressible` by MSL version or an Annex60 equivalent. If so, keep `ThermostaticRadiatorValve` and `FloorheatingValve` and base them on standard components. Get rid of all other models, except possibly `ThermHead`, what might in this case be cleaned up and refactored.
@mlauster will clarify with @AnaConstantin

[2016-10-11 13:02] mlauster commented on #182
After moving our internal model into `AixLib`, we can delete `SimpleValve` and `ThermostaticValve`.

[2016-10-11 13:24] mlauster commented on #180
closed via #283

[2016-10-11 13:24] #180 closed

[2016-10-11 13:24] mlauster commented on #263
closed via #283

[2016-10-11 13:24] #263 closed

[2016-10-11 13:51] marcusfuchs opened #287 "Rebuild HydraulicSeparator"
The `HydraulicSeparator` uses several instances of `StaticPipe`. Before being able to remove this in #134, the `HydraulicSeparator` should be rebuilt as in the old version using MSL pipes. Afterwards, we may think about converting this to use Annex60 components.

[2016-10-11 14:05] PMehrfeld commented on #187
branch is deleted. Further discussion see #264

[2016-10-11 14:05] #187 closed

[2016-10-11 14:49] marcusfuchs commented on #272
This is on development branch.

[2016-10-11 14:49] #272 closed

[2016-10-11 15:04] mlauster commented on #287
closed via #289

[2016-10-11 15:04] #287 closed

[2016-10-11 15:19] marcusfuchs commented on #197
Redone in #287

[2016-10-11 15:19] #197 closed

[2016-10-11 15:47] KFinkbeiner opened #293 "SolarCollectorSystem"
- Compare thermal collector models (AixLib vs. HVAC)
- In case of further use of the HVAC model
                     \* remove the integrated sun model
                     \* move into AixLib

[2016-10-11 17:01] PMehrfeld commented on #264
Currently in branch `Annex60_HP_review` there still exist the models `AixLib.Fluid.HeatPumps.HeatPump_simple` and `AixLib.Fluid.HeatPumps.HeatPump_simple`.
The detailed model provides much more parametrization possibilities like directly using manufacturers' data (provided via records) or a capacity control via a polynomial function and diverse corrections. Whereas the simple HP can only be fed vi

[2016-10-11 17:03] marcusfuchs commented on #264
I think the model names should be camel case, but appart from that I see no reason not to keep both models.

[2016-10-11 17:18] PMehrfeld commented on #264
@marcusfuchs : changed it.
But 2 more questions @KristianHuchtemann before PR:
1. Can we add more records of manufacturers' data?
2. I have replaced the orifice from the MSL with `AixLib.Fluid.FixedResistances.FixedResistanceDpM`. Is this okay?

[2016-10-11 17:42] PooyanJahangiri commented on #186
In order to use a single partial model for both Boiler and CHP and other future models this issue has been addressed together with #188. For further developement in the boiler model please create another thread.

[2016-10-12 10:47] PMehrfeld commented on #264
Regarding:
1. I will transfer some more records into AixLib
2. The prior used model from MSL `Modelica.Fluid.Fittings.GenericResistances.VolumeFlowRate` leads to stable initialization when it comes to a more complex simultion, whereas when using `AixLib.Fluid.FixedResistances.FixedResistanceDpM` the simulation is not able to initialize.

I tried the whole morning to get the simulation start but co

[2016-10-12 11:25] PRemmen commented on #134
solved by #294

[2016-10-12 11:25] #134 closed

[2016-10-13 08:12] marcusfuchs commented on #189
Perfect, this is on `development`!

[2016-10-13 08:12] #189 closed

[2016-10-14 07:03] PMehrfeld commented on #264
I have transferred all records that are based on public manufacturers' data to AixLib.

The detailed heat pump model should now be fully based on the Annex60 fluid.
Anyway, I have found out that the model `Modelica.Fluid.Fittings.GenericResistances.VolumeFlowRate` in general seems to stabilize fluid simulations. The component still solved the initialization problem in the complex hydraulic network

[2016-10-17 09:49] #215 closed

[2016-10-17 11:55] #264 closed

[2016-10-19 08:11] AnaConstantin commented on #58
I would close the issue, as we can formulate a more concrete one if needed

[2016-10-19 08:11] #58 closed

[2016-10-19 08:12] AnaConstantin commented on #186
Close the issue #186 and start a new one from the model created by @PooyanJahangiri

[2016-10-19 08:12] #186 closed

[2016-10-19 09:12] AnaConstantin commented on #273
The current structure of AixLib has changed and I do not see any of these cases of illegal inheritance. @tbeu could you please check?

[2016-10-19 09:31] tbeu commented on #273
Here it is.
[code]

[2016-10-19 09:38] marcusfuchs commented on #273
This seems to concern only models that have been merged from Annex 60. We'll have to merge the lastest version of Annex 60. If the problems persist, that would be an upstream issue in the [Annex 60 library](https://github.com/iea-annex60/modelica-annex60/issues)

[2016-10-19 09:38] AnaConstantin commented on #273
Thank you @tbeu for the quick response. I was checking in the development branch where the issue is already solved and this is why I didn't see it. Should be ok once the merge of the development in the master is complete.
Once the merge is done I will close the issue.

[2016-10-23 08:12] mlauster commented on #172
@MichaMans, is this already in the master? Then we could close this issue.

[2016-10-25 07:16] #207 closed

[2016-10-25 07:17] #199 closed

[2016-10-26 08:57] KFinkbeiner commented on #293
--> AixLib thermal collector model is highly simplified compared to the HVAC model

[2016-10-26 09:31] KFinkbeiner commented on #293
- [ ] Comparison of the collector models from HVAC and Buildings lib.
         - IAM function
         - efficiency model
         - heat losses at standstill
         - model parametrization (data availability)

[2016-10-27 13:50] mlauster commented on #285
@marcusfuchs, do you plan to do this until V.04?

[2016-10-27 13:56] mlauster commented on #183
Decision has been made and is taken care of in another issue, so I will close that issue

[2016-10-27 13:56] #183 closed

[2016-10-27 14:01] mlauster commented on #225
This is taken care of #297 so I close this issue

[2016-10-27 14:01] #225 closed

[2016-10-31 08:21] MichaMans commented on #172
@mlauster According to PR #230 this was merged into the development at 15.04.
I think it should be in the master then. We've let the issue open in case we need to change the file format of the files. I don't know if we should let this one open, since nobody seems to have an issue with the file format.

[2016-10-31 08:22] mlauster commented on #172
Then let's close it an reopen if we get issues regarding the format

[2016-11-02 10:31] mlauster commented on #280
closed via #291

[2016-11-02 10:31] #280 closed

[2016-11-10 17:58] RoozbehSangi opened #301 "FVUandExergyMeter"
Two packages are going to be integrated into AixLib; a package that contains models for Facade Ventilation Unit (FVU) and its controller. FVU model can be used for heating, cooling and ventilation purposes. The second package contains a tool to perform the exergy analysis of HAVC systems.

[2016-11-11 07:38] marcusfuchs commented on #301
@RoozbehSangi
It's great that you address this integration! Regarding the workflow, could you consider doing the integration of FVU and exergy meter in two separate issues if that does not increase your workload too much? Two separate pull requests may be easier to review and maintain in the future.

[2016-11-11 08:15] RoozbehSangi opened #302 "Facade Ventilation Unit"
A package that contains models for Facade Ventilation Unit (FVU) and its controller is going to be integrated into AixLib. The model can be used for heating, cooling and ventilation purposes.

[2016-11-11 08:16] RoozbehSangi opened #303 "Exergy Meter"
A package that contains a tool to perform the exergy analysis of HAVC systems is going to be integrated into AixLib.

[2016-11-11 08:17] RoozbehSangi commented on #301
Done!

[2016-11-11 08:17] #301 closed

[2016-11-11 10:25] AnaConstantin opened #304 "Correct record Floor attic HOM"
The record for the lower half of the ceiling is used, and should be a floor record, which unfortunatelly was never the case so the correct record was not transfered to AixLib.
To do:
Add new records for EnEV2009, EnEV2002, WSchV1984, WSchV1995
Correctly reference the records in the HOM

[2016-11-14 09:56] TobiasBlacha commented on #304
this closes by #305

[2016-11-14 09:56] #304 closed

[2016-11-15 13:34] AnaConstantin opened #306 "Rewrite AixLib.Utilities.HeatTransfer.HeatConv_outside with WindSpeed_internal"
The WindSpeedPort is only used in some algorithms, but the port is not conditioned to this algorithms.
This can lead to problems with unconnected ports, when some algorithms are preffered.
The state-of-the-art for such implementation is with a protected RealOutput variable.
I propose to do this directly in the master, as the project where I'm working on uses the master, and is actually a bug.

[2016-11-16 07:42] mlauster commented on #208
See related #182

[2016-11-16 07:43] mlauster commented on #182
See related #208

[2016-11-16 09:28] AnaConstantin commented on #208
I'll close this issue as a similar one already exists

[2016-11-16 09:28] #208 closed

[2016-11-16 09:34] AnaConstantin opened #308 "Extend HeatPump Model to work as a Chiller and as a reversible Heat Pump"
Work on AixLib.Fluid.HeatPumps.HeatPumpDetailed
To Do:
1. Create three modes: heat pump, chiller and reversible
2. Introduce variables Tuse and Tsource and rewrite equations for TEv and TCon
3. Model should still allow for caracteristic data in both table and polynomial form, but package all necessary information in a record for both cases

[2016-11-16 09:40] AnaConstantin commented on #308
Additionally compare to existing Models from Annex60 and describe the differences in the documentation

[2016-11-24 10:02] MichaMans opened #309 "Integrate FastHVAC Package"
We should try to integrate the FastHVAC Package. First list of things to do (please add your points):

- [ ] Integrate a FastHVAC Package to the structure
- [ ] Integrate Interfaces
- [ ] Integrate Components
- [ ] Integrate Examples

At the moment we are not really forcing an implementation, but we want to start an integration step by step.

[2016-11-30 09:54] KFinkbeiner opened #310 "Module-based AHU model"

[2016-11-30 10:54] marcusfuchs commented on #310
@KFinkbeiner
Thanks for starting this issue. Could you please add 1-2 sentences of description to inform everyone about what the aim of this development is?

[2016-11-30 11:53] AnaConstantin commented on #306
Solved in branch issue306 and merged in #307

[2016-11-30 11:53] #306 closed

[2016-11-30 14:09] KFinkbeiner commented on #310
Firstly, the aim is to develop a modular model of an air handling unit (AHU). The modular modeling approach enables the modeling of AHU with different component configurations in a time efficient manner. Further, the modular modeling approach simplifies the on-going development of individual components, as well as the entire AHU.
Secondly, the model should be suitable to the AixLib low-order build

[2016-12-06 07:58] tbeu opened #311 "Missing base class AixLib.Media.PerfectGases.MoistAirUnsaturated"
The base class "AixLib.Media.PerfectGases.MoistAirUnsaturated" of model "AixLib.Utilities.Psychrometrics.Examples.WetBul_pTX.Medium" is unknown.

[2016-12-06 08:02] tbeu opened #312 "Missing dependency on Modelica_Synchronous in uses annotation"
As AixLib.Airflow.AirHandlingUnit.AHU uses components from Modelica_Synchronous, the uses annotation of the AixLib package should indicate that dependency and the used version.

[2016-12-06 19:41] PMehrfeld commented on #312
@tbeu : Quite a good hint. I will take care of this.

[2016-12-07 09:06] PMehrfeld opened #313 "Integration of ncDataReader"
I am currently working on getting an alternative data reader integrated into AixLib since I have faced many issues with CombiTimeTables in the context of complex simulations.
The repo is located here: [https://github.com/tbeu/netCDF-DataReader](url)

I will discuss two issues in that repository and report the news here.

[2016-12-07 10:18] mlauster commented on #293
When you are ready to implement it in `AixLib`, please create a `SolarCollector` package in `Fluid`.

[2016-12-07 16:48] PMehrfeld commented on #312
see #314

[2016-12-08 08:24] tbeu commented on #313
Can you please share your issues with the CombiTimeTable. Ist it about [mo:#2080](https://trac.modelica.org/Modelica/ticket/2080)?

[2016-12-08 08:38] marcusfuchs commented on #312
This is now on the development. Considering that we'll merge development soon into the master, do we need to make this change as a bugfix in master additionally, or can we wait für v0.4.0?

[2016-12-08 08:49] tbeu commented on #312
I tested with current master.

[2016-12-08 08:50] tbeu commented on #311
I tested with current master.

[2016-12-08 15:17] thorade commented on #313
Feel free to also comment here:
https://github.com/UdK-VPT/BuildingSystems/issues/12
Maybe we could have one very good data reader in Annex60?

[2016-12-08 19:44] tbeu commented on #313
@thorade Thanks for cross-referencing. I even forgot about it and the ideas mentioned therein.

[2016-12-09 15:28] PMehrfeld commented on #313
I have commented the issue here:
https://github.com/UdK-VPT/BuildingSystems/issues/12

Hopefully, I will have a look at https://trac.modelica.org/Modelica/ticket/2080 next week.

[2016-12-09 19:13] mlauster opened #317 "Refactoring of FixedResistanceDpM"
The pipe model `FixedResistanceDpM` of `Annex60`  has been refactored and splitted into two models with different approaches, see
https://github.com/iea-annex60/modelica-annex60/pull/607

We should check all our models that use `FixedResistanceDpM` and assign one of the two new models. There is a Dymola script for automatic conversion in `Annex60`. Let's wait until https://github.com/iea-annex60/m

[2016-12-15 15:15] #151 closed

[2016-12-15 15:15] #78 closed

[2016-12-15 15:16] #260 closed

[2016-12-15 16:09] mlauster commented on #188
merged via #296

[2016-12-15 16:09] #188 closed

[2016-12-15 16:11] mlauster opened #318 "Update readme and contributors list"
Additionally, move `Fluid.HeatExchanger.SolarThermal` to `Fluid.Solar`

[2016-12-19 07:59] PRemmen commented on #318
closed by #319

[2016-12-19 07:59] #318 closed

[2016-12-19 13:14] mlauster opened #320 "OMEdit bugs"
When opening the current `development` in OMEdit, I get some grammar and syntax errors. I will try to solve them

[2016-12-20 08:05] mlauster commented on #320
closed via #321

[2016-12-20 08:05] #320 closed

[2016-12-21 09:04] Mathadon commented on #310
This may be of interest: https://github.com/open-ideas/IDEAS/issues/571

[2016-12-21 11:13] mlauster commented on #317
solved via #323

[2016-12-21 11:13] #317 closed

[2016-12-21 11:41] mlauster opened #324 "Typo in ThermalMassClass in HOM"
There is a typo in the parameter description of `ThermalMassClass` of the `HOM`

![unbenanntes bild](https://cloud.githubusercontent.com/assets/6892690/21388009/ace0490e-c77a-11e6-866b-49efe2ccbf2b.png)

[2016-12-21 20:09] #324 closed

[2017-01-10 15:43] mschumacher247 opened #326 "ThermalZone example does not work with MSL 3.2.1"

[2017-01-10 18:52] mschumacher247 commented on #326
ThermalZone example doesnt check with Dymola 2016 and MSL 3.2.1. Using Dymola 2017 and MSL 3.2.2 did not show this problem. When unloading MSL 3.2.2 and reloading MSL 3.2.1 in Dymola 2017 the error did not occur either. See error message attached

![error_message](https://cloud.githubusercontent.com/assets/8257582/21820009/57e79980-d76e-11e6-8231-288d69403ca3.png)

[2017-01-10 19:47] mlauster commented on #326
I think that's a bug of Dymola 2016. They seemed to have changed some internals links for expandable instances that are vectorized. The current version of the models you mention have been developed in Dymola 2017, so I never ran into that problem. Is that something crucial for you, @mschumacher247? Or is it fine working with Dymola 2017? We should the models in latest version of OMEdit to see how

[2017-01-11 07:56] marcusfuchs commented on #326
@mlauster
We had a short discussion about this and the idea of this issue was to just write it out here, assign a *wontfix* label and close it. This way we have it documented and hope that if someone runs into the same problem, they can find the solution more quickly, as it may be hard to directly come up with the solution from the text of the error message. If anyone has bandwidth and need to fix

[2017-01-11 07:56] #326 closed

[2017-01-16 14:54] Mathadon commented on #310
This too: http://www.tandfonline.com/doi/full/10.1080/19401493.2016.1273391

[2017-01-17 08:48] AnaConstantin commented on #311
We has a new release at the end of last year.
@tbeu could you please check if this issue is still current? Thank you

[2017-01-17 08:49] AnaConstantin commented on #312
We has a new release at the end of last year.
@tbeu could you please check if this issue is still current? Thank you

[2017-01-17 08:52] AnaConstantin commented on #273
We has a new release at the end of last year.
@tbeu could you please check if this issue is still current? Thank you

[2017-01-17 09:15] tbeu commented on #273
Can no longer reproduce. Thanks.

[2017-01-17 09:15] #273 closed

[2017-01-17 09:16] tbeu commented on #312
Can no longer reproduce. Thanks.

[2017-01-17 09:16] #312 closed

[2017-01-17 09:17] tbeu commented on #311
Can no longer reproduce. Thanks.

[2017-01-17 09:17] #311 closed

[2017-01-17 09:18] tbeu opened #327 "Two version annotations"
https://github.com/RWTH-EBC/AixLib/blob/master/AixLib/package.mo#L3 displays both `version = "0.4.0"` and `version = "0.3.2"`. There should be only one version annotation right there.

[2017-01-17 10:24] tbeu opened #328 "Replace non-standard annotation by standard annotation attribute `groupImage`"
There are plenty of `__Dymola_Images.Parameters.source` annotations in the models that can be substituted by the standard-conform (as of MLS 3.2) annotation attribute `groupImage`. See https://github.com/modelica/Modelica/issues/408 for the corresponding issue on the MSL.

[2017-01-17 10:37] tbeu opened #329 "Minor issues in AixLibSocketCommunication.h"
1. It says `unsigned char **convertDbltoHex(double num)` in AixLibSocketCommunication.h, but return value is of type `unsigned char *`.
1. It says `int SocketReceive(char **buffer, int maxLen, int socketHandle)` in AixLibSocketCommunication.h but according to the MLS it should be `const char **buffer`.

[2017-01-17 10:43] tbeu commented on #329
#277 might be the remedy for the second issue.

[2017-01-19 07:57] tbeu commented on #329
Edited. I was wrong earlier.

[2017-01-23 11:14] pema1 opened #331 "package.mo contains two version strings for AixLib"
The root level package.mo file of AixLib contains two version strings i. e. `version="0.4", version="0.3.2"`. I think this is an error and should be fixed.

[2017-01-23 11:21] pema1 commented on #331
Closed. Is a duplicate of #327

[2017-01-23 11:21] #331 closed

[2017-01-30 09:40] AnaConstantin opened #332 "Transfer model for Geothermal Field to AixLib"
- [ ] Look into available models, and make a list of models to be transfered

- [ ] Compare the list to available models in Annex60 and analyze if similar modela are available, if models can be combined or substituted through better ones

- [ ] Transfer the models

[2017-01-30 09:43] AnaConstantin opened #333 "Asses model for HydraulicResistance to AixLib"
- [x] Compare to models from Annex60 and see if there is any advantage in transfering such a model

- [x] If no advantage identified write a conversion script for the new model to be used

- [x] If advantage present, transfer the model

[2017-01-30 09:44] AnaConstantin opened #334 "Transfer model for hydraulic separator to AixLib"
- [x] Check Annex60 for similar models

- [ ] If no models identified transfer model using newest components

- [ ] If model identified asses is mdoels should be combined, or just one of the models should be used

[2017-01-30 09:46] AnaConstantin opened #335 "Transfer pipe models to AixLib"
- [x] Compare pipe models to the one from Annex60 and decide is models should be combined or just use the mdoels from Annex60

- [x] Transfer models if needed

[2017-01-30 09:52] AnaConstantin opened #336 "Transfer models for Active Walls to AixLib"
- [x] Research if similar models are available in Annex 60

- [x] If models available decide on best course of action: combine models or use just one of the models

- [x] Transfer needed models

[2017-01-30 09:54] Mathadon commented on #336
I'm not sure what active walls are, but I'm pretty sure we don't have them in Annex 60.

[2017-01-30 09:59] mlauster commented on #336
I think these are models for thermo active building systems (TABS), like https://www.ashrae.org/resources--publications/periodicals/ashrae-journal/features/using-building-mass-to-heat-and-cool-thermo-active-building-systems

[2017-01-30 10:21] Mathadon commented on #336
We have a concrete core activation model in IDEAS based on Koschenz:
IDEAS.Fluid.HeatExchangers.RadiantSlab.EmbeddedPipe

[2017-01-31 10:49] ChristianGrozescu opened #337 "Implement new heat transfer model for heat storage"
A model should be implemented that considers bouyancy effects properly

[2017-01-31 10:59] mlauster commented on #337
Have a look at the models implemented in IDEAS, https://github.com/open-ideas/IDEAS  and Buildings, https://github.com/lbl-srg/modelica-buildings. I think they have something more sophisticated than what we currently have and they plan to merge their systems and bring it into Annex60, which is the basis of AixLib, see https://github.com/iea-annex60/modelica-annex60/issues/314.

[2017-01-31 11:03] Mathadon commented on #337
See also work in progress here:
https://github.com/Mathadon/modelica-annex60/tree/issue314_storageTank

[2017-01-31 12:42] SebastianStinner commented on #337
@Mathadon : Thank you for sharing the link to your model. If I can see it correctly from the paper and a quick look on the model, the buoyancy effects of heating rods or heat exchangers are not considered as they are not induced by jet flows.

[2017-01-31 13:49] Mathadon commented on #337
That's correct. The model does not support internal heat exchangers.

[2017-02-01 02:58] stroitzsch opened #338 "Description Issue in PartialMultizone.mo"
Description/Comment of `Modelica.Thermal.HeatTransfer.Interfaces.HeatPort_a intGainsRad` is `"Convective internal gains"` but should be `"Radiative internal gains"` at https://github.com/RWTH-EBC/AixLib/blob/master/AixLib/ThermalZones/ReducedOrder/Multizone/BaseClasses/PartialMultizone.mo#L73

[2017-02-01 08:02] mlauster commented on #338
Thanks, @stroitzsch for chatching that and @TobiasBlacha for self-assigning that. :) @TobiasBlacha do you really think it's a bug? That would menad solving it in the master and issuing a new release... . From my side it would be fine solving it in the development as it's "only" in the description string.

[2017-02-01 08:06] TobiasBlacha commented on #338
@mlauster okay, then i will change the label to "development" and fix this in the development branch.

[2017-02-01 08:22] PMehrfeld commented on #313
@fwuellhorst : Write documentation and migrate NcDataReader model into AixLib

[2017-02-06 09:26] mlauster commented on #313
Closed via #340

[2017-02-06 12:35] tst-pth commented on #274
I have done an updated Heat Plate Exchanger Model based on the model developped by Thomas Dixius. The model uses only components from the AixLib and Modelica-Library.

[2017-02-07 19:09] PMehrfeld commented on #313
With commit 996399fc0633dbd3949dcc94ef03d17ca6ddde2d I deleted parameter standard values. But for string vectors `varName`, `attNameReal` and `attNameInt` at least empty strings like `{""}` are necessary, otherwise error occurs `Failed to expand the variable NcDataReader_test.varName`.
Since all `use_...` parameters are true and strings were set in the example, the error did not occur. But with de

[2017-02-08 09:40] mlauster commented on #313
Closed via #342

[2017-02-08 09:40] #313 closed

[2017-02-14 10:35] AnaConstantin commented on #181
Compare  AixLib.BoundaryConditions.WeatherData.ReaderTMY3 with AixLib.Building.Components.Weather.Weather and decide which model/combination to use.
Points to clear up before decision:

- [ ] Compare TMY3 with TRY format and for missing data types check processing algroithms according to http://climate.onebuilding.org/ - make a list

- [ ] Compare simulation speed with solar radiation model in wea

[2017-02-20 09:06] AnaConstantin opened #344 "Create records for materials of wall layers"
... and integrate them in the wall records.
Use the concept from IDEAS as startpoint: IDEAS.Buildings.Data.Materials

[2017-02-21 10:50] mlauster commented on #313
@PMehrfeld, is our netCDF reader module read-only?
See https://github.com/UdK-VPT/BuildingSystems/pull/64#issuecomment-281308134
I think that's a valuable point

[2017-02-21 10:54] thorade commented on #313
As far as I know, every user has to mark the directory read-only himself on his own computer.
Or can Dymola .mos scripts change the permissions?

[2017-02-22 10:41] mlauster commented on #181
Here you get the tremendous Elements software: http://bigladdersoftware.com/projects/elements/

[2017-02-22 10:42] mlauster commented on #338
Closed via #339

[2017-02-22 10:42] #338 closed

[2017-02-22 11:06] AnaConstantin commented on #181
Additionally for Comparison TMY3 to TRY see if the algorithms used for transforming TMY to TRY for solar radiation can be to some extent re-utilised

[2017-02-22 11:39] MBaranskiEBC commented on #308
Extension:
1. Add an interface for external control based on the bus connector

[2017-02-24 13:55] TobiasBlacha commented on #334
@AnaConstantin for me it looks like the model has already been transferred into the AixLib: AixLib.Fluid.MixingVolumes.HydraulicSeparator
In addition, I could not find a similar model in the Annex60.

[2017-03-01 09:42] PMehrfeld commented on #313
Since we are not checking out the repo https://github.com/tbeu/netCDF-DataReader as a submodule of our AixLib repo, there is no further need to concern about read-only rights. Any User must clone the repo and open the Modelica library of the netCDF-DataReader manually. This is also described in the documentation of the particular model in AixLib.

[2017-03-01 11:23] PMehrfeld commented on #181
As a hint: Since there is still some manual work necessary working with elements, [this part of the User Guide](http://bigladdersoftware.com/projects/elements/docs/user-guide/tutorial-create-from-scratch.html) might be helpful. (Thanks @mlauster)

[2017-03-03 08:21] PMehrfeld opened #345 "Fluid.Storage: Heat Transfer models"
I came across some questions regarding modelling style:

1. `AixLib.Fluid.Storage.BaseClasses.PartialHeatTransferLayers`: Is it really necessary to declare `n, Medium` and `data` as `outer`? Especially since these are commonly used names.
2. `AixLib.Fluid.Storage.BaseClasses.HeatTransferLambda...`: These 3 models use the variable `beta`. For me it looks like they can be declared as parameters inst

[2017-03-06 16:22] PMehrfeld opened #346 "ThermostaticValve: Condition for leakageOpening"
Condition for leakageOpening must be changed from:
[code]
to (first line changes):
[code]
I have attached an example model and the corresponding result plot showing the valve opening for 3 cases.
`leakageOpening` is set to 0.01, but opening stays at 0 for the case `TempDiff = P` (blue line). In case that`TempDiff` approaches from below `P` and exceeds the threshold a step occurs (red line). Only t

[2017-03-07 15:41] PMehrfeld commented on #346
Closed by #347

[2017-03-07 15:41] #346 closed

[2017-03-08 10:20] SebastianStinner commented on #345
@PMehrfeld :
1. I think there was a reason to do this, but we could try to change that.
2. This is possible, except if we see` beta` as a constant which should not be changed from the modeller.

[2017-03-15 15:03] PMehrfeld commented on #345
1. I deleted the prefixes.
2. I converted the variables into parameters.

Furthermore, I removed some `inner` prefixes, like in `AixLib.Fluid.Storage.BufferStorage.Medium`, `AixLib.Fluid.Storage.BaseClasses.HeatingCoil` and `AixLib.Fluid.Storage.BufferStorage`.
I also passed the parameters declared in `BufferStorage` through, since they are not using the `outer\inner` concept anymore.

Example sti

[2017-03-21 11:39] AnaConstantin commented on #329
Closed in pull request #349

[2017-03-21 11:39] #329 closed

[2017-03-24 11:28] tbeu opened #352 "Where is BuildingPhysicsExample?"
Some previous version of AixLib (< v0.4.0) contained AixLib.Building.LowOrder.Examples.BuildingPhysicsExample which is missing in master now. Has it been renamed and moved or deleted?

[2017-03-24 11:34] tbeu commented on #352
OK, it is gone by aa9d36c63932c033406c646a94745ceb0df1958f. Is there any replacement model?

[2017-03-24 19:52] mlauster commented on #352
This is because we switched to new model cores in `AixLib.ThermalZones.ReducedOrder`. `AixLib.ThermalZones.ReducedOrder.Examples.SimpleRoomTwoElements` is quite similar to the old example you mentioned, except infiltration and sunblinds. However, both are also available with the now core models. The new core models are extended and reworked versions and cover all functionalities of the old ones. T

[2017-03-24 22:42] tbeu commented on #352
BuildingPhysicsExample was one of the models which needed to be investigated further for some simulation issue. If this model is gone in master now I will checkout the latest version containing it.

[2017-03-31 08:11] mlauster commented on #352
I can close this issue then, @tbeu?

[2017-03-31 08:12] #352 closed

[2017-03-31 08:14] mlauster commented on #277
Is there anything still to do fir this issue or can it be closed, @AnaConstantin?

[2017-03-31 08:58] MBaranskiEBC opened #353 "Detailed district heating model"
The issue is to include a district heating/cooling model into AixLib, preferably with renewable feed-in.
@marcusfuchs is there a model in Annex 60 that we can use for that?

[2017-03-31 12:16] MBaranskiEBC opened #354 "Add controllers and controller interfaces"
In order to be able to quickly connect new controllers to the component models such as heat pump, we need standardized interfaces. I suggest we create bus connectors for each component and define the variables that we need for typical controllers. In addition, we can add a number of typical controllers to the controls package.

[2017-03-31 12:21] MBaranskiEBC commented on #308
I suggest we move the controller interfaces to [https://github.com/RWTH-EBC/AixLib/issues/354](url) to have a better overview and create pull request more frequently.

[2017-04-03 16:39] marcusfuchs opened #356 "We need to better describe our workflow for contributions"
In the past, many of our colleagues had difficulties understanding our workflow. I think a better definition of our workflow will help us all to get more people on board and enjoy the AixLib development together. Therefore, I suggest to update our [Wiki](https://github.com/RWTH-EBC/AixLib/wiki), especially to better reach out to our colleagues with little or no previous experience with Git, GitHub

[2017-04-04 06:49] mlauster commented on #356
We could use templates for issues and pull requests, see

https://github.com/blog/2111-issue-and-pull-request-templates

[2017-04-04 06:56] PMehrfeld commented on #356
Also a workflow or some kind of check list for code review migth be helpful (including some cross links to other wiki pages like `Variable Naming` or `Documentation`).

[2017-04-04 19:06] MBaranskiEBC opened #357 "Physical air handling unit model"
alexanderAKU and myself agreed on creating a detailed physical model of an air handling unit because the existing AHU model (though it's a great model)
- is based on simplifying assumptions
- combines physical world and control
- cannot be easily extended by modules such as sorption

As a first step, I will include a model we already have in a local repo. As a next step, we could create a new proj

[2017-04-04 19:37] marcusfuchs commented on #357
@MBaranskiEBC @alexanderAKU
Please check with @KFinkbeiner how this is related to #310.

[2017-04-04 20:10] marcusfuchs commented on #356
For a nice example on how issues could look like with the new workflow see @PRemmen 's issue in the TEASER repo: RWTH-EBC/TEASER#440

[2017-04-05 07:34] marcusfuchs opened #358 "Add templates for issues and pull requests"
## What is the problem?

- Often, the first issue and pull request descriptions do not include all information that would be helpful to the group
- The code in many pull requests has similar problems, because people to not know about the advice in our Wiki.

## Why do we want to solve it?

- This is part of a larger effort to improve our workflows and make it easier for people to contribute to Aix

[2017-04-05 08:10] KFinkbeiner commented on #357
Please check, if the modular modelling approach and the description of related physics by characteristical maps of moist air is suitable for you. The integration of generic controller into each module can be a helpful feature for the users of this model. We need to check, if a collaboration is possible.

[2017-04-05 08:15] marcusfuchs commented on #357
@KFinkbeiner
Are you (and your student) already actively working on this? If so, could you push your current work to a branch (e.g. named `issue310_modularAHU`) so that @MBaranskiEBC and @alexanderAKU can check how these efforts may be combined?

[2017-04-05 08:49] alexanderAKU commented on #357
@MBaranskiEBC @KFinkbeiner
We should discuss our work and aims in a meeting

[2017-04-05 09:04] KFinkbeiner commented on #357
Currently we identified the individual components of an air handling unit and their diverse technologies, which are used for heating, cooling, humidification and dehumidification as well as heat and moist recovery. For these components and their related technologies, we described the characteristical behaviour in the Mollier diagram. The next step is the modelling of modules. At the moment, my stu

[2017-04-05 10:44] SebastianRoc commented on #332
Hallo AnaConstantin,

I am working on a model for a thermal ground storage with freezing the included water with Modelica at the moment. That is why I am intersted in your model, because I search for an example in which thermal storage is solved in 3D-model.
Could you provide me the file of the model?
Thanks in advance.

Sebastian

[2017-04-05 12:07] #358 closed

[2017-04-05 12:49] marcusfuchs commented on #356
In the current structure of our [Wiki](https://github.com/RWTH-EBC/AixLib/wiki), `Contribute to AixLib` is a part of the `Git Workflow` section.

@alexanderAKU and I think that it would be good to split this up into two section. The `Contribute to AixLib` could be a gateway for describing approaches to e.g.
- report an error
- suggest an improvement
- add a new model
- etc.

The `Git Workflow` sec

[2017-04-05 16:04] alexanderAKU opened #360 "Develop a model for the Menerga Air Handling Unit (AHU)"
## What is the problem?

- There is no model for a specific air handling unit model (Menerga sorpsol).
- Existing AHU model is hard to modify

## Why do we want to solve it?

- We want to develop a new control strategy for the Menerga Air Handling Unit. Therefor, we need a model including all sensor and actor signals of the air handling unit. The model is needed for evaluating and testing the cont

[2017-04-05 16:19] alexanderAKU commented on #360
My student Christian (@aku-cbe) and I want to develop a control strategie. Therefor, we need a model that can handle all actor signals as an input and that gives sensor values as an output.

The issues [Physical air handling unit model #357](https://github.com/RWTH-EBC/AixLib/issues/357) and  [Module-based AHU model #310](https://github.com/RWTH-EBC/AixLib/issues/310) will be considered.

[2017-04-06 11:00] alexanderAKU commented on #356
I added a new page for working with issues: [Create an Issue](https://github.com/RWTH-EBC/AixLib/wiki/Create-an-Issue)

[2017-04-13 08:47] TobiasBlacha commented on #309
These models still have to be transferred into the AixLib:
- [ ] ActiveWalls Package: Panelheating_1D_Dis and BaseClasses
- [ ] Controller Package (if we want to have its own controller package for the fastHVAC)
- [ ] Eletrical Package: PowerConsumptionUC
- [ ] HeatExchanger Package: DHWHeatExchanger, MultiRadiator, Radiator_ML and BaseClasses
- [ ] Solar_UC Package: PVsystem (Eletrical), SolarCol

[2017-04-18 09:28] AnaConstantin commented on #205
I agree with @PRemmen. Could you please move the still existing examples to Fluid so we can close the issue?

[2017-04-18 09:36] AnaConstantin commented on #334
@TobiasBlacha you are correct.

[2017-04-18 09:36] #334 closed

[2017-04-18 14:11] AnaConstantin commented on #184
- [ ] Make list of advantages and disadvantages of Pump model in Annex60 and Pump Model in HVAC

- [ ] Decide on one (unified) model

- [ ] Build model

- [ ] Add records

- [ ] Build examples

- [ ] Document model, record, examples

[2017-04-18 14:18] MBaranskiEBC commented on #184
@pema1: could your pump model be included/contribute to the unified model?

[2017-04-18 14:27] AnaConstantin commented on #184
I'm open to any suggestions on how the model can be enhanced. For me it is only important to bring the advantages of our HVAC model (mainly usage of records for characteristics and different established control strategies) to our AixLib model.

[2017-04-19 07:38] AnaConstantin commented on #332
Hello @SebastianRoc . Sorry for the late reply, I was on holiday. I think the Model we want to put into AixLib is close to what you want. Please allow for one more week for the model to be put in the branch.
Afterwards we need to work on it and make sure everything works ok, but you can easily get an idea if it is what you want. If that is the case maybe you can help to develop it further in AixLi

[2017-04-19 12:31] TobiasBlacha commented on #335
Currently, we have four different pipe models in our internal library that have not been integrated into the AixLib. The main differences to the pipe model of the Modelica standard library are that pipe insulation and heat storage of the pipe and insulation material can be taken into account. @AnaConstantin and @RoozbehSangi because you are in the documentation of all this pipe models, I wanted to

[2017-04-19 12:39] AnaConstantin commented on #335
@TobiasBlacha, I think we only need one model that can do it all:
1. can be discretized in length (via option)
2. can have losses to the ambient (both wall, or air, via option)
I would suggest the make the pipe model  ontop of which the thermal losses are added replaceable between the Pipe model from Annex 60 and the one from MSL.

[2017-04-24 09:02] thorade commented on #356
related: https://github.com/blog/1184-contributing-guidelines

[2017-04-24 09:57] mlauster commented on #356
@thorade, thanks a lot for that hint! How did you get knowledge about all that things?

[2017-04-24 10:02] thorade commented on #356
I read about it here: https://github.com/modelica/Modelica/issues/2161 ;-)

[2017-04-24 10:03] mlauster commented on #356
That's a self-citation!

[2017-04-24 16:42] pema1 commented on #184
@MBaranskiEBC, our current model is based on a rather complex model from @AnaConstantin. We currently simplify it and can hopefully improve it in some details. I will then have a look if the this model could benefit from our work.

[2017-04-25 08:10] PMehrfeld commented on #345
closed by #348

[2017-04-25 08:10] #345 closed

[2017-04-25 09:33] mlauster commented on #210
Since we test that models automatically in IBPSA library, this issue is obsolete. I will close it, please reopen if new activities are planned.

[2017-04-25 09:33] #210 closed

[2017-04-25 09:35] mlauster commented on #277
@AnaConstantin, could you give an update if this issue is still relevant or has been solved?

[2017-04-25 09:36] AnaConstantin commented on #277
@mlauster the work still has to be done, but it is not a priority for the next release. I would leave it open.

[2017-04-25 09:55] mlauster commented on #327
closed via #364

[2017-04-25 09:55] #327 closed

[2017-04-25 10:29] mlauster commented on #182
After contacting @AnaConstantin and @RoozbehSangi, this is the way to go:

- `ThermostaticRadiatorValve` and `FloorheatingValve` are the only two models that will be moved to `AixLib`. For that, they will be refactored to divide physical model and control. For the physical model, we try to allow choosing between `MSL.Valves` (which are similar to our old `Valve.Incompressible`) and the `IBPSA.Flui

[2017-04-25 10:44] PRemmen commented on #205
solved by #362

[2017-04-25 10:44] #205 closed

[2017-04-25 10:59] MichaMans commented on #293
From a first quick view it seems to be a very simple model. The existing models of the modelica-buildings for example are more detailed. Do you think it makes sense to implement a solarthermal model? In addition it seems that there is no need at the moment for such a model.

[2017-04-25 11:50] mlauster commented on #293
If the `Buildings` model is not yet part of `IBPSA`, we could ask Michael Wetter to add it. This would then require agreements form all other institutions, but should be feasible.

[2017-04-25 11:56] AnaConstantin commented on #184
After reviewing our HVAC models and the Annex60/IBPSA-Models I have identified the following differences:
1. Our models use tabels with (Vflow, Head) for different nominal speeds (according to manufacturer data) and a given control strategy to calculate the needed pressure drop. Power and efficiency calculations are done using polynoms, which are the result of curve fittings in MATLAB over manufac

[2017-04-25 11:59] PMehrfeld opened #365 "Level of development stars"
## What is the problem?

- `AixLib.UsersGuide.Conventions.ModelTemplateDocumentation` still recommend usage of the stars

## Why do we want to solve it?

- Not clear how the level of development is measured.

## How do we want to solve it?

- I want to collect some opinions here whether these stars should remain part of the template or not.

[2017-04-25 12:06] AnaConstantin commented on #365
I personally always liked the star system and think the explanations for how many starts to give are clear. However as far as I remember the other Annex 60 participants were not so enthusiastic about it so it didn't become an Annex 60 standard. I vote that we remove it, otherwise it is a bit weird to have this inconsistency. A documentation template however is a very good idea, so in case the IPBS

[2017-04-25 12:28] PMehrfeld commented on #333
- I would not transfer any model of our old HVAC library, since current `AixLib.Fluid.FixedResistances.HydraulicResistance` is easier to use than `HVAC.Components.HydraulicResistance.HydResistance`.
- Also models of package `HVAC.Components.HydraulicResistance.T_elements` are not really necessary as everyone can compose ideal junctions and hydraulic resistances by themselves.
- Further information

[2017-04-25 12:49] TobiasBlacha commented on #335
During the transfer of the pipe model I noticed some points:
- The variable "diameter" was incorrectly parameterized
- The star connector is not in use when the pipe has an insulation (why?)

[2017-04-25 15:50] PMehrfeld commented on #285
Closed by #370

[2017-04-25 15:52] TobiasBlacha commented on #335
The pipe model was extended by the parameter isEmbedded, which can be used to distinguish whether the pipe is embedded in a solid material or not. If the pipe is embedded in a solid material, there is no radiative and convective heat transfer.
The applications of the pipe model have also been expanded:
- Pipe without heat losses
- Embedded Pipe (heat losses)
- Embedded Pipe with insulation (heat l

[2017-04-25 18:02] pema1 commented on #184
Hello @AnaConstantin,

We currently experience one rather important problem with our pump model (and probbaly with the Annex60 models also) in that it cannot consider other pumps in a network properly. If you have two pumps in a row for example the stronger one will push through the smaller. The amount of water can be considerable in real life but that is often not considered when designing a syst

[2017-04-25 18:18] pema1 commented on #333
In `AixLib.Fluid.FixedResistances.HydraulicResistance`
- Should we have a reverse formulation for m_flow = f(dp) also?
- density (rho) should maybe based on the average static pressure in the pipe? Currently only considers port_a.p regardless of flow direction.

[2017-04-25 18:30] Mathadon commented on #184
@pema1 what pump do you use? And what pressure drops are there downstream of the pumps. The pumps are not really designed to be used in series but I think it should be possible if your overall system makes sense.

[2017-04-25 22:39] AnaConstantin commented on #184
@pema1 my suggestion is to try and implement a resistance over the on/off block in our HVAC model. Now it is a smooth between zero and the current head value of the pump, when the pump turns off. We can just put another value for zero for a quick test. It should definetly work when there is another pump working in the system and the second pump turns off. I'm curios how it will work with just one

[2017-04-25 22:52] Mathadon commented on #184
I'm not sure what the system looks like so it's hard to tell :)

[2017-04-26 06:52] AnaConstantin commented on #184
@Mathadon I meant the assement of the pump models in the IPBSE/Annex60 library, the ones in the Fluid.Movers -Package.

[2017-04-26 10:00] pema1 commented on #184
@Mathadon I am using an internal model developed at our institute. It is not public yet. I will ask for permission to share it with you for discussion. The hydraulic resistances in the network are mostly simple pressure drops in pipes and junctions of the form dp=f(C, m_flow), where C is a resistance factor. Valves from MSL are also included. I try to use only MSL or AixLib components if possible.

[2017-04-26 19:28] PMehrfeld commented on #333
Thanks for these hints @pema1!

After evaluating particular models of MSL and IPBSA library, I am modelling a suitable hydraulic resistance with `zeta` and `diameter` as main parameters. I extend `AixLib.Fluid.BaseClasses.PartialResistance` to stay consistent with  Annex 60 / Project 1 conventions.

To react on your two bullet points:

- Now a `from_dp` is considered
- Since I am using the functio

[2017-05-02 14:10] MBaranskiEBC opened #371 "Example of hydraulic system"
## What is the problem?
- There is no detailed example of a hydraulic system, only simplified systems such as "SimpleHouse" or "HeatPumpDetailed"

## Why do we want to solve it?
- A more detailed example would show how various components can be connected. It can further serve as a basis for future developments or specific case studies

## How do we want to solve it?
- We can integrate a simple  mo

[2017-05-02 14:15] PMehrfeld commented on #371
@MBaranskiEBC: Absolutely appreciating that you are going to integrate such a example!
But I know about two more examples in AixLib containing an example for a hydraulic system:

- `AixLib.Building.HighOrder.Examples.Appartment_VoWo`
- `AixLib.Building.HighOrder.Examples.RoomGFOw2_DayNightMode`

[2017-05-02 14:22] MBaranskiEBC commented on #371
@PMehrfeld Thanks I just took a look at them. The focus in those examples is more on the demand side, whereas the model we already have in the private repo is a energy conversion system. So it could complement the existing examples.

[2017-05-02 14:51] marcusfuchs commented on #371
@MBaranskiEBC
I think such detailed examples would greatly help to improve the usability of AixLib. I would be great if the model documentation would explain what users should look after in the model and its results.

[2017-05-02 17:17] MBaranskiEBC commented on #371
I have added a first version of the hydraulic system example. I will try to finalize it this week and create a pull request.

[2017-05-03 12:50] marcusfuchs opened #372 "Keep a pool of easy-to-solve issues for beginners"
## What is the problem?

- New contributors (e.g. students using AixLib for their thesis work) sometimes struggle with learning Modelica, AixLib, Git and the necessary workflows all at the same time while already being occupied with working on their thesis topic.

## Why do we want to solve it?

- If we help new contributors to quickly learn how to contribute to AixLib, things may get easier for a

[2017-05-03 14:07] PRemmen commented on #372
No objections at all. This might help to get new user actively involved into our development process!

[2017-05-03 14:23] marcusfuchs commented on #372
I think 2 thumps-up are motivation enough, so I'll add a first example issue that is very easy to solve.

[2017-05-03 14:33] marcusfuchs opened #373 "HeatPump simple contains undocumented components"
## What is the problem?

As described in our [modeling guidelines on Documentation](https://github.com/RWTH-EBC/AixLib/wiki/Documentation#description-string) (specifically [here](https://github.com/RWTH-EBC/AixLib/wiki/Documentation#description-string)), all parameters, variables and components should have a documentation string. These documentation strings are in part missing in `AixLib.Fluid.Hea

[2017-05-04 08:07] marcusfuchs commented on #372
I have added [a short tutorial on how to solve a first issue for beginners to our Wiki](https://github.com/RWTH-EBC/AixLib/wiki/First-contribution).

[2017-05-04 09:20] marcusfuchs commented on #354
@MBaranskiEBC
As I understand it, this issue is not completely solved by #355, right? I will therefore leave it open.

[2017-05-04 09:29] MBaranskiEBC commented on #354
@marcusfuchs yes thanks! I will continue working on it by adding further controllers and interfaces for other components. As far as the heat pump model (#308) and the pump (#184) are concerned, @AnaConstantin and I will work in the respective branches to modify the models accordingly. So it's a good thing that we have the first interfaces and controllers in the development branch.

[2017-05-04 09:38] marcusfuchs commented on #372
@alexanderAKU and @aku-cbe:
As you are planning to work intensively on AixLib as described in #360 and you would both be first-time contributors to AixLib: would you be interested in having a look at the [short tutorial on how to solve a first issue for beginners to our Wiki](https://github.com/RWTH-EBC/AixLib/wiki/First-contribution) and try this process?

[2017-05-05 06:44] marcusfuchs commented on #365
I agree with @AnaConstantin - the stars are nice, but I would also remove them. Our documentation template (based on the [IBPSA/A60 template](https://github.com/ibpsa/modelica-ibpsa/wiki/Style-Guide#documentation)) is [in our Wiki on the *Documentation* page](https://github.com/RWTH-EBC/AixLib/wiki/Documentation#template). But it is down there at the bottom. Maybe it deserves its own page with 1 o

[2017-05-05 07:17] AnaConstantin commented on #365
I think we should also move the tempate in the User's Guide in AixLib. For me it makes the most sense to have it there, since you can just copy the template and fill it in. We already have two templates under AixLib.UsersGuide.Conventions, so I suggest removing them and adding the correct one.

[2017-05-05 09:28] marcusfuchs commented on #365
@AnaConstantin You are right, I will open a new issue for that and put the template there.

[2017-05-05 09:30] marcusfuchs opened #374 "Add correct documentation template to the User's Guide"
## What is the problem?

Our documentation template is only up to date in the Wiki, but not in the library (as dicussed in #365)

## Why do we want to solve it?

It is a convenient option for many users to copy the template from the User's Guide within the library rather than from the Wiki

## How do we want to solve it?

We'll add the template from the Wiki to the User's Guide and link to the Wik

[2017-05-05 14:28] FelixBue opened #376 "Addition of undisturbed ground temperature model"
## What is the problem?

- There is no ground temperature model in the AixLib

## Why do we want to solve it?

- For the comparison of low temperature networks to conventional district heating, thermal losses in the distribution pipes should be modeled. A model for the ground temperature trajectory over a whole year is more precise than a constant temperature.

## How do we want to solve it?

- Ad

[2017-05-05 14:40] FelixBue opened #377 "Integrate Agent-based control library into AixLib"
## What is the problem?

- Agent-based control library isn't published anywhere

## Why do we want to solve it?

- It is ready to be published in some form and could be a suitable addition to the "Controls" package in the AixLib. The use has been shown in the domains of building energy systems and urban energy systems.

## How do we want to solve it?

- As discussed with @marcusfuchs , add the lib

[2017-05-08 15:11] marcusfuchs opened #378 "Merge Modelica IBPSA Library into AixLib"
We should update AixLib to the latest version of the [Modelica IBPSA Library](https://github.com/ibpsa/modelica-ibpsa). For this, `mergeAnnex60toAixLib.py` needs to be replaced and updated as well.

[2017-05-08 15:57] marcusfuchs commented on #378
I tried merging the new library to AixLib.  The result is on branch [`issue378_ibpsa2aix`](https://github.com/RWTH-EBC/AixLib/tree/issue378_ibpsa2aix). I'll check the result. Would be great if others (e.g. @mlauster @PRemmen @PMehrfeld @MichaMans @AnaConstantin ...?) could also check whether this went right.

[2017-05-08 17:34] PMehrfeld commented on #378
@marcusfuchs: When I do a Check (F8 in Dymola) for `AixLib`, I receive the same errors / warnings / messages as when checking the current `development`.
Thus, at least in the context of a package check, the merge seems to have worked properly.

Btw: 2 errors occur because `DataBase.Pipes.PipeBaseDataDefinition` is missing in the model `AixLib.DataBase.Storage.BufferStorageBaseDataDefinition`.
I do

[2017-05-09 07:10] marcusfuchs commented on #378
@PMehrfeld Thanks for checking. As far as I can see, the Database entries for pipes are also missing in our current `development` branch. Therefore this does not seem to be a problem with the IBPSA merge. Therefore I suggest to fix that in a separate issue.

Upon loading the library, I got another error because the package order of `AixLib.Utilities.Sources` wrote `ncDataReader` starting with `n`

[2017-05-09 07:17] mlauster commented on #378
@PMehrfeld, @marcusfuchs, I fear the pipes-stuff was me for #285. I searched for usages, but couldn't find any. I will revert that by re-opening that issue. But I agree, that is not related to this issue here.

[2017-05-09 07:18] mlauster commented on #285
Pipes database package needs to be reintegrated

[2017-05-09 07:26] mlauster commented on #378
Regarding the Release, as a last check it would be helpful what for new files have been added. Sometimes, we still have deleted models as files in our structure as Dymola only changes the package.order but does not physically delete models. When merging with buildingspy, all that files as discovered and re-added to the package.order files. Unfortunately, Firefox is struggling with github and I can

[2017-05-09 07:36] marcusfuchs commented on #378
At least from the changes in the package orders, I cannot see any old models re-appearing.

[2017-05-09 09:02] PMehrfeld commented on #378
@marcusfuchs: Thanks for capitalizing the file name and model name in the order file. I saw this too, but forgot to commit it ;)

To avoid "file debris" we could additionally store a copy of AixLib in directory mode in Dymola so that the whole library will be stored in file structure. Then delete library folders that belong to the library. Of course not the folders `Images` and `Resources` and we

[2017-05-09 12:45] tbeu opened #379 "Illegal syntax"
(size(var))[1] needs to replaced by size(var, 1) in all places of [ncDataReader.mo](https://github.com/RWTH-EBC/AixLib/blob/development/AixLib/Utilities/Sources/ncDataReader.mo#L34).

[2017-05-09 12:54] PMehrfeld commented on #379
@tbeu: Thanks for this hint.
I assigned myself a bit too quick. I think this might be a [`good first issue`](https://github.com/RWTH-EBC/AixLib/issues?q=good+first+issue+label%3A%22good+first+issue%22).
See #372
Important hereby is the [short tutorial on how to solve a first issue for beginners which is in our Wiki](https://github.com/RWTH-EBC/AixLib/wiki/First-contribution).

So, if someone knows

[2017-05-09 13:09] mlauster commented on #285
closed via #380

[2017-05-09 13:09] #285 closed

[2017-05-09 15:57] alexanderAKU commented on #372
We are going to try the [short tutorial on how to solve a first issue for beginners in our Wiki](https://github.com/RWTH-EBC/AixLib/wiki/First-contribution).

[2017-05-10 10:02] marcusfuchs commented on #378
I hope that in the future we may be able to rely on unit testing, continuous integration, and heavy usage of AixLib (fingers crossed...). This would hopefully catch any merging errors. In the meantime, I would be OK with some manual checking efforts. If we see this does not work, we could go back to your suggested work-around?

Also, as there are no objections, I will go ahead and create a merge r

[2017-05-10 10:13] AnaConstantin commented on #378
Shouldn't all models be in separate files anyway, in order to ensure compatibility with OpenModelica?

[2017-05-10 10:18] marcusfuchs commented on #378
I agree that this would be much better. We could set the conversion to everything saved in files as part of the v0.6.0 milestone? Or should we do this for v0.5.0? Not sure whether that would affect the numerous open pull requests.

[2017-05-10 10:20] AnaConstantin commented on #378
I suggest to open an issue for the v 0.6.0. milestone for this. However, if these models come from the IBPSA library, such as AixLib.BoundaryConditions.Types, does it make sense to do it in AixLib?

[2017-05-10 10:25] marcusfuchs commented on #378
In general, I would suggest to always open an issue in AixLib so that everyone has the chance to be aware of the problem. If the problem concerns a model/package from the IBPSA Modelica Library, we can open another issue in the IML repository, referencing our AixLib issue.

[2017-05-10 14:06] RoozbehSangi commented on #377
HVACAgentBasedControl library added.

[2017-05-10 14:42] PRemmen commented on #276
partly solved with #368 (only for LOM)

[2017-05-10 16:05] FelixBue commented on #377
Thanks! I will add my adjustments tomorrow.

[2017-05-11 10:01] mlauster commented on #378
closed via #381

[2017-05-11 10:01] #378 closed

[2017-05-11 10:02] FelixBue commented on #377
@RoozbehSangi Did you find a way to make the library work without the additional C-Funktions in the resources folders ("Include, Library, src and test")? If not, these need to be added.

I can do that and adjust the paths such that the resources are all in the general AixLib/Resources folder instead of AixLib/Controls/HVACAgentBasedControl/Resources. Would that be the best practice, @marcusfuchs ?

[2017-05-11 10:04] marcusfuchs commented on #376
This is now on the development branch.

[2017-05-11 10:04] #376 closed

[2017-05-11 10:12] marcusfuchs commented on #377
I would be in favor of organizing all resources in `AixLib/Resources` rather than in `AixLib/Controls/HVACAgentBasedControl/Resources`

[2017-05-11 10:46] RoozbehSangi commented on #377
@FelixBue Those C-functions are required, but I agree with Marcus, so please change the paths to AixLib/Resources.

[2017-05-11 10:50] marcusfuchs commented on #379
This is actually needed to be fixed in order for AixLib to work in OpenModelica, too. Therefore, I will quickly fix this for the upcoming v0.5.0 release.

[2017-05-11 11:31] PMehrfeld commented on #377
Actually they MUST be included in `AixLib/Resources` followed by a standarized folder structure.
For information and examples see chapter 12.9.4 of the current [Modelica Language Sepcifications](https://www.modelica.org/documents/ModelicaSpec33Revision1.pdf)!
Then you only need to specify the files' names without any path. The compiler will find the correct `*.a / *.h / *.dll` files according to t

[2017-05-11 11:36] PMehrfeld commented on #379
What have been a good first issue ;)
But I totally agree with you, @marcusfuchs, that this must have been done for v0.5.0.

[2017-05-11 11:36] #379 closed

[2017-05-11 12:09] marcusfuchs opened #384 "Problems with package.order files"
## What is the problem?

- In `AixLib\Utilities\Communication\SocketCommunication\UsersGuide`, the `package.order` mentions `UsersGuide`, which is wrong
- The merge script seems to have problems with the package order of `D:\modelica\AixLib\AixLib\Fluid\HeatExchangers\Radiators\BaseClasses\RadiatorTypes`

## Why do we want to solve it?

- This error prevents AixLib from working in OpenModelica.

I

[2017-05-11 12:11] marcusfuchs commented on #384
Regarding the `RadiotorTypes`, we seem to have had the same problem for the v0.4.0 release. I'll go for the quick fix here, but we should think about how to fix this long-term. Is anyone actively using these RadiatorTypes?

[2017-05-11 12:32] FelixBue commented on #377
Cool, thanks!

[2017-05-12 07:10] marcusfuchs commented on #384
This is now on development branch.

[2017-05-12 07:10] #384 closed

[2017-05-12 07:29] marcusfuchs opened #386 "Possible restructuring of the Modelica IBPSA Library"
In ibpsa/modelica-ibpsa#778 @mwetter is proposing a major restructuring of the Modelica IBPSA Library that would also affect AixLib. This issue is to make everyone aware of the discussion to happen in ibpsa/modelica-ibpsa#778 and to discuss the implications for AixLib.

Currently, the basic structure of our libraries is a more generic one. E.g. fans and pumps are both modeled with `AixLib.Fluid.Mo

[2017-05-12 07:52] mlauster commented on #386
Being more user-centered is always a good idea and with the current structure we had the same confusion (where do I find a fan?) already at our institute. So I really love the idea of having an easy-to-understand structure with maybe again an `HVAC`-package. On the downside, this would mean a lot of work, in particular regarding conversion scripts. And before that transformation, we should integra

[2017-05-12 07:58] AnaConstantin commented on #386
For me this is awsome news @marcusfuchs. I totally agree that we should have a user-centered approach, because we want other people, as just us the developers, to start using the libraries. I do not think more packages are a problem, as for me "fan" and "pump" together are a lot easier to understand when just reading them, than "movers". As a user I want to understand quickly what kind of models a

[2017-05-12 09:02] FelixBue commented on #377
I have included all the necessary functions and the pictures in the documentation windows. I also updated the examples to use the thermalZone model of the current library. I had to make some adjustments because the IBPSA weather bus is now used in this model.

It also seems that there is only a profile for an office room available in the thermalZone model at the moment. So the examples will delive

[2017-05-12 12:38] TobiasBlacha commented on #386
I also think a new structure of the library makes sense. Especially the fluid package is confusing for the user, for example, I would not suspect the AixLib.Fluid.Solar.Electric.PVSystem model in this package. I think it is helpful to separate the models according to the medium. In addition, I think the idea to separate the models by their function is very good. For the user, it is much easier to

[2017-05-15 13:55] aku-cbe commented on #373
I will do this first issue

@alexanderAKU

[2017-05-15 15:01] aku-cbe commented on #372
Is there a difference in pushing branches and pushing commits?
In the tutorial first contribution it says I should push my commits regularly, and in the last section I should now finally push my branch to the origin.
But I pushed my branch already together with the commits, haven't I ?
So this statement doesn't make any sense to me.

@marcusfuchs

[2017-05-15 15:10] marcusfuchs commented on #372
@aku-cbe Thanks for the feedback. I slightly changed the wording, so that you are now asked not to push commits, but your branch containing the commits. Also, in the end you are asked to push your branch *again* after merging the current `development` branch from origin. Is that clearer?

[2017-05-15 15:14] aku-cbe commented on #372
Yes I guess.
But I started a Pull Request to merge into master, not development.
Can I delete that somehow? :(

[2017-05-15 15:37] marcusfuchs commented on #372
@aku-cbe I already fixed that. I changed the tutorial to mention changing the base branch specifically, so it will be easier for the next persion. In addition, I mentioned adding your author information to the model's revision history. Thanks again! Only by actually trying the process we learn what is missing from the tutorial.

[2017-05-15 16:20] marcusfuchs commented on #373
This is now on the `development` branch.

[2017-05-15 16:20] #373 closed

[2017-05-16 09:27] ThomasSchuetz commented on #386
I also support the idea of restructuring AixLib.

The current structure has always been counterintuitive to me. Since I do not use AixLib on a regular basis, I usually need a few minutes to get back into the logic behind the ordering in this library. Restructuring AixLib would probably solve this issue.

[2017-05-16 10:04] MichaMans commented on #386
I vote for a more intuitive structure and therefore for the restructuring!

[2017-05-16 12:49] aku-cbe commented on #372
@marcusfuchs asked me to summarize my experience with this process.#

It first I was quite reluctant to do this extra work because, after the tutorial I did, I wanted to start with my work.
In the end it took me maybe 1 to 2 hours of work and I learned quite a bit about the issue structure and the different branches, i.e. the architecture of the AixLib.
I guess this will proof helpful when startin

[2017-05-16 14:09] marcusfuchs commented on #372
@aku-cbe Thank you for the open feedback! And I'm happy to hear that it helped you. For me, the efforts were not that significant:

- Finding a small error in the library and creating the issue: 10-15 minutes
- 1st review: around 10 minutes
- 2nd check and final merge: 5 minutes

All of that is low-commitment-work that can be done in between other tasks. And I would expect that this time investmen

[2017-05-16 14:53] alexanderAKU opened #389 "Discussion and Improvement of Filtered Valve Opening"
## What is the problem?

- The filtered valve opening of the valve models in Fluid.Valves is based on a 2nd order filter. As a result, the opening and closing of the valve starts some seconds after changing the input signal (see the picture below).
To my mind, the valve should change the direction (opening or closing) directly or at least more faster after a change.

## Why do we want to solve it?

[2017-05-16 15:02] alexanderAKU commented on #389
![valvetest](https://cloud.githubusercontent.com/assets/18326590/26112475/48f709ea-3a58-11e7-875d-b42b1f965980.PNG)

The picture shows the filtered valve opening (val.y_actual) for a changing input or set value (val.y).
I think that a delay of around 6s is too long.
I used the preset parameter values for this example.

@AnaConstantin and @pema1  what do you think about that?

[2017-05-17 08:22] SebastianRoc commented on #332
Hello Ana,
sorry for my late reply, I was very busy to an other project the last weeks.
Could you send me a link of the latest version of model.  I would like to get an idea, whether the programm is to be considered to my problem.
If that is the case I could help to develop it.

[2017-05-17 12:02] mschumacher247 commented on #386
Since we had a lot of effort developing these Libraries (and possibly will have in the future) it would be reasonable to be a bit more "customer oriented". Maybe we can activate a broader user basis, apart from academia. Therefore switching to a more user-centric approach would be a good idea.

[2017-05-17 12:04] JSchiefelbein commented on #386
Dito: If the restructuring process enables a simpler and more intuitive usage of the IBPSA (and AixLib), it should be performed.

[2017-05-18 07:12] marcusfuchs opened #390 "HeatPumpDetailed contains undocumented components"
## What is the problem?

- Much like in #373, the model `AixLib.Fluid.HeatPumps.HeatPumpDetailed` contains elements without doc-strings. See #373 for a detailed description of the problem

## Why do we want to solve it?

- Documentation strings make it a lot easier for everyone to quicker and better understand the model
- This is a good first issue (not much effort and expertise are needed to fix

[2017-05-18 07:17] marcusfuchs opened #391 "Improve documentation on heat pump examples"
## What is the problem?

- Just as #373 and #390 , the example models `AixLib.Fluid.HeatPumps.Examples.HeatPumpDetailed` and `AixLib.Fluid.HeatPumps.Examples.HeatPumpSimple` contain elements that are missing a doc-string. See #373 for a detailed description of the problem.
- In addition, both models contain a typo in their documentation: `consumptiion` should be `consumption`.

## Why do we want t

[2017-05-18 07:29] marcusfuchs commented on #386
Even though not everyone gave their opinion until now, it seems the general opinion is very much in favor of the restructuring. I will therefore communicate this view to the IBPSA Modelica Libary group. Nevertheless, feel free to add to the discussion, as I would expect that this topic will be with us for a while and it's important to everyone.

[2017-05-18 12:14] marcusfuchs opened #393 "Copyright file needs to be updated"
The copyright file mentions

The `2014` part needs to be updated.

[2017-05-18 14:32] AnaConstantin commented on #328
Closed via pull request #369

[2017-05-18 14:32] #328 closed

[2017-05-19 08:16] MirkoEngelpracht commented on #391
@marcusfuchs: Hello Marcus, I'd like to do this issue as my first issue.

[2017-05-19 09:49] mschumacher247 opened #394 "issue394_Multizone_nPorts"
## What is the problem?

- Compilation of Multizone Example in JModelica throws an error

## Why do we want to solve it?

- Because we can

## How do we want to solve it?

- Remove nPorts from Multizone model

![multizone_error](https://cloud.githubusercontent.com/assets/8257582/26242513/0292e5a4-3c89-11e7-8d35-fe95af12a645.png)

[2017-05-19 09:55] mlauster commented on #394
Hm, I don't see a better solution for that soon, so go ahead and create a PR, @mschumacher247!

[2017-05-19 10:10] marcusfuchs commented on #391
Perfect, I'd suggest you go ahead and follow [the tutorial for first-time contributors](https://github.com/RWTH-EBC/AixLib/wiki/First-contribution). If you need any help or something is not clear, just post here and we'll be happy to help and improve the tutorial.

[2017-05-19 10:11] marcusfuchs commented on #394
@mschumacher247 Are you testing this with JModelica 2.0, too?

[2017-05-19 11:10] AnaConstantin commented on #374
Was closed via pull request #375

[2017-05-19 11:10] #374 closed

[2017-05-19 13:40] MichaMans commented on #309
Workflow recommendations:
- checkout a new branch from development branch
- checkout specific files or folder you want to integrate in small steps with:
git checkout issue309_fastHvac -- Path/To/Your/Specific/File
- add and commit these files, to adjustments, make PR

[2017-05-20 11:57] mla-srs opened #397 "Window Models"
I want to integrate window models based on the guideline VDI 6007. It includes shadow calculations, more accurate correction values (CorG) and illumination calculations. Alltogether the direct heat transfer through the window into the room and the heat because of the illumination is calculated.

[2017-05-22 07:05] PRemmen commented on #365
Our goal is to delete all stars from AixLib documentation

[2017-05-22 07:18] marcusfuchs commented on #391
This is now on the development branch.

[2017-05-22 07:18] #391 closed

[2017-05-22 09:52] AnaConstantin commented on #394
In order to not forget, I'm assigning to this issue in order to ask by Modelon if they have a different suggestion for a solution, as such problems might appear in other models build under Dymola.

[2017-05-22 10:14] AnaConstantin commented on #389
@alexanderAKU I assume you are refering to the models from the MSL. The filtered opening option should be used for stability reasons, as explained in Modelica.Fluid.Valves.BaseClasses.PartialValve. The parameters of the filter should be set according to the desired response of the system where the valve is integrated. Additionally you can go inside the model and change the type of filter use to on

[2017-05-22 14:57] mschumacher247 commented on #394
Test was done with nightly build r9895 of JModelica SDK. So Version 2.0 should be covered too

[2017-05-23 07:30] MirkoEngelpracht commented on #372
@marcusfuchs Marcus asked me to share my experience with the tutorial and the merging process. Therefore, I'll give a short feedback:

**The tutorial**
In my opinion, the tutorial is easy to follow and most of the instructions are clearly understandable. However, I've struggled a bit with two instructions:

At the beginning, I was not sure how to do this because I thought all new branches will sta

[2017-05-23 10:48] mla-srs commented on #397
Do you want me to integrate the SolarGain directory to the Windows directory or should it remain seperate? @mlauster

[2017-05-23 12:18] mlauster commented on #397
Hm, what you think is more clear, @mla-srs . It might make sense to add it to the windows directory

[2017-05-23 12:59] mlauster commented on #394
closed via #399

[2017-05-23 12:59] #394 closed

[2017-05-23 13:29] marcusfuchs commented on #372
@MirkoEngelpracht Thank you for the feedback! I updated both parts of the tutorial which were not clear to you. Could you please check if it is clearer now? (hint: You correctly branched off the development, but you did not merge the most recent development back into your local branch before the pull request. This is no problem as long as the development has not changed since you branched off it,

[2017-05-23 13:40] MirkoEngelpracht commented on #372
@marcusfuchs Thank you for the update. It's clearer now!

[2017-05-23 13:57] marcusfuchs commented on #372
Ok perfect, thanks again. I will close this issue for the moment, but feel free to reopen any time to continue the discussion or open a new one for specific feedback to parts of the tutorial or the process.

As a conclusion, I will try to continue supporting the good first issue process and encourage all students and new colleagues to go through the tutorial before starting bigger tasks.

[2017-05-23 13:57] #372 closed

[2017-05-23 15:56] mla-srs commented on #397
I would say so too. For the upper class window models the correction values are used. So actually it is a base class for them.

[2017-05-24 09:44] pema1 commented on #389
@alexanderAKU I think that the slow acceleration in the beginning is not right and neither the slowdown in the end. I would expect a linear change of position for a normal motor valve. Using the filter for stability, however, I find a good approach - maybe with a smaller time constant.

For valve actuators I find some example values (full stroke time):

* Johnson Controls VA-703x: 3 min and 5 min

[2017-05-24 12:04] PMehrfeld opened #400 "collect topics for next release"
This is an issue, where we collect possible topics for the release of AixLib v0.7.0

I would suggest to create kind of a pool in this issue chat. In particular this means, each suggestion for one topic should be written in one comment. All contributors can use the thumbs up symbol to vote for this topic.

[2017-05-24 12:05] PMehrfeld commented on #400
compatibility with OpenModelica

[2017-05-24 12:05] PMehrfeld commented on #400
continuous integration

[2017-05-25 12:41] marcusfuchs opened #402 "District Heating: Add reference network examples"
## What is the problem?

For our efforts to model district heating and cooling networks, it would be useful to have reference networks with documented reference results. This can be a basis for comparisons, validation, and testing.

We know of the following reference networks reported in literature:

- Example Figure 4.24 in [Larock et al., Hydraulics of Pipeline Systems, 2000](https://www.crcpres

[2017-05-26 08:50] PMehrfeld commented on #365
Since it is not urgent, it's not my priority no. 1. But I'll take care of this.

[2017-05-26 08:59] AnaConstantin commented on #333
Closed via pull request #366

[2017-05-26 08:59] #333 closed

[2017-05-26 09:54] marcusfuchs opened #403 "Add District Heating and Cooling models"
## Update

We are trying to make a renewed effort to add DHC models to AixLib, concentrating our previous activities from different projects.

This issue will be the central reference for a branch `issue403_dhc`, in which we will continue our development until a first version is ready for merging to the `development` branch. We may require different feature branches that first merge to `issue403_d

[2017-05-26 09:57] marcusfuchs commented on #402
I'll postpone adding the thermal example mentioned above, and first concentrate on #403.

[2017-05-29 17:22] PMehrfeld opened #404 "Conversion script of current development with v0.5.0"
## What is the problem?

- With #366 the parameter `D` in model `AixLib.Fluid.FixedResistances.HydraulicResistance` changed to `diameter` (according to the [Wiki conventions](https://github.com/RWTH-EBC/AixLib/wiki/Variable-Naming))

## Why do we want to solve it?

- So that errors will be avoided automatically.

## How do we want to solve it?

1. Change (in development branch) AixLib version from

[2017-05-31 07:50] tst-pth opened #406 "#405 New Battery model based on the M5BAT battery model"
## What is the problem?

There shall be a battery model, in which it is possible to set parameters like the number of cells installed, the heat capacity of the battery type, etc., so that Dymola can automatically calculate the important values for the simulation directly (e.g. the surface, where the heat can be transferred).

## Why do we want to solve it?

To make the use of battery models easier

[2017-05-31 12:07] RoozbehSangi commented on #335
The outcome of discussions with Ana and Tobias about the last status of the pipe model: Tobias is currently integrating all our old pipe models into one. He'll tell us whenever he is done, thank you Tobias!

[2017-05-31 13:01] RoozbehSangi commented on #182
@mlauster At the time MixingValve was developed, there used to be only SimpleValve and ThermostaticValve in our library. Since SimpleValve is going to be deleted, MixingValve should be deleted too, as MixingValve is based on SimpleValve. The following examples should also be deleted:
AixLib.Fluid.Actuators.Valves.Examples.MixingValveBackwardDirection
AixLib.Fluid.Actuators.Valves.Examples.MixingVa

[2017-06-01 07:35] mlauster commented on #182
Thanks, @RoozbehSangi, then the remaining open point is refactoring and moving `ThermostaticRadiatorValve` and `FloorheatingValve`, see comment https://github.com/RWTH-EBC/AixLib/issues/182#issuecomment-296988825 above. @AnaConstantin is in charge of that, so I will assign her to that issue.

[2017-06-02 08:06] MirkoEngelpracht opened #407 "Modular and scalable heat pumps and refrigerating machines"
## What is the problem?

Currently, there are no models that allow building modular and scalable heat pump or refrigerating machine models. In this case, modular means different set-ups like two evaporators (and also two expansion valves), a compressor rack or different refrigerants; scalable means different sizes of each component like the heat exchanger area or the swept volume of the compressor

[2017-06-02 08:45] MirkoEngelpracht opened #408 "Refrigerants R134a and R410a for modular heat pumps"
## What is the problem?

This issue is a work package for issue #407.
Currently, there are no refrigerants within the AixLib library. Therefore, we want to add two different refrigerants (R134a and probably R410a).

## Why do we want to solve it?

We want to solve this for issue #407: The refrigerants can be used, for example, for heat pumps and refrigerating machines.

## How do we want to solve

[2017-06-02 09:38] mlauster commented on #407
It would be really great to have such models! I propose to first have a look at models and issues of https://github.com/ibpsa/modelica-ibpsa, https://github.com/lbl-srg/modelica-buildings, https://github.com/UdK-VPT/BuildingSystems and https://github.com/open-ideas/IDEAS to benefit from existing models and discussions.

[2017-06-02 10:17] MirkoEngelpracht commented on #407
@mlauster Thanks for the hint. I'll check out the different libraries right away.

[2017-06-06 10:45] mschumacher247 opened #409 "issue409_FastHVAC_Heatexchanger"
The Heatexchanger models don't check because of a wrong link to BaseClasses.WorkingFluid
![unbenanntes bild](https://cloud.githubusercontent.com/assets/8257582/26825580/f55788dc-4ab5-11e7-8f92-f8726369e82a.png)

[2017-06-06 16:06] PooyanJahangiri opened #410 "Data center server/serve rack model"
## What is the problem?
There are no models representing data center components, specifically servers and racks.

## Why do we want to solve it?
With the increase of using data centers as a source of flexibility in todays complex energy systems, having a validated but simple model of server racks and servers in a data center can be useful.

## How do we want to solve it?
We will try to move the al

[2017-06-08 09:24] marcusfuchs opened #412 "Re-introduce thermal zone example records"
## What is the problem?

We once had example records for different usages of thermal zones. These were removed, because they were not needed. As #392 shows, these records can help to demo control concepts with more interesting results, though.

## Why do we want to solve it?

Easy fix for more interesting control examples.

## How do we want to solve it?

Restore and update old records which were

[2017-06-08 09:36] marcusfuchs commented on #412
Seems like it's not so easy after all, as the records seem to have changed a lot. I brought back an old record from [commit 41fb74e19925146fff11cdc7c82f357411fd45e3](https://github.com/RWTH-EBC/AixLib/tree/41fb74e19925146fff11cdc7c82f357411fd45e3/AixLib/DataBase/Buildings/OfficePassiveHouse). @mlauster Could you have a look at this and check how much effort it would be to update the old records? O

[2017-06-13 19:32] larsschellhas opened #414 "Add a temperature sensor to the prescribed heat exchanger"
Recently I wanted to use a prescribed heat exchanger for modeling a heat transfer between a fluid and a capacity. For this it would be good to know, what the temperature in the heat exchanger itself is, because I could use it then as prescribed temperature BC (see attached Image)

![image](https://user-images.githubusercontent.com/14281234/27100841-c1b6a1c8-507f-11e7-80a0-070fb0154b51.png)

[2017-06-14 07:14] MichaMans commented on #172
I found some more hits for the non ASCII character search in the development and master branch. I'm changing it in the development for now. 4 affected files found with 7 hits, all german ü.

[2017-06-14 09:26] MichaMans opened #416 "Add Continuous Integration"
At the moment we could integrate the html validator of the buildingspy for the AixLib as a CI Service.  This is hopefully the first step of more CI within the AixLib. I'll therefore do the following steps:
- [x] Activate Travis-CI for the AixLib
- [x] Setup Travis to run the html checks of the documentation
- [ ] Integrate /bin/ directory from the IBPSA library to get the right python files for ru

[2017-06-15 12:00] thorade commented on #356
github introduced the new community checklist:
https://github.com/RWTH-EBC/AixLib/community
https://github.com/blog/2380-new-community-tools

[2017-06-16 09:13] PMehrfeld commented on #390
@MirkoEngelpracht and @marcusfuchs: Is this one already solved by #395?

[2017-06-16 09:20] PMehrfeld commented on #414
@larsschellhas: You can also use the model `Modelica.Blocks.Sources.RealExpression` in order to receive a Real value from any submodel. Using these models is not always the most elegant solution. But you should consider, if this is a suitable solution for you.

[2017-06-19 07:00] AnaConstantin commented on #332
Hi Sebastian,

sorry for the late reply. We are behind schedule with the inclusion of the model.
I just came back from my holiday and will start working on it this week.
Please follow issue https://github.com/RWTH-EBC/AixLib/issues/332 for updates.
Best regards
Ana Constantin

Von: SebastianRoc [mailto:notifications@github.com]
Gesendet: Mittwoch, 17. Mai 2017 10:23
An: RWTH-EBC/AixLib <AixLib@nor

[2017-06-20 06:49] MirkoEngelpracht commented on #390
@PMehrfeld: No, this issue isn't solved by #395. For #395, I Just added the missing doc-strings for the example models.

[2017-06-22 11:13] AnaConstantin commented on #181
I just finished some work on comparing if the calculation of the solar radiation is better left in the weather model, or moved in the wall model.
First I transforemed all the angle calculations from the sun model and the solar radiation models to radian, instead of degrees. This saves minimal time, but I like it better.
Then I adapted both the Liu and the Perez model to work with a bus system.
I m

[2017-06-22 11:14] AnaConstantin commented on #181
As far as transmitting weather information by bus down to the wall model, I think it is a great idea, since outer walls are the ones needing the modes information and can divide it inside the model anyway for each component. It will be dealt in in the issue on bus connectors and walls.

[2017-06-22 12:48] thorade commented on #172
Dymola 2018 release notes mention it is able to handle UTF-8 properly Section 3.2.6):
https://www.3ds.com/products-services/catia/products/dymola/latest-release/
https://www.3ds.com/fileadmin/PRODUCTS/CATIA/DYMOLA/PDF/Dymola_Release_Notes.pdf
Files will be saved as UTF-8 with BOM.

Also, OpenModelica will check the encoding whenever opening a library, so it is recommended to open the library in Op

[2017-06-22 14:46] PMehrfeld opened #420 "HeatPumpDetailed parameter heatLosses_con does not work"
## What is the problem?

- if heatLosses_con is checked, model gets structurally singular
- varTemp.T is connected to at least to variables
- heatConv.port_b is nowhere connected

## Why do we want to solve it?

- Activating the heat losses to ambient does not effect the results.

## How do we want to solve it?

- Evaluate whether heat losses at condenser can be modelled correctly, otherwise I wil

[2017-06-22 15:41] PMehrfeld commented on #390
solved by #413

[2017-06-22 15:41] #390 closed

[2017-06-26 16:54] larsschellhas commented on #414
thanks @PMehrfeld , that´s probably the simplest way. I guess, this ticket can therefor be closed,

[2017-06-26 16:54] #414 closed

[2017-06-30 18:28] marcusfuchs opened #423 "ThermalZone example fails on Linux because of case-sensitivity"
## What is the problem?

The example `AixLib.ThermalZones.ReducedOrder.Examples.ThermalZone` loads weather data from `"modelica://AixLib/Resources/weatherdata/USA_CA_San.Francisco.Intl.AP.724940_TMY3.mos"`. This is no problem on Windows, but actually the path to the weather file is not `.../weatherdata/...` but `.../WeatherData/...`

## Why do we want to solve it?

In order to be able to simulate

[2017-07-03 06:31] #420 closed

[2017-07-03 06:54] marcusfuchs commented on #423
This is now on development.

[2017-07-03 06:54] #423 closed

[2017-07-03 08:15] AnaConstantin commented on #404
Closed with pull request #419

[2017-07-03 08:15] #404 closed

[2017-07-05 16:01] FWuellhorst commented on #365
I wrote a short python script to remove all stars. According to python and notepad++, 210 files had the "star"-description. The function i used just removed the lines containing "Level of Development" and "modelica://AixLib/Resources/Images/Stars/stars". I double checked the number of removed lines with the results i got from the notepad++ find in file option and the number i got searching with py

[2017-07-10 15:19] tst-pth commented on #406
I have just uploaded a first version of the battery model in my fork tst-pth.
The model is built-up as follows:

There is one model for a battery rack in which a number of batteries is installed. The number of installed batteries and the geometry of the rack are calculated by Dymola after giving some parameters to the program. The needed input is the batteries' heat loss. After calculating the val

[2017-07-12 07:51] tst-pth commented on #393
I would like to work on this issue as my good first issue.
Is there any information I need to know about this?

[2017-07-12 08:53] mlauster commented on #393
No, nothing more to know about, it really is that simple. ;) Easiest way would be to set `2014` to `2017`, a bit more sophisticated would be to first check if there is an official way to say that it's `until today`. For this, it might help to check licenses of of other, popular software.

[2017-07-12 08:56] tstorek opened #427 "there are no open good first issues"
## What is the problem?

- there are no open good first issues

## Why do we want to solve it?

- I'd like to start to work with Aixlib

## How do we want to solve it?

- ...

[2017-07-12 09:54] tst-pth commented on #393
Okay thank you :) I just updated the file in a first version by only renaming the "2014" to "2017". I will try to make the changement automatically by using the getTime() function.
My only problem is that I can not push my "issue393_..." branch because it tells me that the permission is denied. Can you maybe please help me with that?

[2017-07-12 10:00] mlauster commented on #393
You have already have a pending invitation to AixLib students group, @tst-pth. You need to accept that in order to have write access on AixLib. You should see some message for the invitation when you are logged in and visit https://github.com/RWTH-EBC or maybe as well https://github.com

[2017-07-12 10:02] PMehrfeld commented on #393
@tst-pth: Additionally, I just updated this invitation. So you probably have a new unread message.

[2017-07-12 11:21] tst-pth commented on #393
Ahh thank you it's working now :)
As mentioned in my last comment I will try to improve the annotation so that the year updates automatically.

[2017-07-13 09:31] PMehrfeld opened #428 "AHU with different V_flow_eta"
## What is the problem?

- In `AixLib.Airflow.AirHandlingUnit.AHU` the outdoor air volume flow automatically equals the extract air volume flow.

## Why do we want to solve it?

- Supply duct and extract air duct might have different volume flows.

## How do we want to solve it?

- Introducing a conditional input connector. Thus, in default mode the two volume flows are still equal. But when using

[2017-07-14 08:28] PMehrfeld commented on #428
merged via #429

[2017-07-14 08:28] #428 closed

[2017-07-14 13:48] PMehrfeld commented on #365
Now in development
closed via #426

[2017-07-14 13:48] #365 closed

[2017-07-17 07:24] mlauster commented on #416
Isn't that already done now, @MichaMans ?

[2017-07-17 11:45] tst-pth commented on #393
I did not find anything in popular libraries concerning the automatic changing of the copyright file. But I created a pull request so that the initial update can be merged ( #430 )

[2017-07-21 11:45] PMehrfeld opened #431 "Changes in HighOrder BuildingModel"
The HighOrder BuildingModel has some issues that I would like to change. In accordance with @AnaConstantin we identified the following problems and discussed how to solve it:

## What is the problem?

1. `AixLib.Building.HighOrder.House.OFD_MiddleInnerLoadWall.BuildingEnvelope.WholeHouseBuildingEnvelope.AirExchangePort[4]` must be a vector of 8.
1. Same model has a package 'Medium' that is not nec

[2017-07-24 08:52] PMehrfeld opened #432 "Move AHU pictures"
## What is the problem?

- In folder  `Images` are still some pictures for the AHU model.

## Why do we want to solve it?

- We have to stick to the folder structure `Resources/Images/...`.

## How do we want to solve it?

- Move necessary files and folders.
- Adapt path in the AHU model.

[2017-07-24 11:10] PMehrfeld commented on #432
closed by #434

[2017-07-24 11:10] #432 closed

[2017-07-24 14:01] PMehrfeld commented on #181
There are two branches:

- issue181_weatherCompare
- issue181_weatherModel

@mlauster you have committed to weatherCompare whilst @AnaConstantin has worked in weatherModel.

Is this correct or should it be merged to one branch?

[2017-07-24 14:05] AnaConstantin commented on #181
there are two different aspects for the same issue. It can be mearged in one branch if it is a problem. The issue181_weatherModel is to be used more as a reference, as nothing done there will be merged in AixLib. I tested several type of models with solar radiation inside or outside the mdoelt o decide which is quicker. I will have to archive the models in a way so the results can be easily reprod

[2017-07-24 14:09] mlauster commented on #181
Same for me, I just compared TRY and TMY data sets, but it does not need to go into development or master, we can delete the branch

[2017-07-24 14:15] PMehrfeld commented on #181
Thanks for your feedback. I deleted branch `weahterCompare`.
@AnaConstantin: When you have thought of a way to archive the branch's interesting models, please delete this branch :)
And of course close this issue, if there are no further open points.

[2017-07-24 14:17] PMehrfeld commented on #271
Just came by to push this quite old issue and branch [issue271_discWall](https://github.com/RWTH-EBC/AixLib/tree/issue271_discWall) ;)

[2017-07-24 14:32] PMehrfeld commented on #337
Something new in this branch [issue337_heatTransferStorage](https://github.com/RWTH-EBC/AixLib/tree/issue337_heatTransferStorage) @SebastianStinner and @ChristianGrozescu?

[2017-07-24 14:40] PMehrfeld commented on #356
Is this issue still relevant @mlauster and @marcusfuchs? I just deleted the branch `issue358_templates` since it was fully merged.
So, if there are no further open aspects, one of you can close this issue.

[2017-07-24 14:47] PMehrfeld commented on #410
@PooyanJahangiri: Is this still an open issue? Are the models from EU Project GEYSER going to be part of AixLib?
Otherwise you can close this issue and delete the branch [issue410_dataCenter](https://github.com/RWTH-EBC/AixLib/tree/issue410_dataCenter).

[2017-07-24 15:24] mlauster commented on #356
Let's close it for now and reopen it if needed.

[2017-07-24 15:24] #356 closed

[2017-07-25 11:21] PMehrfeld commented on #431
Inlcuding commit ba29e46 results in terms of 4 exemplary room temperatures stay the same:
![grafik](https://user-images.githubusercontent.com/11769433/28569865-f32b20da-713b-11e7-8870-4c56d824e60c.png)

[2017-07-25 13:27] #172 closed

[2017-07-25 13:37] PMehrfeld commented on #393
closed via #430

[2017-07-25 13:37] #393 closed

[2017-07-25 13:43] PMehrfeld opened #435 "Overview branches"
This is more or less just for the archive (I'll directly close the issue).

I went through all branches and issues that belong to the branch.

## Overview

**Special branches:**
- development
- master
- release_v05

**Deleted:**
- issue180_noHVAC2
- issue181_weatherCompare
- issue273_illegalInheritancePumps
- issue358_templates
- Annex60_tank_review
- issue172_nonascii
- issue260_ROM_eqAirTemp

**

[2017-07-25 13:44] #435 closed

[2017-07-26 09:44] PMehrfeld commented on #431
From commit fc27e5d onwards results for the example `OFD_1Jan` differ because e.g. TIR was not passed through to the attic and instead of the value 3, the attic "used" TIR = 1, which is the default value.

[2017-07-26 12:04] tst-pth commented on #406
I created a pull request for this issue ( #437 )

[2017-07-27 07:16] tstorek commented on #406
I will fix the white space error by next week and push the model again. Would it be okay to handle the correction as my first good issue?

[2017-07-27 08:11] RoozbehSangi opened #439 "Doc-strings for HVACAgentBasedControl library"
## What is the problem?

- Many models in the HVACAgentBasedControl library lack doc-strings for their parameters.

## Why do we want to solve it?

- To improve the documentation of the model.

## How do we want to solve it?

- By adding doc-strings.

[2017-07-27 10:40] #377 closed

[2017-08-02 14:54] PMehrfeld commented on #431
closed via #436

[2017-08-02 14:54] #431 closed

[2017-09-07 09:10] MichaMans commented on #403
As discussed with @marcusfuchs we should consider a IdealHeatSink (or flow sink) with a input connector. With that, we are able to use DemandTables from text or ncDataReaders or .mos scripts, or outputs of other simulation classes, e.g. the thermal zone idealheatercooler
- [ ] Add IdealHeatSinkInput class